Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: `AdvancedDialog` disable recovery mode for pre v6
  src/modules/dashboard/components/AdvancedDialog/AdvancedDialog.tsx
Due: eslint --fix

Add: type prop to recovery specific events
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/resolvers/recovery.ts
  src/modules/dashboard/components/ActionsPageFeed/index.ts
Due: eslint --fix

Refactored: `ActionsPageFeed` rendering system
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/ActionsPageSystemInfo.css
  src/modules/dashboard/components/ActionsPageFeed/index.ts
  src/modules/dashboard/components/ActionsPageFeed/types.ts
Due: eslint --fix, stylelint --fix

Rename: ActionsPageTip -> ActionsPageSystemInfo
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/ActionsPageSystemInfo.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/ActionsPageSystemInfo.css.d.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/ActionsPageSystemInfo.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/index.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageTip/index.ts
Due: eslint --fix, stylelint --fix

Refactor: `ActionsPageFeed` support system infos
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/ActionsPageFeed/types.ts
Due: eslint --fix

Add: `ActionsPageSystemMessage` component
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemMessage/ActionsPageSystemMessage.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemMessage/ActionsPageSystemMessage.css.d.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemMessage/ActionsPageSystemMessage.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemMessage/index.ts
Due: eslint --fix, stylelint --fix

Fix: `ActionsPageSystemInfo` permission label alignments
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemInfo/ActionsPageSystemInfo.css
Due: stylelint --fix

Add: `ActionsPageFeed` introduced external loading state
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Refactor: `ActionsPageFeed` to support system messages
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Add: system messages copy
  src/App.tsx
  src/i18n/en-system-messages.ts
  src/modules/dashboard/components/ActionsPage/types.ts
  src/modules/dashboard/components/ActionsPageFeed/types.ts
Due: eslint --fix

Refactor: `ActionsPageFeed` get own intitiator profile
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css.d.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix, stylelint --fix

Add: recovery storage slot event copy values
  src/i18n/en-events.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Add: `recoverySystemMessagesForSession` client resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/recovery.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
Due: eslint --fix

Add: `RecoveryAction` custom storage slot value display
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/ActionsPageFeed/index.ts
  src/modules/dashboard/components/ActionsPageFeed/types.ts
Due: eslint --fix, stylelint --fix

Refactor: `ActionsPageFeed` improved render method
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Add: handle storage slot set event
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
  src/data/graphql/typeDefsSubscriptions.ts
  src/i18n/en-events.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/transformers.ts
  src/types/colonyActions.ts
  src/utils/colonyActions.ts
Due: eslint --fix

Refactor: `recoverySystemMessagesForSession` resolver
  src/data/resolvers/recovery.ts
Due: eslint --fix

Refactor: `InputStorageWidget` styles
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `hexString`, `hasHexPrefix` yup string validators
  src/i18n/en-validation.json
  src/modules/validations.ts
  src/typeDefs/yup/index.d.ts
Due: eslint --fix

Fix: `TextAreaAutoresize` expose grey color scheme
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/core/components/Fields/Textarea/TextareaAutoresize.tsx
Due: eslint --fix, stylelint --fix

Add: `ensureHexPrefix` string util method
  src/utils/strings/index.ts
Due: eslint --fix

Add: `getRecoveryStorageSlot` recovery client quiery
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/recovery.ts
Due: eslint --fix

Refactor: `INputStorageWidget` storage slot handle values
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `InputStorageWidget` validate fields
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix

Wire: `InputStorageWidget` get storage slot value
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix

Add: `setStorageSlotValue` redux action and saga
  src/i18n/en.json
  src/modules/dashboard/sagas/actions/enterRecovery.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Add: `InputStorageSlot` loading state
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix, stylelint --fix

Refactor: `MultisigWidget` styles
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `recoveryRolesUsers` client resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/helpers.ts
  src/data/resolvers/recovery.ts
Due: eslint --fix

Add: `InputStorageWidget` update slot value
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
Due: eslint --fix

Add: `MultisigWidget` load user and approvals data
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `recoveryRolesAndApprovalsForSession` client resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/recovery.ts
Due: eslint --fix

Add: `approveExitRecovery` saga
  src/data/resolvers/recovery.ts
  src/i18n/en.json
  src/modules/dashboard/sagas/actions/enterRecovery.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Add: `MultisigWidget` loading state
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `MultisigWidget` fire action to trigger approval
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix

Add: `getRecoveryRequiredApprovals` user resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/recovery.ts
Due: eslint --fix

Fix: storage/multisig widget prevent actions if no role
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix

Add: `MultisigWidget` proper approvals calculations
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
Due: eslint --fix

Fix: `legacyNumberOfRecoveryRoles` client resolver
  src/data/resolvers/recovery.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
