Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Add: `ColonySubscriptionInfoPopover` subcomponent
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Refactor: `ColonySubscription` use our core `Button`
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonySubscription` loading spinner alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonySubscriptionInfoPopover` offset alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix

Fix: `ColonyTitle` minor code styling
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix

Add: `ColonyTotalFunds` native token display
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Add: `ColonyTotalFunds` loading state
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFunds` manage funds controls
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: intiial `ColonyTotalFunds` component
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/index.ts
Due: eslint --fix, stylelint --fix

Revert: erroneous `ColonyNavigation` link changes
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Add: `ColonyTotalFunds` caret icon
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFundsPopover` based on new specs
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFundsPopover` sub-component
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Added: `MuliWeb` light variant
  src/fonts/muliweb-bold.woff
  src/fonts/muliweb-bold.woff2
  src/fonts/muliweb-italic.woff
  src/fonts/muliweb-italic.woff2
  src/fonts/muliweb-light.woff
  src/fonts/muliweb-light.woff2
  src/fonts/muliweb.woff
  src/fonts/muliweb.woff2
  src/styles/fonts.css
  src/styles/variables.css
Due: stylelint --fix

Fix: `ColonyTotalFundsPopover` offset alignment
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix

Fix: `ColonyTotalFunds` styles after specs were changed
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFunds` select token logic
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFundsPopover` highlight selected token
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFunds` remove manage funds link outline
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFundsPopover` better list center alignment
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Fix: `ColonyTotalFundsPopover` list padding
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Update: `Popover` dropshow based on new specs
  src/modules/core/components/Popover/PopoverWrapper.css
Due: stylelint --fix

Rename: `MuliWeb` font due to rights issues
  src/styles/fonts.css
Due: stylelint --fix

Add: `ColonyTotalFundsPopover` handle too many tokens case
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Refactor: `ColonyTotalFunds` better component selection
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Update dependency nanoid to v3
  package-lock.json
  package.json
Due: none

Fix: `nanoid` imports after version update
  src/modules/core/components/Dialog/DialogProvider.tsx
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
  src/modules/core/components/Fields/InlineEdit/MultiLineEdit/MultiLineEdit.tsx
  src/modules/core/components/Fields/InlineEdit/SingleLineEdit/SingleLineEdit.tsx
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Radio/Radio.tsx
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Textarea/Textarea.tsx
  src/modules/core/components/MnemonicGenerator/MnemonicGenerator.tsx
  src/modules/core/components/OmniPicker/withOmniPicker.ts
  src/modules/core/components/Popover/Popover.tsx
  src/modules/core/sagas/ipfs.ts
  src/modules/core/sagas/messages.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/TaskEditDialog/TaskEditDialog.tsx
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.tsx
Due: eslint --fix

Fix: `string` utils nanoId due to version change
  src/utils/strings/index.ts
Due: eslint --fix

Update dependency eslint to v7
  package-lock.json
  package.json
Due: none

Update dependency ts-jest to v26
  package-lock.json
  package.json
Due: none

Update dependency web3-eth-abi to v1.3.0
  package-lock.json
  package.json
Due: none

Update: package lock file
  package-lock.json
Due: none

Update dependency yup to ^0.29.0
  package-lock.json
  package.json
Due: none

Update dependency @types/jest to v26
  package-lock.json
  package.json
Due: none

Update dependency @types/react-beautiful-dnd to v13
  package-lock.json
  package.json
Due: none

Update dependency linkify-it to v3
  package-lock.json
  package.json
Due: none
