Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

changed calculateTokens hook to return tokens array with calculated amount
  src/modules/dashboard/components/ExpenditurePage/Stages/ClaimFunds/ClaimFunds.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/hooks.ts
Due: eslint --fix

adjust styles
  src/modules/dashboard/components/ExpenditurePage/Stages/ClaimFunds/ClaimFunds.css
  src/modules/dashboard/components/ExpenditurePage/Stages/ClaimFunds/ClaimFunds.tsx
Due: eslint --fix, stylelint --fix

feat:add colony event metadata converter routines & types
  src/utils/eventMetadataHandler/eventMetaDataConverter.md
  src/utils/eventMetadataHandler/helper.ts
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/types.ts
  src/utils/eventMetadataParser/eventMetadataParser.ts
  src/utils/eventMetadataParser/types.ts
Due: eslint --fix

Feat:q:using `@colony/colony-event-metadata-parser`
  package-lock.json
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
  src/utils/eventMetadataHandler/eventMetaDataConverter.md
  src/utils/eventMetadataHandler/helper.ts
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/metadataValidation.ts
  src/utils/eventMetadataHandler/types.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

feat:add yup parsing & validation
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/metadataValidation.ts
Due: eslint --fix

fix:clean up code
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

feat:updates to support V1 & V2 of event metadata format with IPFS
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

feat:add types for colony event metadata
  src/utils/eventMetadataParser/eventMetadataParser.ts
  src/utils/eventMetadataParser/types.ts
Due: eslint --fix

chore:update version ColonyEventMetadataParser
  package-lock.json
  package.json
Due: none

fix:minor code clean up
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/utils/events/index.ts
Due: eslint --fix

fix:clean up extra/missing lines around imports
  package-lock.json
  package.json
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/createDomain.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/actions/unlockToken.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/motions/createEditDomainMotion.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
Due: eslint --fix

chore:update `@colony/colony-event-metadata-parser` version
  package-lock.json
  package.json
Due: none

fix:colony-js version
  package-lock.json
  package.json
Due: none

chore:add @colony/colony-event-metadata-parser
  package-lock.json
  package.json
Due: none

feat:update IPFS (up/down load) to use `@colony/colony-event-metadata-parser` funcs
  src/data/resolvers/whitelist.ts
  src/modules/dashboard/sagas/actions/createDomain.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/actions/editDomain.ts
  src/modules/dashboard/sagas/actions/manageReputation.ts
  src/modules/dashboard/sagas/actions/unlockToken.ts
  src/modules/dashboard/sagas/motions/createEditDomainMotion.ts
  src/modules/dashboard/sagas/motions/editColonyMotion.ts
  src/modules/dashboard/sagas/motions/manageReputationMotion.ts
  src/modules/dashboard/sagas/motions/stakeMotion.ts
  src/modules/dashboard/sagas/whitelist/extensionEnable.ts
  src/modules/dashboard/sagas/whitelist/manageVerifiedRecipients.ts
  src/modules/users/sagas/user.ts
Due: eslint --fix

fix:add support for V2 metadata for `colonyActions`
  src/utils/colonyActions.ts
  src/utils/events/index.ts
Due: eslint --fix

Dropdown fix
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
Due: eslint --fix

feat:add nft-icon placehoder
  src/img/icons.json
  src/img/icons/nft-icon.svg
Due: none

feat:add `SingleNFTPicker`
  src/modules/core/components/SingleUserPicker/SingleNFTPicker.tsx
  src/modules/core/components/SingleUserPicker/index.ts
Due: eslint --fix

feat:add separate UI component for NFT transfers
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

feat:update to use `GnosisNFTTransfer`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

fix:tweak some css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css
Due: stylelint --fix

feat:add validation for nft picker
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.tsx
Due: eslint --fix

feat:add support for multiple transactions
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

feat:updates for NFT icon & image when unselected
  src/img/icons/nft-icon.svg
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
Due: eslint --fix, stylelint --fix

fix:add missing style file
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
Due: stylelint --fix

fix:standardise nft icon
  src/img/icons/nft-icon.svg
Due: none

fix:picker width
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css.d.ts
Due: eslint --fix, stylelint --fix

fix:Not able to add more transactions when not transferring NFTs
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

fix:resize nft icon
  src/img/icons/nft-icon.svg
Due: none

fix:update IDs
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
Due: eslint --fix

add MotionDomainSelect in EscrowFundsDialogForm
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialog.tsx
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialogForm.tsx
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/index.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

adjust styles
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/LockedRecipient.css
Due: eslint --fix, stylelint --fix

fix:updates missed in the merge with feature branch
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

added touched fields in formik
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

Feat: Consolidated styling of the ThreeDotsButton
  src/modules/core/components/Button/ThreeDotsButton.css
  src/modules/core/components/Button/ThreeDotsButton.css.d.ts
  src/modules/core/components/Button/ThreeDotsButton.tsx
  src/modules/core/components/Comment/Actions/CommentActions.css
  src/modules/core/components/Comment/Actions/CommentActions.css.d.ts
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/MembersList/Actions/MemberActions.css
  src/modules/core/components/MembersList/Actions/MemberActions.css.d.ts
  src/modules/core/components/MembersList/Actions/MemberActions.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Refactor: remove shared css styles
  src/modules/core/components/Button/ThreeDotsButton.tsx
  src/modules/core/components/Comment/Actions/CommentActions.css
  src/modules/core/components/Comment/Actions/CommentActions.css.d.ts
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/MembersList/Actions/MemberActions.css
  src/modules/core/components/MembersList/Actions/MemberActions.css.d.ts
  src/modules/core/components/MembersList/Actions/MemberActions.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
Due: eslint --fix, stylelint --fix

Add: ThreeDotsButton to ColonySubscription
  src/modules/core/components/Button/ThreeDotsButton.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Refactor: organizing component imports
  src/modules/core/components/Button/ThreeDotsButton.tsx
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/MembersList/Actions/MemberActions.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
Due: eslint --fix, stylelint --fix

Refactor: made changes to imports and displayName
  src/modules/core/components/Button/ThreeDotsButton.tsx
  src/modules/core/components/Button/index.ts
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/MembersList/Actions/MemberActions.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix
