Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

fixed styles
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
Due: stylelint --fix

added saving expenditure type in local storage
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix

added stages section in straming payment type (UI only)
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStages.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix

removed changes from different branches
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
Due: eslint --fix, stylelint --fix

added multiple tokens in streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

moved 'Streaming' folder to 'Expenditures', renamed fundingSource to fundingSources
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

added missing component
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/index.ts
Due: eslint --fix, stylelint --fix

removed unnecessary files
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/index.ts
Due: eslint --fix, stylelint --fix

feat: empty settings form for streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

feat: empty settings form for streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

fix: display names
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fix: empty lines between imports
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fix: display name fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

type fix
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
Due: eslint --fix

fix: add comment and fix name to withDropdownElement
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

added condition to show limit field
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

Fix: installed extensions filtering
  src/modules/dashboard/transformers/transformers.ts
Due: eslint --fix

Fix: show Decisions nav item only if VotingReputation >= 7
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Fix: `getMotionActionType` method
  src/utils/events/index.ts
Due: eslint --fix

Fix: generate proper input types for motions query
  src/data/generated.ts
  src/data/graphql/typeDefsSubscriptions.ts
Due: eslint --fix

Fix: motion `args` client resolver returns
  src/data/resolvers/motions.ts
Due: eslint --fix

Connect DatePicker to ExpenditureStreamingForm
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

added failed motion
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

added Limit component
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/types.ts
Due: eslint --fix, stylelint --fix

added condition to display limit field
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
Due: eslint --fix

Add conditional for image tag
  .github/workflows/buildDeploy.yml
Due: none

added validation schema in streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix, stylelint --fix

fixed styles
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
Due: eslint --fix, stylelint --fix

added limit required validation
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

aligned icons to the left
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.css
Due: stylelint --fix

removed unnecessary component, changed Rate component
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/RateItem.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/RateItem.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/RateItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/index.ts
Due: eslint --fix, stylelint --fix

fixed imports and ids
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/constants.ts
Due: eslint --fix

fixed types errors
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/BalanceSelect.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/LockedExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/constants.ts
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

Allow some `SelectListBox`es to go past `Select` width
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.css.d.ts
  src/modules/core/components/Fields/Select/SelectListBox.tsx
  src/modules/core/components/Fields/Select/types.ts
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/Members/MembersTitle.tsx
Due: eslint --fix, stylelint --fix

Handle long strings in `Select` component
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.css.d.ts
Due: eslint --fix, stylelint --fix

Show selected info when option label is truncated
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.css.d.ts
  src/modules/core/components/Fields/SelectOption/SelectOption.tsx
Due: eslint --fix, stylelint --fix

added streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
Due: eslint --fix, stylelint --fix

added limit
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

function name fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix
