Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: mobile styles for '/wallet' route
  src/modules/dashboard/components/Wallet/Wallet.css
  src/modules/dashboard/components/Wallet/Wallet.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Add: inbox mobile styles
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css.d.ts
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Refactor: move shared styles into TokenCard component
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/TokenCard/TokenCard.css
  src/modules/dashboard/components/TokenCard/TokenCard.css.d.ts
  src/modules/dashboard/components/TokenCard/TokenCard.tsx
  src/modules/dashboard/components/TokenCardList/TokenCardList.css
  src/modules/dashboard/components/TokenCardList/TokenCardList.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: setting html background to white mobile
  src/styles/main.css
Due: stylelint --fix

Add: mobile styles for '/events' route
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css.d.ts
Due: eslint --fix, stylelint --fix

Add: mobile navigation for wallet, inbox, and coin machine
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css
  src/modules/users/components/PopoverSection/UserSection.tsx
Due: eslint --fix, stylelint --fix

Fix: address container min width
  src/modules/core/components/CopyableAddress/CopyableAddress.css
  src/modules/core/components/CopyableAddress/CopyableAddress.css.d.ts
Due: eslint --fix, stylelint --fix

Add: Landing page mobile styles
  src/modules/pages/components/LandingPage/LandingPage.css
  src/modules/pages/components/LandingPage/LandingPage.css.d.ts
Due: eslint --fix, stylelint --fix

Add: mobile styles for '/create-colony'
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmAllInput.css
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmAllInput.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css.d.ts
Due: eslint --fix, stylelint --fix

Remove: padding on .container
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmTransactions.css
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmTransactions.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: span overflow
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmAllInput.css
Due: stylelint --fix

Fix: error wrap
  src/modules/core/components/Fields/InputStatus/InputStatus.css
  src/modules/core/components/Fields/InputStatus/InputStatus.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: tooltip alignment
  src/modules/core/components/DecisionHub/DecisionHub.tsx
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/DecisionHub/DecisionOption.css.d.ts
  src/modules/core/components/DecisionHub/DecisionOption.tsx
  src/modules/core/components/DecisionHub/__tests__/__snapshots__/DecisionHub.test.tsx.snap
  src/modules/core/components/ExternalLink/ExternalLink.css
  src/modules/core/components/ExternalLink/ExternalLink.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.css
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.tsx
Due: eslint --fix, stylelint --fix

added enums
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/constants.ts
Due: eslint --fix

stage item fix
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
Due: eslint --fix

Feat: prepopulate user to ban/unban & fix uthe dialog mixup
  src/modules/core/components/Comment/Dialogs/BanUser/BanUser.tsx
  src/modules/core/components/MembersList/Actions/MemberActionsPopover.tsx
Due: eslint --fix

Fix: Input names for validation messages
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Feat: make search icon blue when input focused/hovered
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.tsx
Due: eslint --fix, stylelint --fix

naming fix
  src/modules/constants.ts
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialog.tsx
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/useEscrowFundsDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

adjusted margins
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
Due: eslint --fix, stylelint --fix

added newest changes to Dropdown component
  src/modules/core/components/UserPickerWithSearch/Dropdown.css
  src/modules/core/components/UserPickerWithSearch/Dropdown.css.d.ts
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
Due: eslint --fix, stylelint --fix

Feat: cover all focus/hover cases for blue search icon
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.tsx
Due: eslint --fix, stylelint --fix

Feat: make all permissions show as icons
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/UserPermissions/UserPermissions.tsx
Due: eslint --fix

added expediture type split
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/Split.css
  src/modules/dashboard/components/ExpenditurePage/Split/Split.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/index.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Changed LinkedMotions component, disabled submitting from without changes
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LinkedMotions/LinkedMotions.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/constants.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

Refactor: `ExtendedJsonRpcProvider` better cache bypass
  src/modules/core/sagas/utils/extendedJsonRpcProvider.ts
Due: eslint --fix

refactor stages component
  src/modules/dashboard/components/ExpenditurePage/Payments/LockedPayments.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/constants.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix, stylelint --fix

Fear: update `search` icon
  src/img/icons/search.svg
Due: none

adjust style
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialog.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialog.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
Due: eslint --fix, stylelint --fix

removed mock values
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

Fix: Removed helper tooltip
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Fix: various popover placements
  src/modules/core/components/ActionsList/ActionsListItem.css
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/core/components/MembersList/MembersListItem.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.tsx
Due: eslint --fix, stylelint --fix

Fix: auto scrolling in extension setup
  src/modules/dashboard/components/Extensions/ExtensionActionButton.tsx
  src/modules/pages/components/RouteLayouts/SimpleNav/SimpleNav.tsx
  src/styles/main.css
Due: eslint --fix, stylelint --fix

Fix: various minor style fixes
  src/modules/core/components/DomainDropdown/DomainDropdownItem.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/WizardTemplate/WizardTemplate.css
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.css
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css
  src/modules/users/components/PopoverSection/HelperSection.css
Due: stylelint --fix

Fix: remove 'buy-tokens' from menu
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
Due: eslint --fix

Add: style loading template mobile
  src/modules/pages/components/LoadingTemplate/LoadingTemplate.css
Due: stylelint --fix

Fix: dropdown arrow placement
  src/modules/core/components/DomainDropdown/DomainDropdownItem.css.d.ts
  src/modules/core/components/Fields/Form/Form.tsx
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/dashboard/components/ColonyActions/ColonyActions.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
Due: eslint --fix, stylelint --fix

Fix: Updated logic for funds links
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Fix: Removed canMoveFunds
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Fix: missing metatransactions gas station annotation copy
  src/i18n/en.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
