Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: remove & update types in remaining widgets components
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Update: GraphQL hooks after rebase
  src/data/generated.ts
Due: eslint --fix

Refactor: coin machine `Chat` use comment subscriptions
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Refactor: update `AgreementContainer` after the rebase
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementContainer.tsx
Due: eslint --fix

Styles: remove weight-bold from the last bread crumb
  src/modules/core/components/BreadCrumb/BreadCrumb.css
Due: stylelint --fix

Styles: update extension setup styles based on new specs
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix, stylelint --fix

Chore: update `generated` file after the merge
  src/data/generated.ts
Due: eslint --fix

Styles: update `ExtensionDetails` css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
Due: stylelint --fix

Styles: update `ExtensionSetup` css token selector container
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
Due: stylelint --fix

Styles: update `ExtensionSetup` css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
Due: stylelint --fix

Add authenticationKYC helper
  .env.example
  src/api/auth.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/GetWhitelisted/GetWhitelisted.tsx
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css.d.ts
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.tsx
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/kycApi.ts
Due: eslint --fix, stylelint --fix

Update tell me more link
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Styles: update link styles in `ExtensionDetails`
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
Due: stylelint --fix

Refactor: fix the token address in `ExtensionSetup`
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Feat: add additional arg to `getPriceStatus` util & update it accordingly
  src/utils/colonyCoinMachine.ts
Due: eslint --fix

Add useWindowSize hook
  src/utils/hooks/useWindowSize.ts
Due: eslint --fix

Add react confetti lib
  package-lock.json
  package.json
Due: none

Refactor: update `RemainingTokens` to not show footer when price not going up
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Display confetti
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Refactor: fix `getPriceStatus` logical condition
  src/utils/colonyCoinMachine.ts
Due: eslint --fix

Refactor: update `RemainingTokens` price statuses
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Add confetti component
  src/modules/dashboard/components/CoinMachine/Confetti/Confetti.tsx
  src/modules/dashboard/components/CoinMachine/Confetti/index.tsx
Due: eslint --fix

Show Confetti only if buyTokens component is showing
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/Confetti/Confetti.tsx
  src/utils/hooks/useWindowSize.ts
Due: eslint --fix

Fixed BuyTokens not validating correctly due to some decimal values
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Removed conditional from contract address copy button
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Added copy button to coin machine contract address
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix, stylelint --fix

Removed isNil from BuyTokens and added DEFAULT_TOKEN_DECIMALS
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Remove eslint warning
  src/modules/dashboard/components/CoinMachine/Confetti/Confetti.tsx
Due: eslint --fix

Attempt to fix aligment of contract address copy button
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix, stylelint --fix

Refactored contract address of ExtensionDetails into an InvisibleCopyableAddress
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix, stylelint --fix

Fixed timer showing up when sale is "paused"
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Refactor: update submit/new line functionality in `CommentInput`
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Refactor: update `CommentInput` imports
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Added missing link to Learn more link of coin machine
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Refactor: update naming in `ExtensionSetup`
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Feat: remove whitelistAdress field if the extension is not enabled
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Refactor: remove `isMac` from `CommenrtInput`
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Added makeArbitaryTransaction tx text to json file
  src/i18n/en.json
Due: none

Updated colonyExtensionEnable with token authority and arbitrary tx when extension is coin machine
  src/modules/dashboard/sagas/extensions/colonyExtensionEnable.ts
Due: eslint --fix

Added data refreshing for token widget when another user buys tokens and when the periods end
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix
