Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Update: colonyJS to latest release
  package-lock.json
  package.json
Due: none

Fix: historic roles query use current block number
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Refactor CountdownTimer to reseting timer after fully stake on nay side
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Remove not needed passing timeoutPeriods
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Add MotionTimeoutPeriodsQuery to updateMotionValues helper
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Update timer on actions list after fully staked on nay
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
  src/modules/dashboard/transformers.ts
  src/types/colonyActions.ts
Due: eslint --fix

Remove timePeriods prop from ActionListITem
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix

Styles: align countdown timer loading properly
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.css
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.css.d.ts
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix, stylelint --fix

Refactor: remove leftover code
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Fixed nay side staking calculation
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

Feat: add `ethDomainId` prop to `ColonyHome`, layout & actions
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Refactor: update naming in `CreatePaymentdialogForm`
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Feat: add `ethDomainId` prop to `Permissions` dialog & form
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.tsx
Due: eslint --fix

Feat: add `ethDomainId` prop to `EditDomain` dialog
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/EditDomainDialog/EditDomainDialog.tsx
  src/modules/dashboard/components/EditDomainDialog/EditDomainDialogForm.tsx
Due: eslint --fix

Feat: add `ethDomainId` prop to `CreatePayment` dialog & form
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Refactor: change `todomain` preselection in `TransferFunds` dialog
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix

Refactor: remove unnecessary comments
  src/modules/dashboard/components/EditDomainDialog/EditDomainDialog.tsx
Due: eslint --fix

Refactor: update `ColonyDomainSelector`
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
Due: eslint --fix

Feat: add `ethDomainId` prop to `TransferFunds` dialog
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix

Refactor: remove leftover code
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix

Refactor: remove old code in `EditDomainDialog`
  src/modules/dashboard/components/EditDomainDialog/EditDomainDialog.tsx
Due: eslint --fix

Refactor: update `EditDomainDialog` to reduce array looping
  src/modules/dashboard/components/EditDomainDialog/EditDomainDialog.tsx
Due: eslint --fix

Refactor: correct fields names in `TransferFunds` dialog
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix

Fixed ColonyFromName crashing Home, Funding and Members
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/pages/components/BackTexts/ColonyBackText.tsx
Due: eslint --fix

Optimized descriptionValue styles
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix, stylelint --fix

Updated domain description styles to allow complete display
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix, stylelint --fix

Added conditional class to cover case where there's a progress bar
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix, stylelint --fix

Updated alignment of countdown timer
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
Due: stylelint --fix

Fix: `finalizeMotion` saga increase fixed gas estimate
  src/modules/dashboard/sagas/motions/finalizeMotion.ts
Due: eslint --fix

Updated root, admin, and arbitration permission icons
  src/img/icons.json
  src/img/icons/emoji-balance.svg
  src/img/icons/emoji-clipboard.svg
  src/img/icons/emoji-yellow-superman.svg
  src/modules/core/components/PermissionsLabel/permissions.ts
Due: eslint --fix

Remove: unused `@feedback-fish/react` dep
  package-lock.json
  package.json
Due: none

Remove: feedback fish env key
  .env.example
Due: none

Refactor: `FeedbackWidget` as external link
  src/modules/core/components/FeedbackWidget/FeedbackWidget.css
  src/modules/core/components/FeedbackWidget/FeedbackWidget.css.d.ts
  src/modules/core/components/FeedbackWidget/FeedbackWidget.tsx
Due: eslint --fix, stylelint --fix

Update: `colonyJS` to latest release candidate
  package-lock.json
  package.json
Due: none

Fixed max button not using the actual max amount of tokens
  src/modules/core/components/Fields/Input/InputComponent.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Added small token amount formatting to getFormattedTokenValue
  src/utils/tokens.ts
Due: eslint --fix

Added small token value formatting to TokensTab
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Improved format of displayToken on StakingSlider
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Improved formatting of TokenActivationPopover
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Added SMALL_TOKEN_AMOUNT_FORMAT constant
  src/modules/constants.ts
Due: eslint --fix
