Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix: Raw transaction validation
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
Due: eslint --fix

Connected safe picker on Control Safe dialog with colony's safes
  src/modules/core/components/SingleUserPicker/SingleSafePicker.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/index.ts
Due: eslint --fix

Updated MANAGE_EXISTING_SAFES action so that it can remove safes from different chains but same address
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/modules/dashboard/sagas/actions/manageExistingSafes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Fix: Fix typo in SingleUserPicker
  src/modules/core/components/SingleUserPicker/SingleNFTPicker.tsx
  src/modules/core/components/SingleUserPicker/SingleSafePicker.tsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix

Added and updated RPC URLs of safe networks
  src/modules/constants.ts
Due: eslint --fix

Fix: disabled cursor on AddItemButton
  src/modules/core/components/Button/AddItemButton.css
Due: stylelint --fix

Updated Checkbox core componet so it allows object values
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
Due: eslint --fix

Fix: select safe width
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Fixed ColonySafes using the same id for same address Safes
  src/modules/dashboard/components/ColonyHome/ColonySafes/ColonySafes.tsx
Due: eslint --fix

Add: NFT preview
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/utils/index.ts
Due: eslint --fix, stylelint --fix

Fix: set merge policy
  src/data/cache.ts
Due: eslint --fix

Maintenance: Rename GnosisNFTTransfer to TransferNFTSection
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix, stylelint --fix

Added apiUri prop to Gnosis Safe supported networks
  src/modules/constants.ts
Due: eslint --fix

Updated .env.example
  .env.example
Due: none

Fixed onContractChange surpassing API limits
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

Add: refactor existing safe flow
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/img/icons.json
  src/img/icons/copy.svg
  src/modules/constants.ts
  src/modules/core/components/ClipboardCopy/ClipboardCopy.tsx
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetSafe/DetailsWidgetAddSafe.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/CheckSafe.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/ConfirmSafe.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/ConnectSafe.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/index.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/hooks/index.ts
  src/modules/dashboard/hooks/useClipboardCopy.ts
Due: eslint --fix, stylelint --fix

Add: spinner and nft cache
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
Due: eslint --fix

Updated ContractInteractionSection
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/utils/getContractUsefulMethods.ts
Due: eslint --fix

Fixed address validation and updated mock data of ContractInteractionSection
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/utils/getContractUsefulMethods.ts
Due: eslint --fix

Added useContractABIParser hook
  .env.example
  src/modules/dashboard/hooks/useContractABIParser.ts
Due: eslint --fix

Updated styles of ContractInteractionSection
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, stylelint --fix

Updated useContractABIParser to getContractUsefulMethods
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/utils/getContractUsefulMethods.ts
Due: eslint --fix

Fixed import in ContractInteractionSection
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

Fixed status being overlapped by validation errors in InputStatus
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/core/components/Fields/Textarea/Textarea.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

Updated Contract Interaction section of Gnosis Control Safe
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/hooks/useContractABIParser.ts
Due: eslint --fix

Added compatibility for array errors in InputStatus
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
Due: eslint --fix

Updated validation for bytes and integer fields in ContractInteractionFunction
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
Due: eslint --fix, stylelint --fix

Updated imports with correct names
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/utils/getContractUsefulMethods.ts
Due: eslint --fix

Integrated useContractABIParser hook with GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

Add: connect nft picker to safes
  src/modules/constants.ts
  src/modules/core/components/SingleUserPicker/SingleNFTPicker.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/index.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/utils/index.ts
  src/modules/dashboard/sagas/utils/getSafeCoreSDK.ts
  src/modules/dashboard/sagas/utils/safeHelpers.ts
Due: eslint --fix, stylelint --fix

Refactor: extract validation schema
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetSafe/DetailsWidgetAddSafe.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/validation.ts
Due: eslint --fix

Fix: dup key error
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Fix: Remove empty line from `Tooltip`
  src/modules/core/components/Popover/Tooltip.tsx
Due: eslint --fix

Fix: Trigger Tooltip repositioning on content change
  src/modules/core/components/Popover/Tooltip.tsx
Due: eslint --fix

Fix: create tx button flicker
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Refactor: only store select safe data in ipfs
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/sagas/actions/initiateSafeTransaction.ts
  src/modules/dashboard/sagas/utils/ipfsUploadWithFallback.ts
  src/modules/dashboard/sagas/utils/safeHelpers.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Fix: env typo
  .env.example
Due: none

Add: module contract address to saga
  src/modules/core/components/SingleUserPicker/SingleSafePicker.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/sagas/actions/initiateSafeTransaction.ts
  src/modules/dashboard/sagas/utils/safeHelpers.ts
  src/types/index.ts
Due: eslint --fix

Add: Cross-chain safe interaction (raw tx)
  .env.example
  package-lock.json
  package.json
  src/i18n/en.json
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/sagas/actions/index.ts
  src/modules/dashboard/sagas/actions/initiateSafeTransaction.ts
  src/modules/dashboard/sagas/utils/ipfsUploadWithFallback.ts
  src/modules/dashboard/sagas/utils/safeHelpers.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyActions.ts
  src/types/colonyActions.ts
  src/utils/events/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
