Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

[DEV-8] Display button in actions panel
  src/i18n/en.json
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/ColonyHomeActions/index.ts
Due: eslint --fix, stylelint --fix

[DEV-8] Styles for items; Hover state
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.css
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.css.d.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.css
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.css.d.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

[DEV-8] Add Actions dialog; create translations
  src/modules/core/components/Heading/Heading.css
  src/modules/core/components/Heading/Heading.css.d.ts
  src/modules/core/components/Heading/Heading.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.css
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix, stylelint --fix

[DEV-8] Disabled state styles
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.css
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.css.d.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

[DEV-8] Linter issue fixes
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsItem.tsx
Due: eslint --fix

[DEV-8] Fixes after review
  src/i18n/en.json
  src/modules/core/components/Heading/Heading.css
  src/modules/core/components/Heading/Heading.css.d.ts
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.css
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.css.d.ts
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css.d.ts
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.tsx
  src/modules/dashboard/components/ColonyActionsDialog/index.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.css
  src/modules/dashboard/components/ColonyHomeActions/ColonyActionsDialog.css.d.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

[DEV-8] Add icons
  src/img/icons.json
  src/img/icons/advanced.svg
  src/img/icons/domains.svg
  src/img/icons/expenditure.svg
  src/img/icons/funds.svg
  src/img/icons/smite.svg
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css.d.ts
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.tsx
Due: eslint --fix, stylelint --fix

[DEV-8] Add icons license
  Readme.md
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Rename and sort icons
  src/img/icons.json
  src/img/icons/advanced.svg
  src/img/icons/domains.svg
  src/img/icons/emoji-fire.svg
  src/img/icons/emoji-money-wings.svg
  src/img/icons/emoji-smiley-nerd.svg
  src/img/icons/expenditure.svg
  src/img/icons/funds.svg
  src/img/icons/smite.svg
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css
Due: eslint --fix, stylelint --fix

Remove duplicate variables
  src/modules/core/components/Heading/Heading.css
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.css
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/styles/variables.css
Due: stylelint --fix

Swap fire for firebolt
  src/img/icons.json
  src/img/icons/emoji-fire.svg
  src/img/icons/emoji-firebolt.svg
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialogItem.tsx
Due: eslint --fix

Refactor: `NetworkContractUpgrade` dialog component
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
  src/modules/admin/components/UpgradeContractDialog/index.ts
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialog.tsx
  src/modules/dashboard/components/NetworkContractUpgradeDialog/index.ts
Due: eslint --fix

Add: `NetworkContracts` client queries
  src/data/graphql/queries.graphql
Due: none

Add: `NetworkContracts` client mutations
  src/data/graphql/mutations.graphql
Due: none

Add: `ColonyNetwork` client resolver types
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Add: re-generate graphql file
  src/data/generated.ts
Due: eslint --fix

Add: `NetworkContracts` client resolvers
  src/data/index.ts
  src/data/resolvers/networkContracts.ts
Due: eslint --fix

Fix: `networkContracts` resolver initialize cache
  src/data/index.ts
  src/data/resolvers/networkContracts.ts
Due: eslint --fix

Add: `setNetworkContractsVersion` saga helper
  src/data/helpers.ts
Due: eslint --fix

Add: `networkContracts` resolver helper hook
  src/data/helpers.ts
Due: eslint --fix

Add: `NetowrkContracts` resolver now handles inverse fee
  src/data/generated.ts
  src/data/graphql/mutations.graphql
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/networkContracts.ts
Due: eslint --fix

Fix: `NetworkContracts` resolver types
  src/data/generated.ts
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Add: `UpdateNetworkContracts` resolver mutation
  src/data/generated.ts
  src/data/graphql/mutations.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/networkContracts.ts
Due: eslint --fix

Add: `updateNetworkContracts` saga helper
  src/data/helpers.ts
Due: eslint --fix

Refactor: `setNetworkContracts` saga helper
  src/data/helpers.ts
Due: eslint --fix

Refactor: `setupUserContext` fetch network from resolver
  src/modules/core/sagas/setupUserContext.ts
Due: eslint --fix

Add: `getNetworkContracts` saga helper
  src/data/helpers.ts
Due: eslint --fix

Refactor: `ProfileAdvanced` get network from resovler
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
Due: eslint --fix

Refactor: `NetworkFee` get network values from resolver
  src/modules/dashboard/components/TaskEditDialog/NetworkFee/NetworkFee.tsx
Due: eslint --fix

Refactor: `colony` sagas get network values from resolver
  src/modules/dashboard/sagas/colony.ts
Due: eslint --fix

Cleanup: core Network redux state
  src/data/resolvers/networkContracts.ts
  src/immutable/Network.ts
  src/immutable/index.ts
  src/modules/core/actionCreators/index.ts
  src/modules/core/actionCreators/network.ts
  src/modules/core/constants.ts
  src/modules/core/fetchers.ts
  src/modules/core/reducers/index.ts
  src/modules/core/reducers/network.ts
  src/modules/core/sagas/network.ts
  src/modules/core/selectors/index.ts
  src/modules/core/selectors/network.ts
  src/modules/core/state/index.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/index.ts
  src/redux/types/actions/network.ts
Due: eslint --fix

Refactor: core `Alert` appearance options
  src/modules/core/components/Alert/Alert.css
  src/modules/core/components/Alert/Alert.css.d.ts
  src/modules/core/components/Alert/Alert.tsx
Due: eslint --fix, stylelint --fix

Add: `upgrade` button internationalization id
  src/i18n/en.json
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
Due: eslint --fix

Add: `ColonyHome` diplay upgrade banner logic
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Add: `ColonyHome` add initial colony upgrade banner
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix, stylelint --fix

Refactor: core `Alert` margin appearance name
  src/modules/core/components/Alert/Alert.css
  src/modules/core/components/Alert/Alert.css.d.ts
  src/modules/core/components/Alert/Alert.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyHome` long text message descriptor
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Add get all events resolver and queries
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/index.ts
  src/data/resolvers/colony.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Create UnclaimedTransfers component
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.tsx
  src/modules/dashboard/components/UnclaimedTransfers/index.ts
Due: eslint --fix

[DEV-10] Create new dashboard component
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyEvents/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix
