Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

fixed imports
  src/modules/dashboard/components/ExpenditurePage/Split/SplitEqual/SplitEqual.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/LockedStaged/LockedStaged.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css.d.ts
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
Due: eslint --fix, stylelint --fix

added data validation and message when all data are invalid
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.css
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/utils.ts
Due: eslint --fix, stylelint --fix

fixed StakeExpenditureDialog console errors
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialogForm.tsx
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

fixed unique key error, fixed imports
  src/modules/dashboard/components/ExpenditurePage/Split/LockedSplit.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/SplitUnequal.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/index.ts
  src/modules/dashboard/components/ExpenditurePage/Split/index.ts
  src/modules/dashboard/components/ExpenditurePage/Split/types.ts
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix

fixed duplicate error
  src/modules/dashboard/components/ExpenditurePage/Staged/LockedStaged/LockedStaged.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
Due: stylelint --fix

fixed imports, types, releasing milestone
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

added DownloadTemplate button
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.css
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/index.ts
Due: eslint --fix, stylelint --fix

changed formik validation to trigger on change before first submit
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
Due: eslint --fix

fixed types errors
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/LockedStaged/LockedStaged.tsx
Due: eslint --fix

removed unnecessary react fragment
  src/modules/dashboard/components/ExpenditurePage/Split/LockedSplit.tsx
Due: eslint --fix

added release button to every milestone
  src/modules/dashboard/components/ExpenditurePage/Staged/LockedStaged/LockedStaged.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

fixed headers
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/CSVUploader/CSVUploader.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/types.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/utils.ts
Due: eslint --fix

added payment type-split and toggle switch to choose equal/unequal split
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix

added batch payment
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.css
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/index.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/types.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix, stylelint --fix

removed StakeExpenditureDialogForm
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialogForm.tsx
Due: eslint --fix

removed Form from ExpenditureForm component
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
Due: stylelint --fix

added clear option
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
Due: eslint --fix

changed formik validation to trigger on change before first submit
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

scrollbar style fixes
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css
Due: stylelint --fix

fixed type
  src/modules/pages/components/ExpenditurePage/types.ts
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix

type fix
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
Due: eslint --fix

fixed searching tokens
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
Due: eslint --fix

added displaying data
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/utils.ts
Due: eslint --fix

added data validation and message when all data are invalid
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
Due: eslint --fix

added CSVUploader
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/index.ts
Due: eslint --fix

added import
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
Due: eslint --fix

added reserve progress bar
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/index.ts
Due: eslint --fix

changed label name
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
Due: eslint --fix

fixed StakeExpenditureDialog console errors
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialogForm.tsx
Due: eslint --fix

build fix
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
Due: stylelint --fix

adjust scrollbar in payment details modal
  src/modules/dashboard/components/ExpenditurePage/Batch/CSVUploader/CSVUploader.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
Due: eslint --fix, stylelint --fix

fixed unique key error
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/SplitUnequal.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
Due: eslint --fix

added preview modal
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/CSVUploader/CSVUploaderItem.css
  src/modules/dashboard/components/ExpenditurePage/Batch/CSVUploader/CSVUploaderItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/index.ts
Due: eslint --fix, stylelint --fix

changed token name to token id in csv file
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/index.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/utils.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/ClaimTag/ClaimTag.css
  src/modules/dashboard/components/ExpenditurePage/Payments/LockedPayments.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
  src/modules/pages/components/ExpenditurePage/types.ts
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix, stylelint --fix

added slider component
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/SplitUnequal.tsx
Due: eslint --fix

fixed parsing and displaying data
  src/modules/dashboard/components/ExpenditurePage/Batch/Batch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
Due: eslint --fix, stylelint --fix

added labels, amount input fix
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

changed value to amount
  src/modules/dashboard/components/ExpenditurePage/Batch/utils.ts
Due: eslint --fix

changed example csv file
  src/modules/dashboard/components/ExpenditurePage/Batch/DownloadTemplate/DownloadTemplate.tsx
Due: eslint --fix

removed StakeExpenditureDialogForm
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.tsx
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialogForm.tsx
Due: eslint --fix
