Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

fix:remove extra props
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Refactor: remove unnecessary props in `ColonyHomeAction`
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

feat:handle no safes
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix, stylelint --fix

fix:use different blue for unchecked
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.css.d.ts
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

fix:add `chain` to `Safe` type
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/types.ts
Due: eslint --fix

fix:remove `CustomWizardDialogProps`
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix

Updated AmountTokens core component
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css.d.ts
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
Due: eslint --fix, stylelint --fix

Added permission validation to GnosisControlSafeDialog
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix, stylelint --fix

Integrated TransferFundsSection with GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated imports and message ids in AmountTokens
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/Fields/AmountTokens/index.ts
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Integrated AmountTokens with CreatePaymentDialogForm
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.css
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix, stylelint --fix

Added TransferFundsSection component
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix, stylelint --fix

Fixed permission validation conditional in GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Simplified conditional in AmountTokens for fee display
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
Due: eslint --fix

Improved style selectors specifity in GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.css
Due: stylelint --fix

Feat: add UI for Add Existing Gnosis Safe Dialog
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/gnosisSafeChains.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

Fix: Supported networks, labels & copy
  src/modules/constants.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/gnosisSafeChains.ts
Due: eslint --fix

Fix: Refactor and remove Motions setup
  src/modules/constants.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
Due: eslint --fix

Updated Select component test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Integrated RawTransactionSection with GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Renamed TransferFundsSection style sheet to TransactionTypesSection
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, stylelint --fix

Fixed incorrect errors appearing in GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Implemented ContractInteractionSection component
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix, stylelint --fix

Fixed GnosisControlSafeDialog validation
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Textarea/Textarea.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Integrated ContractInteractionSection with GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated Select test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Removed unused props from gnosis safe control dialog sections
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix

Added RawTransactionSection component
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix

Fixed Select core component crashing on MessageDescriptor placeholders
  src/modules/core/components/Fields/Select/Select.tsx
Due: eslint --fix

Removed unnecessary prop from GnosisControlSafeDialog validation
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Added number formatting to wei Input in RawTransactionSection
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
Due: eslint --fix

Updated core components to accomodate FieldArray
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/IconTooltip/IconTooltip.tsx
Due: eslint --fix

Added required error message to fields in GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Integrated FieldArray with GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Fixed GnosisSafeControlForm hiding sections when not supposed to
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated alignment of caret icons in tab of GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
Due: stylelint --fix

Updated safe control dialog sections with FieldArray compatibility
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix

Fixed sections losing focus on change in GnosisSafeControlDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Feat: fix validation on the first render for the transaction preview form
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Refactor: update gnosis form based on latest rebase
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix
