Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Add ENS patch required for xDAI
  package-lock.json
  package.json
  src/lib/ENS/ENS.ts
Due: eslint --fix

Update: `ENS` lib fallback domain to reflect xDAI
  src/lib/ENS/ENS.ts
Due: eslint --fix

Refactor: User/Colony wizard to reflect xDai domain
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix

Refactor: admin/core components reflect xDai domain
  src/modules/admin/components/Profile/ProfileEdit.tsx
  src/modules/core/components/Fields/Input/Input.md
Due: eslint --fix

Fix: monkey patch `getProvider` TS type check
  src/modules/core/sagas/utils/getProvider.ts
Due: eslint --fix

Update: bump app version to `xdai` release
  package-lock.json
  package.json
Due: none

Renamed: ETH to xDAI Token
  src/data/resolvers/token.ts
  src/modules/core/sagas/utils/getGasPrices.ts
  src/modules/dashboard/components/ColonyHome/ColonyInitialFunding/ColonyInitialFunding.tsx
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.ts
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.tsx
  src/modules/users/components/ConnectWalletWizard/StepHardware/AddressItem.tsx
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.tsx
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.tsx
Due: eslint --fix

Rename: Ethereum -> xDai Chain
  src/lib/ENS/ENS.ts
  src/modules/core/components/Numeral/AbbreviatedNumeral.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/pages/components/RouteLayouts/NavBar.tsx
  src/modules/users/components/ConnectWalletWizard/StepStart/StepStart.tsx
  src/modules/users/components/GasStation/GasStationClaimCard/GasStationClaimCard.tsx
Due: eslint --fix

Remove: unused env variables
  .env.example
  src/environment.d.ts
Due: eslint --fix

Bump: app version to `3.1.0` on the xdai release path
  package-lock.json
  package.json
Due: none

Add skill tree for xdai
  src/modules/dashboard/components/TaskSkills/taskSkillsTree.xdai.ts
Due: eslint --fix

Add: wire xdai task skills tree
  src/modules/dashboard/components/TaskSkills/taskSkillsTree.ts
Due: eslint --fix

Rename: Etherscan references to Blockscout
  src/modules/core/components/InfoPopover/TokenInfoPopover.tsx
  src/modules/core/components/TransactionList/TransactionListItem.tsx
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
  src/modules/dashboard/components/Wallet/Wallet.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
Due: eslint --fix

Refactor: etherscan link util into a more generalized ver
  src/modules/core/components/TokenLink/TokenLink.tsx
  src/modules/core/components/TransactionLink/TransactionLink.tsx
  src/modules/core/components/WalletLink/WalletLink.tsx
  src/utils/external/index.ts
Due: eslint --fix

Remove: un-needed network name props
  src/modules/core/components/TokenLink/TokenLink.tsx
  src/modules/core/components/TransactionLink/TransactionLink.tsx
  src/modules/core/components/WalletLink/WalletLink.tsx
Due: eslint --fix

Add: monkey-patch fixed gas costs for the xdai network
  src/immutable/GasPrices.ts
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.tsx
Due: eslint --fix

Add: monkey-patch `getEthToUsd` to have parity on xdai
  src/utils/external/index.ts
Due: eslint --fix

Update dependency ethers to v5
  package-lock.json
  package.json
Due: none

Update dependency dotenv-webpack to v3
  package-lock.json
  package.json
Due: none

Add: `TokenInfo` constants for the various networks
  src/modules/constants.ts
Due: eslint --fix

Refactor: `token` resolvers to adapt to networks
  src/data/resolvers/token.ts
Due: eslint --fix

Refactored: use xdai network var from colonyJS
  src/data/resolvers/token.ts
  src/modules/constants.ts
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/core/sagas/utils/getProvider.ts
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.tsx
  src/utils/external/index.ts
Due: eslint --fix

Fix: `getBlockExplorerLink` use mainnet var from colonyJS
  src/utils/external/index.ts
Due: eslint --fix

Refactor: estimage transaction gas cost saga
  src/modules/admin/components/Profile/ProfileEdit.tsx
  src/modules/core/components/Fields/Input/Input.md
  src/modules/core/sagas/transactions/estimateGasCost.ts
Due: eslint --fix

Refactor: skills tree selection to use colonyJS networks
  src/modules/core/sagas/utils/getGasPrices.ts
  src/modules/core/sagas/utils/getProvider.ts
  src/modules/dashboard/components/TaskSkills/taskSkillsTree.ts
Due: eslint --fix

Refactor: export default network token from `constants`
  src/data/resolvers/token.ts
  src/modules/constants.ts
  src/modules/dashboard/components/TaskClaimReward/TaskClaimReward.ts
Due: eslint --fix

Add: default network info constants
  src/modules/constants.ts
Due: eslint --fix

Refactor: get all default network values from `constants`
  src/modules/dashboard/components/ColonyHome/ColonyInitialFunding/ColonyInitialFunding.tsx
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/pages/components/RouteLayouts/NavBar.tsx
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.tsx
  src/modules/users/components/ConnectWalletWizard/StepHardware/AddressItem.tsx
  src/modules/users/components/ConnectWalletWizard/StepStart/StepStart.tsx
  src/modules/users/components/GasStation/GasStationClaimCard/GasStationClaimCard.tsx
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.tsx
  src/modules/users/components/GasStation/GasStationPrice/GasStationPrice.tsx
Due: eslint --fix

Refactor: display ENS domain based on current network
  src/modules/constants.ts
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix

Add: links to token explorers based on networks
  src/modules/constants.ts
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
Due: eslint --fix

Add: block explorer name based on current network
  src/modules/constants.ts
  src/modules/core/components/InfoPopover/TokenInfoPopover.tsx
  src/modules/core/components/TransactionList/TransactionListItem.tsx
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
  src/modules/dashboard/components/Wallet/Wallet.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
Due: eslint --fix

Revert: app to network agnostic versioning scheme
  package.json
Due: none

Simplified colony home grid
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyInvite.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyInvite.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyInvite.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonySubscribe.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonySubscribe.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonySubscribe.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.css
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTasks/NewTaskButton.css
  src/modules/dashboard/components/ColonyHome/ColonyTasks/NewTaskButton.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTasks/NewTaskButton.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTasks/index.ts
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.css
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.css.d.ts
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.tsx
  src/modules/dashboard/components/ColonyHome/TabContribute/index.ts
Due: eslint --fix, stylelint --fix

CSS cleanup
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
Due: eslint --fix, stylelint --fix

Add colony home navigation and supporting routes
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
  src/modules/dashboard/components/ColonyNavigation/NavItem.css
  src/modules/dashboard/components/ColonyNavigation/NavItem.css.d.ts
  src/modules/dashboard/components/ColonyNavigation/NavItem.tsx
  src/modules/dashboard/components/ColonyNavigation/index.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, stylelint --fix

Set colony actions route to colony root
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
  src/modules/dashboard/components/ColonyNavigation/NavItem.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Update dependency css-loader to v5
  package-lock.json
  package.json
Due: none

Update dependency dotenv-webpack to v4
  package-lock.json
  package.json
Due: none

Update react monorepo
  package-lock.json
  package.json
Due: none

Update: package lock file
  package-lock.json
Due: none
