Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add block explorer link
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix, stylelint --fix

Display SaleStartedWidget in CoinMachine layout
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/index.ts
Due: eslint --fix, stylelint --fix

Formating updates
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Create SaleStateWidget with all needed translations
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/index.ts
Due: eslint --fix, stylelint --fix

Fix: `ExtensionDetails` determine if can be installed
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Fix: `CommentInput` merge conflict during rebase
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Update: `CoinMachine` extension init params
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Update CoinMachine grid to compose container styles
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
Due: eslint --fix, stylelint --fix

Display countdown timer in button
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/utils/components/TimerValue.tsx
Due: eslint --fix

Create interval only in correct state
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Fix: coin machine `Chat` box shadow
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
Due: stylelint --fix

Refactor: add global `learnMore` message descriptor
  src/i18n/en.json
  src/modules/core/components/BetaCautionAlert/BetaCautionAlert.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUpgrade/ColonyUpgrade.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepTokenChoice.tsx
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.tsx
Due: eslint --fix

Add TimeValue component
  src/utils/components/TimerValue.tsx
  src/utils/components/index.ts
Due: eslint --fix

Set button theme based on state
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix, stylelint --fix

Add styles for SaleStateWidget content
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix, stylelint --fix

Set fixed width on button
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix, stylelint --fix

Add: initial coin machine `BuyTokens` comment
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/BuyTokens/index.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Fix: core `InputComponent` default value for cleave
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Add: `BuyTokens` amount input and logic
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyTokens` validate amount field
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyToken` sale price section
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyTokens` submit button
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyToken` sale cost section
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyTokens` wire up with saga and trasformer
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `CoinMachine` styles after rebase
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Add: coin machine buy tokens saga
  src/i18n/en.json
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
  src/modules/dashboard/sagas/coinMachine/index.ts
  src/modules/dashboard/sagas/index.ts
Due: eslint --fix

Add: coin machine buy tokens redux actions and types
  src/redux/actionTypes.ts
  src/redux/types/actions/coinMachine.ts
  src/redux/types/actions/index.ts
Due: eslint --fix

Fix: `buyTokens` saga amount transformation
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
Due: eslint --fix

Add: `BuyTokens` component reset form after success
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `BuyTokens` display values if sale inactive
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Add: `coinMachineSaleTokens` client resolver
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/index.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Refactor: `BuyTokens` use sale tokens values
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Refactor: `BuyTokens` get proper user token balance
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `BuyTokens` only show exchange rate if available
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Refactor: `CoinMachine` use sale token
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Refactor: `SaleStateWidget` to use actual sale tokens
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Add: `BuyTokens` proper sale price
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Add: `coinMachineCurrentPeriodPrice` client resolver
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Fix: `buyTokens` saga send overwritten value
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
  src/redux/types/actions/coinMachine.ts
Due: eslint --fix

Fix: `estimateGasCost` send options when estimating
  src/modules/core/sagas/transactions/estimateGasCost.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
