Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Refactor: remove render in falsy case & add index.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/RichTextEditor/index.ts
Due: eslint --fix

fix:capture decision from listview & defaultMotion
  src/utils/events/getAnnotationFromSubgraph.ts
Due: eslint --fix

feat:update subcription to call query to get annotationHash
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
  src/data/graphql/typeDefsSubscriptions.ts
  src/data/resolvers/motions.ts
  src/modules/dashboard/transformers/transformers.ts
  src/utils/events/getAnnotationFromSubgraph.ts
Due: eslint --fix

fix:show loading msg before empty decision msg
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

Feat: add full UI & functionality to DraftDecisionListItem
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix

Refactor: update DecisionDialog props & functionality
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

Feat: add `DraftDecisionItem` to `ColonyDecisions`
  src/modules/core/components/ActionsList/index.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/index.ts
Due: eslint --fix, stylelint --fix

fix:check for Decision before, extension
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

fix:check for Decision before, extension
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: open dialog conditionally in `ColonyNewDecision`
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
Due: eslint --fix

Feat: add close to `ConfirmDeleteDialog`
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
Due: eslint --fix

Refactor: fix typo in `StakingValidationError`
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
Due: eslint --fix

Feat: add `ConfirmDeleteDialog` to `PreviewDialog`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix, stylelint --fix

fix:show all Decisions in List, this removes < 10% staked check
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/transformers/transformers.ts
Due: eslint --fix

fix:update styling name for empty Decisionlist
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

Feat: add userAddress to draft decision local storage
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/types/index.ts
Due: eslint --fix

Chore: update `ColonyDecisions` to fix rebase
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

Feat: add `ConfirmDeleteDialog`
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.css
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `RemoveDraftDecisionDialog`
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.css
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/index.ts
Due: eslint --fix, stylelint --fix

fix:format of .graphgl file
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
Due: eslint --fix

Chore: update `ColonyDecisions` to fix rebase
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix, stylelint --fix

Feat: add decisions page route & its integration
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
  src/utils/hooks/useTitle.ts
Due: eslint --fix

Feat: add draft decision support to ActionsListItem
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/utils/colonyMotions.ts
Due: eslint --fix

Refactor: remove `isNewDecision` prop from `DecisionDialog`
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

Refactor: fix types in `createDecisionMotion`
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
Due: eslint --fix

Feat: update `ActionsListItem` to accommodate draft decision types
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix

Feat: add V2 metadata support for decisions
  src/data/resolvers/colony.ts
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
Due: eslint --fix

feat:add support for Decision objections
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix, stylelint --fix

Refactor: update decisions page wrapper props
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisionsWrapper.tsx
Due: eslint --fix

Feat: update props in `RemoveDraftDecisionDialog` to fix context problem
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.tsx
Due: eslint --fix

fix:correct rebase, stakingslider not picked up
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Styles: change delete/edit button styles on decision preview page
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix, stylelint --fix

Feat: change button positioning in `DraftDecisionItem`
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix, stylelint --fix

Refactor: update decisions page wrapper prop to fix team selector bug
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisionsWrapper.tsx
Due: eslint --fix

Feat: add `getAnnotationMsgFromResponse` for objection
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
Due: eslint --fix

Refactor: update the team id passed to decision dialog form
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

Chore: update `@colony/colony-event-metadata-parser` version
  package-lock.json
  package.json
Due: none

Feat: add draft to no decisions state
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix, stylelint --fix

Add time and tags to objection section
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
