Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add checkboxes
  src/modules/admin/components/Domains/index.ts
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.css.d.ts
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
  src/modules/admin/components/Permissions/index.ts
Due: eslint --fix

Use colony js constants for role messages
  src/modules/admin/components/Permissions/UserPermissions.tsx
  src/modules/admin/constants.ts
Due: eslint --fix

Fix colony admin permissions dialog
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
Due: eslint --fix

Wire dialog with permissions screen
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
Due: eslint --fix

Wire dialog with permissions screen
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
  src/utils/arrays/index.ts
Due: eslint --fix

Add warning text
  src/modules/admin/components/Organizations/OrganizationAddDomains.tsx
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/core/components/Fields/InputLabel/InputLabel.css.d.ts
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/core/components/Fields/InputLabel/__tests__/InputLabel.test.tsx
Due: eslint --fix, stylelint --fix

Reset checkboxes when user roles are available
  src/modules/admin/components/Organizations/OrganizationAddAdmins.tsx
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
  src/modules/dashboard/components/TaskEditDialog/TaskEditDialog.tsx
  src/utils/arrays/index.ts
Due: eslint --fix

Use enumerable
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
Due: eslint --fix

Version: Bump dapp to `1.0.4`
  package.json
Due: none

Remove organizations tab
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
  src/modules/admin/components/Organizations/OrganizationAddAdmins.css
  src/modules/admin/components/Organizations/OrganizationAddAdmins.css.d.ts
  src/modules/admin/components/Organizations/Organizations.css
  src/modules/admin/components/Organizations/Organizations.css.d.ts
  src/modules/admin/components/Organizations/Organizations.tsx
  src/modules/admin/components/Organizations/index.ts
Due: eslint --fix, stylelint --fix

Adjust colonyCreate
  src/modules/admin/components/Domains/Domains.tsx
  src/modules/admin/components/Domains/OrganizationAddDomains.css
  src/modules/admin/components/Domains/OrganizationAddDomains.tsx
  src/modules/admin/components/Organizations/OrganizationAddDomains.css.d.ts
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix, stylelint --fix

Colony ccreation fixes, other tweaks
  src/i18n/en.json
  src/modules/dashboard/data/queries/colonies.ts
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Remove unused sagas
  src/i18n/en.json
  src/modules/admin/components/Domains/OrganizationAddDomains.css.d.ts
  src/modules/admin/components/Organizations/OrganizationAddAdmins.tsx
  src/modules/admin/components/Organizations/OrganizationAddDomains.tsx
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/roles.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

Refactor form control help text
  src/modules/admin/components/Profile/ColonyAvatarUploader.tsx
  src/modules/admin/components/Profile/ProfileEdit.tsx
  src/modules/core/components/AvatarUploader/AvatarUploader.md
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/core/components/Fields/InputLabel/InputLabel.css.d.ts
  src/modules/core/components/Fields/InputLabel/InputLabel.md
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/core/components/Fields/InputLabel/__tests__/InputLabel.test.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/TaskRatingDialogs/ManagerRatingDialog.tsx
  src/modules/users/components/ConnectWalletWizard/StepJSONUpload/StepJSONUpload.tsx
Due: eslint --fix, stylelint --fix

Fix: CI goerli/mainnet builds to pass along the commit hash
  .circleci/config.yml
Due: none

Add: Dockerfile now supports build time commit hashes
  Dockerfile
Due: none

Reset comment field
  src/modules/core/components/Fields/Form/ActionForm.tsx
  src/modules/dashboard/components/TaskComments/TaskComments.tsx
Due: eslint --fix

User balance listener
  src/modules/core/sagas/setupUserBalanceListener.ts
  src/modules/core/sagas/setupUserContext.ts
  src/modules/users/actionCreators/user.ts
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.tsx
  src/modules/users/components/GasStation/GasStationContent/index.ts
  src/modules/users/reducers/currentUser/profile.ts
  src/modules/users/sagas/user.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/currentUser.ts
Due: eslint --fix

Adjust transaction sorting
  src/modules/core/selectors/__tests__/transactions.test.ts
  src/modules/core/selectors/transactions.ts
Due: eslint --fix

Adjust error style
  src/modules/core/components/Fields/FormStatus/FormStatus.css
Due: stylelint --fix

Move ActivityFeedItem to new Record class
  src/immutable/ActivityFeedItem.ts
  src/modules/core/components/ActivityFeed/ActivityFeed.md
  src/types/DefaultValues.ts
  src/types/Required.ts
  src/types/index.ts
Due: eslint --fix

Add moveFundsBetweenPots saga
  src/modules/dashboard/data/commands/colony.ts
  src/modules/dashboard/data/commands/domains.ts
  src/modules/dashboard/data/commands/index.ts
  src/modules/dashboard/data/queries/domains.ts
  src/modules/dashboard/data/queries/index.ts
  src/modules/dashboard/sagas/domains.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/domain.ts
Due: eslint --fix

Enable strictPropertyInitialization
  src/lib/database/stores/EventStore.ts
  src/lib/ipfs/IPFSNode.ts
  src/lib/ipfs/PinnerConnector.ts
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/core/components/DatePicker/InputField.tsx
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/OmniPicker/OmniPicker.tsx
  src/modules/core/components/OmniPicker/withOmniPicker.ts
  src/modules/core/components/Popover/Popover.tsx
  src/modules/core/sagas/setupOnBeforeUnload.ts
  src/modules/dashboard/components/TaskList/TaskListItem.tsx
  src/modules/users/components/ConnectWalletWizard/StepMetaMask/StepMetaMask.tsx
  tsconfig.json
Due: eslint --fix

Rename component
  src/modules/core/components/ErrorBoundary/ErrorBoundary.md
  src/modules/core/components/ErrorBoundary/ErrorBoundary.tsx
  src/modules/core/components/ErrorBoundary/index.ts
  src/modules/core/components/ErrorBoundry/ErrorBoundry.md
  src/modules/core/components/ErrorBoundry/index.ts
  styleguide.config.js
Due: eslint --fix

Fix and simplify task index store guards
  src/modules/dashboard/data/commands/task.ts
  src/modules/dashboard/data/queries/colonies.ts
Due: eslint --fix

Move Colony to new Record class
  src/immutable/Colony.ts
  src/immutable/state/dashboard/AllColonies.ts
  src/modules/dashboard/reducers/coloniesReducer.ts
  src/modules/dashboard/reducers/colonyNamesReducer.ts
  src/types/DefaultValues.ts
Due: eslint --fix

Remove ColonyAdmin record
  src/immutable/ColonyAdmin.ts
  src/immutable/index.ts
  src/modules/admin/components/UserListItem/UserListItem.tsx
Due: eslint --fix

Move DataRecord to FetchableDataRecord (new class)
  src/immutable/Data.ts
  src/immutable/FetchableData.ts
  src/immutable/index.ts
  src/immutable/state/admin/index.ts
  src/immutable/state/core/index.ts
  src/immutable/state/dashboard/AllColonies.ts
  src/immutable/state/dashboard/AllDomains.ts
  src/immutable/state/dashboard/AllRoles.ts
  src/immutable/state/dashboard/AllTokens.ts
  src/immutable/state/dashboard/index.ts
  src/immutable/state/users/AllUsers.ts
  src/immutable/state/users/index.ts
  src/immutable/utils/__tests__/shouldFetchData.test.ts
  src/immutable/utils/data.ts
  src/modules/admin/reducers/transactions.ts
  src/modules/admin/reducers/unclaimedTransactions.ts
  src/modules/core/reducers/ipfsData.ts
  src/modules/core/reducers/network.ts
  src/modules/dashboard/reducers/allDomains.ts
  src/modules/dashboard/reducers/allRoles.ts
  src/modules/dashboard/reducers/allTokens.ts
  src/modules/dashboard/reducers/coloniesReducer.ts
  src/modules/dashboard/reducers/colonyNamesReducer.ts
  src/modules/dashboard/reducers/taskFeedItems.ts
  src/modules/dashboard/reducers/taskMetadata.ts
  src/modules/dashboard/reducers/tasks.ts
  src/modules/users/reducers/currentUser/activities.ts
  src/modules/users/reducers/currentUser/permissions.ts
  src/modules/users/reducers/currentUser/tasks.ts
  src/modules/users/reducers/currentUser/tokens.ts
  src/modules/users/reducers/currentUser/transactions.ts
  src/modules/users/reducers/userColoniesReducer.ts
  src/modules/users/reducers/userProfilesReducer.ts
  src/modules/users/selectors/user.ts
  src/utils/hooks/index.ts
  src/utils/reducers/__tests__/withFetchableDataMap.test.ts
  src/utils/reducers/index.ts
  src/utils/reducers/withFetchableData.ts
  src/utils/reducers/withFetchableDataMap.ts
Due: eslint --fix

Move ContractTransaction to new Record type
  src/immutable/ContractTransaction.ts
  src/immutable/TaskFeedItem.ts
  src/immutable/state/admin/index.ts
  src/immutable/state/users/index.ts
  src/modules/admin/reducers/transactions.ts
  src/modules/admin/reducers/unclaimedTransactions.ts
  src/modules/users/reducers/currentUser/transactions.ts
Due: eslint --fix

Move Domain to new Record class
  src/immutable/Domain.ts
  src/immutable/state/dashboard/AllDomains.ts
  src/immutable/utils/__tests__/shouldFetchData.test.ts
  src/modules/dashboard/reducers/allDomains.ts
Due: eslint --fix

Move Message to new Record class
  src/immutable/Message.ts
  src/immutable/state/core/Messages.ts
  src/modules/core/reducers/messages.ts
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.tsx
  src/modules/users/components/GasStation/MessageCard/MessageCard.tsx
  src/modules/users/components/GasStation/MessageCard/MessageCardStatus.tsx
  src/modules/users/components/GasStation/MessageCardDetails/MessageCardControls.tsx
  src/modules/users/components/GasStation/MessageCardDetails/MessageCardDetails.tsx
  src/modules/users/components/GasStation/TransactionCard/GroupedTransaction.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionCard.tsx
  src/modules/users/components/GasStation/TransactionDetails/TransactionDetails.tsx
  src/modules/users/components/GasStation/TransactionList/TransactionList.tsx
  src/modules/users/components/GasStation/transactionGroup.ts
  src/redux/types/actions/message.ts
Due: eslint --fix

Move Task to new Record class
  src/immutable/Skill.ts
  src/immutable/Task.ts
  src/immutable/index.ts
  src/immutable/state/dashboard/index.ts
  src/modules/dashboard/reducers/tasks.ts
Due: eslint --fix

Remove unused Roles Record
  src/immutable/Roles.ts
  src/immutable/index.ts
  src/modules/admin/checks.ts
  src/utils/data.ts
Due: eslint --fix

Move TaskCommentContent to new Record class
  src/immutable/TaskComment.ts
  src/immutable/TaskCommentContent.ts
  src/immutable/TaskFeedItem.ts
  src/immutable/state/dashboard/index.ts
  src/modules/dashboard/reducers/taskFeedItems.ts
Due: eslint --fix

Move InboxItem to new Record class
  src/immutable/InboxItem.ts
  src/immutable/User.ts
  src/immutable/state/users/index.ts
  src/modules/users/components/Inbox/InboxContent/InboxContent.tsx
  src/modules/users/reducers/currentUser/activities.ts
  src/modules/users/selectors/__tests__/user.test.ts
Due: eslint --fix

Fix type errors after rebase
  src/modules/core/components/TransactionList/TransactionDetails.tsx
Due: eslint --fix

Move TaskMetadata to new Record class
  src/immutable/TaskMetadata.ts
  src/immutable/state/dashboard/index.ts
  src/modules/dashboard/reducers/taskMetadata.ts
Due: eslint --fix

Move TaskCommentMeta to ne Record type
  src/immutable/TaskCommentContent.ts
  src/immutable/TaskCommentMeta.ts
Due: eslint --fix

Move TaskPayout to new Record class
  src/immutable/TaskPayout.ts
  src/modules/dashboard/reducers/tasks.ts
Due: eslint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: cypress/**/*.ts)
  stylelint --fix: any of: src/**/*.css
