Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Chore: add `html-react-parser`
  package-lock.json
  package.json
Due: none

Refactor: add `name` prop to `RichTextEditor`
  src/modules/core/components/RichTextEditor/RichTextEditor.tsx
Due: eslint --fix

Add: Edit Decision Modal
  src/i18n/en.json
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.css
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/index.ts
  src/modules/dashboard/components/Dialogs/NewDecisionDialog/index.ts
Due: eslint --fix, stylelint --fix

Refactor: delete unused DetailsWidget
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DetailsWidget/UserWidget/UserWidget.tsx
Due: eslint --fix, stylelint --fix

Feat: change decision preview route to wallet requied
  src/routes/Routes.tsx
Due: eslint --fix

Refactor: update form fields names
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.tsx
Due: eslint --fix

Refactor: add emoji for decisions
  src/img/icons.json
  src/img/icons/emoji-decisions.svg
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
Due: eslint --fix

Refactor: updates based on the rebase
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/index.ts
Due: eslint --fix

feat:remove `ColonyActions.Decision`, instead use`ColonyMotions.CreateDecisionMotion`
  src/i18n/en-actions.ts
  src/i18n/en-motions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.tsx
  src/types/colonyActions.ts
Due: eslint --fix

Styles: add paragraph bottom margin to the description
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
Due: stylelint --fix

rebase:corrections feat:add Decision motion, store details in ipfs, save ipfs hash as annotation hash
  src/i18n/en-actions.ts
  src/modules/constants.ts
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/modules/dashboard/sagas/motions/index.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
  src/types/colonyMotions.ts
  src/types/index.ts
Due: eslint --fix, stylelint --fix

Refactor: update the history location in `DecisionDialog`
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

rebase:corrections rebase:update Routes feat:add saga, add form to `DecisionPreview`, wire up
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
Due: eslint --fix, stylelint --fix

feat:update Action form
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/types/index.ts
Due: eslint --fix

feat:refactor local storage of decisions
  src/modules/constants.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/index.ts
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/redux/types/actions/motion.ts
  src/types/index.ts
Due: eslint --fix, stylelint --fix

fix:merge updates
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
Due: eslint --fix, stylelint --fix

fix:rename `DecisionPreview`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Refactor: fix domain preselection in DecisionDialog
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialogForm.tsx
Due: eslint --fix

Feat: add html parsing to `DecisionPreview`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix

rebase:corrections feat:add Decision motion, store details in ipfs, save ipfs hash as annotation hash
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
Due: eslint --fix, stylelint --fix

fix:merge updates
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

fix:clean up code
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix

Refactor: add comment about moving clearing local storage
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix

Feat: add no decision state to DecisionPreview
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix, stylelint --fix

Chore:Use new ColonyClient which supports contract updates
  package-lock.json
  package.json
Due: none

fix:rebase feat:add Decision motion, store details in ipfs, save ipfs hash as annotation hash
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
Due: eslint --fix, stylelint --fix

Refactor: fix StakingSlider ids and displayName
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

fix:clean up rebase
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
Due: eslint --fix, stylelint --fix

Refactor: remove render in falsy case & add index.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/RichTextEditor/index.ts
Due: eslint --fix

Refactor: removed the annotation validation
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

Refactor: add html react parser
  src/modules/core/components/Comment/Comment.tsx
Due: eslint --fix

fix:add dependences when checking banner
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Refactor: change limit variable
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix

Feat: add `RichTextEditor` to `RaiseObjectionDialogForm`
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

Refactor: add form field prop for RichTextEditor
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

feat:add parser to decision desciption
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
Due: eslint --fix

Feat: add `RichTextEditor` to `RaiseObjectionDialogForm`
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

feat:add decision details into page feed
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
Due: eslint --fix, stylelint --fix
