Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Add: `InfoPopover` token link to external etherscan
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/InfoPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `InfoPopover` display token icon
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `TokenLink` core component
  src/modules/core/components/TokenLink/TokenLink.md
  src/modules/core/components/TokenLink/TokenLink.tsx
  src/modules/core/components/TokenLink/index.ts
Due: eslint --fix

Add: `ColonyFunding` show info popover over token
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/TokenItem.tsx
Due: eslint --fix, stylelint --fix

Add: `TaskFeedEvent` use info popover for token info
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.css
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.tsx
Due: eslint --fix, stylelint --fix

Add: `PayoutsList` use info popover for token display
  src/modules/core/components/PayoutsList/PayoutsList.css
  src/modules/core/components/PayoutsList/PayoutsList.css.d.ts
  src/modules/core/components/PayoutsList/PayoutsList.tsx
Due: eslint --fix, stylelint --fix

Fix: `TaskFeedCompleteInfo` dom nesting validation
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
Due: eslint --fix

Add: `TaskFeedCompleteInfo` use info popover for token
  src/modules/dashboard/components/TaskFeed/TaskFeed.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.css
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.css.d.ts
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
Due: eslint --fix, stylelint --fix

Fix: `TaskFeedEvent`/`TaskFeedCompleteInfo` token defaults
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.tsx
Due: eslint --fix

Version: Bump app to `2.2.0`
  package.json
Due: none

Revert "Bump gas prices from ethgasstation by one level"
  src/modules/core/sagas/utils/getGasPrices.ts
Due: eslint --fix

Fix: `getGroupId` prioritize id vs. group key
  src/modules/users/components/GasStation/transactionGroup.ts
Due: eslint --fix

Add colonyDomainUserRolesSet saga
  src/i18n/en.json
  src/immutable/state/dashboard/AllRoles.ts
  src/modules/dashboard/reducers/allRoles.ts
  src/modules/dashboard/sagas/roles.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Update: docker file for debian stretch
  Dockerfile
Due: none

Add: docker ignore file
  .dockerignore
Due: none

Cancel colony creation when leaving wizard step
  src/modules/dashboard/components/CreateColonyWizard/StepConfirmTransactions.tsx
  src/modules/dashboard/sagas/colonyCreate.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colony.ts
  src/utils/saga/effects.ts
Due: eslint --fix

Add: `UserAvatarUploader` pass set value to avatar uploader
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.tsx
Due: eslint --fix

Fix integration testing config
  ava.config.js
Due: none

Add: `ColonyAvatarUploader` pass value to avatar uploader
  src/modules/admin/components/Profile/ColonyAvatarUploader.tsx
Due: eslint --fix

Add: core `AvatarUploader` handle isSet prop
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
Due: eslint --fix

Include integration testing folder
  tsconfig.json
Due: none

Upgrade cypress to 3.4.1
  package.json
  yarn.lock
Due: none

Add ts-node for ava
  package.json
  yarn.lock
Due: none

Fix ava TS
  integration-testing/DDB.test.ts
  integration-testing/EventStore.test.ts
  integration-testing/IPFS.test.ts
Due: none

Add cypress to deps
  package.json
Due: none

Do not run ipfsd
  package.json
Due: none

Use chrome browser
  package.json
Due: none

Use tsconfig-paths
  ava.config.js
  package.json
  yarn.lock
Due: none

Fix: role add notification fetch correct colony address
  src/modules/users/data/utils.ts
Due: eslint --fix

Fix: mint notification fetch correct token address
  src/data/normalizers/index.ts
  src/modules/users/data/utils.ts
Due: eslint --fix

Fix: `data` normalizers minor lint error
  src/data/normalizers/index.ts
Due: eslint --fix

Fix: domain added notification fetch correct colony id
  src/modules/users/data/utils.ts
Due: eslint --fix

Add renovate.json
  renovate.json
Due: none

Fix: data normalizers pass all log props along
  src/data/normalizers/index.ts
Due: eslint --fix

Fix inbox fetching
  src/data/normalizers/index.ts
  src/modules/dashboard/sagas/colony.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/users/actionCreators/user.ts
  src/modules/users/components/Inbox/InboxContent/InboxContent.tsx
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.ts
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.tsx
  src/modules/users/components/Inbox/InboxIcon/index.ts
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
  src/modules/users/components/Inbox/events.ts
  src/modules/users/data/queries.ts
  src/modules/users/data/utils.ts
  src/modules/users/fetchers.ts
  src/modules/users/reducers/currentUser/activities.ts
  src/modules/users/reducers/currentUser/notifications.ts
  src/modules/users/sagas/inbox.ts
  src/modules/users/sagas/user.ts
  src/modules/users/selectors/user.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/inboxItems.ts
  src/utils/saga/effects.ts
Due: eslint --fix

Refactor: data normalizers pass token address as payload
  src/data/normalizers/index.ts
  src/modules/users/data/utils.ts
Due: eslint --fix

Preserve semver ranges
  renovate.json
Due: none

Version: Bump dapp to `1.0.2`
  package.json
Due: none

Use qa config for IPFS on goerli
  src/lib/ipfs/IPFSNode.ts
  src/lib/ipfs/ipfsConfig.production.ts
  src/lib/ipfs/ipfsConfig.qa.ts
Due: eslint --fix
