Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix: create colony wizard limit max names length
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Fix: create token name validate, but don't enforce length
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Fix: pinata lib errors logic
  src/data/graphql/typeDefs.ts
  src/lib/pinata/Pinata.ts
Due: eslint --fix

Remove: confusing metacolony resolver comment
  src/data/resolvers/metacolony.ts
Due: eslint --fix

Fix: graphql re-generate hooks after type change
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

Fix: actions sagas double import
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Add: fetch subscribed colonies more optimally
  src/data/generated.ts
Due: eslint --fix

Add and wire EditDomainDialog
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Create method for getting domain edit action values
  src/utils/events/index.ts
Due: eslint --fix

Add fallback values for no previous entry metadata object
  src/utils/events/index.ts
Due: eslint --fix

Refactor editDomainDetails saga
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Add UnlockTokenDialog and UnlockTokenDialogForm components
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenDialog.tsx
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.css
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.css.d.ts
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.tsx
  src/modules/dashboard/components/UnlockTokenDialog/index.ts
Due: eslint --fix, stylelint --fix

Refactor setCanMintNativeToken method to update also cache for canUnlockNativeToken
  src/data/cacheUpdates.ts
  src/modules/core/sagas/setupUserContext.ts
Due: eslint --fix

Add redux action types for Unlock Token flow
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Add unlock tokens item to ManageFunds index modal
  src/modules/dashboard/components/ManageFundsDialog/ManageFundsDialog.tsx
Due: eslint --fix

Revert types for colony deployment
  src/modules/dashboard/sagas/actions.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

Add UnlockTokenDialog to manage funds index dialog
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/ManageFundsDialog/ManageFundsDialog.tsx
Due: eslint --fix

Update colonyjs version
  package-lock.json
  package.json
Due: none

Remove COLONY_NATIVE_TOKEN_UNLOCK action types
  src/redux/actionTypes.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

Remove colonyNativeTokenUnlock saga from colony sagas
  src/modules/dashboard/sagas/colony.ts
Due: eslint --fix

Add colonyTokenUnlock saga
  src/i18n/en.json
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Update canUnlockToken check
  src/data/cacheUpdates.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

Add set owner step to colony creation
  src/i18n/en.json
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Cast to ColonyClientV5 type
  src/data/cacheUpdates.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

Update colonyNetwork submodule
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.css
  src/modules/dashboard/components/UnlockTokenDialog/UnlockTokenForm.tsx
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix, stylelint --fix

Add emocji padlock
  src/img/icons.json
  src/img/icons/emoji-padlock.svg
Due: none

Updated SingleUserPicker min width according to design specs
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
Due: stylelint --fix

Added separator in colony home domain dropdown and new action button section
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
Due: stylelint --fix

Added box shadow to hovered user avatar on ColonyHome. Adjusted right arrow alignment of fund management button
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Added semi bold font for techie font. Made wallet address styles in Home more consistent
  src/fonts/IBMPlexMono-SemiBold.woff
  src/fonts/IBMPlexMono-SemiBold.woff2
  src/modules/core/components/CopyableAddress/CopyableAddress.css
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/styles/fonts.css
  src/styles/variables.css
Due: stylelint --fix

Changed color of NavItem text
  src/modules/dashboard/components/ColonyNavigation/NavItem.css
Due: stylelint --fix

Updated checkbox core component styles
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.css.d.ts
Due: eslint --fix, stylelint --fix

Removed techie font family from TokenSelector input
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.css
Due: stylelint --fix

Added changes to icons, TokenInfo, and css variables
  src/img/icons.json
  src/img/icons/caret-right-small.svg
  src/modules/core/components/InfoPopover/TokenInfo.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Reduced width of columns in token selection section of transfer funds dialog
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css
Due: stylelint --fix

Updated dropdown item colors
  src/modules/core/components/DropdownMenu/DropdownMenu.css
Due: stylelint --fix

Added better version for caret of UAC sections
  src/img/icons.json
  src/img/icons/caret-right-small.svg
  src/modules/core/components/IndexModal/IndexModalItem.tsx
Due: eslint --fix

Update reputation popover error and subtitle color
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/MemberInfo.tsx
Due: eslint --fix, stylelint --fix

Fixed Icon core component not adding extraTiny classname
  src/modules/core/components/Icon/Icon.css
  src/modules/core/components/Icon/Icon.css.d.ts
Due: eslint --fix, stylelint --fix

Added styles for TokenLink in the TokenInfo component
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/TokenInfo.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
