Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix: `ColonyHome` prevent users w/o profile creating tasks
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Regenerate lockfile
  yarn.lock
Due: none

Add base `Suggestions` component
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/Suggestions/index.ts
Due: eslint --fix

Add `SuggestionCreate` component
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionCreate/index.ts
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
Due: eslint --fix

Add `Suggestions` to `ColonyHome`
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Use `enum` for tabs state
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Add suggestions queries & mutations
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
Due: eslint --fix

Add `SuggestionsList` component
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsList/index.ts
Due: eslint --fix

Add empty state
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css.d.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix, stylelint --fix

Fix notification types after regenerating types
  src/data/index.ts
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.tsx
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix

Add `creator` to suggestion fields
  src/data/fragments.graphql
  src/data/generated.ts
Due: eslint --fix

Use create suggestion mutation
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix

Add `ListGroup` core component for a better `table`-esque experience
  src/modules/core/components/ListGroup/ListGroup.css
  src/modules/core/components/ListGroup/ListGroup.css.d.ts
  src/modules/core/components/ListGroup/ListGroup.tsx
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.css
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.css.d.ts
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.tsx
  src/modules/core/components/ListGroup/ListGroupItem/index.ts
  src/modules/core/components/ListGroup/index.ts
Due: eslint --fix, stylelint --fix

Add `SuggestionsListItem` component
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
  src/modules/dashboard/components/SuggestionsListItem/index.ts
Due: eslint --fix, stylelint --fix

Improve item upvote styling
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Reorganize imports
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Improve action menu styles & behavior
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.css
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.css.d.ts
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Autofocus submit button in `ConfirmDialog`
  src/modules/core/components/Dialog/ConfirmDialog.tsx
Due: eslint --fix

Blur input on form submit
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix

Sort tokens by `createdAt` (descending)
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Add initial suggestion dropdown menu
  src/modules/core/components/Button/Button.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css.d.ts
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix, stylelint --fix

Fix conditional render for suggestion options
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Disable hiding of action menu button
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Add suggestion status mutations
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Move create task cache update out of saga
  src/data/cacheUpdates.ts
  src/data/index.ts
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Remove suggestion from cache when deleting
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Use dots icon for action menu
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Filter suggestion by status
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css.d.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/shared/suggestionFilter.ts
Due: eslint --fix, stylelint --fix

Add `upvote` icon, more strict typings
  src/img/icons/upvote.svg
  src/modules/core/components/Button/IconButton.tsx
  src/modules/core/components/Icon/Icon.tsx
  src/modules/core/components/Icon/icons.json
Due: eslint --fix

Add dep for intl-friendly numerical abbreviations
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix

Add `AbbreviatedNumeral` core component
  src/modules/core/components/Numeral/AbbreviatedNumeral.tsx
  src/modules/core/components/Numeral/index.ts
Due: eslint --fix

Redirect user if profile is unclaimed
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

User suggestion upvote/un-upvoting
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.css
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.css.d.ts
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/index.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Remove confirm dialog from suggestion create form
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix

Improve typing
  src/modules/core/components/Numeral/AbbreviatedNumeral.tsx
Due: eslint --fix

Use history hook
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
Due: eslint --fix

Add `Button` to create suggestion form
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.css
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.css.d.ts
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix, stylelint --fix

Rename icon more appropriately
  src/img/icons/caret-up-small.svg
  src/modules/core/components/Icon/icons.json
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
Due: eslint --fix

Add `Badge` core component
  src/modules/core/components/Badge/Badge.css
  src/modules/core/components/Badge/Badge.css.d.ts
  src/modules/core/components/Badge/Badge.tsx
  src/modules/core/components/Badge/index.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: cypress/**/*.ts)
  stylelint --fix: any of: src/**/*.css
