Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

added multiple tokens in streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

changed updating payment
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedStaged.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedStaged.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Staged.tsx
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix, stylelint --fix

added edits in batch payment
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/ChangedBatch.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/ChangedBatch.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/ChangedBatch.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/utils.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedMultiple/ChangeItem/ChangeItem.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedMultiple/ChangeItem/ChangeItem.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedMultiple/ChangeItem/ChangeItem.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/NewValue/NewValue.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/NewValue/NewValue.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/NewValue/NewValue.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/LockedBatch/LockedBatch.css
  src/modules/dashboard/components/ExpenditurePage/Batch/LockedBatch/LockedBatch.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/LockedBatch/LockedBatch.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/PreviewDialog/PreviewDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Batch/hooks.ts
  src/modules/dashboard/components/ExpenditurePage/Batch/types.ts
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix, stylelint --fix

changes in displaying edits
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangeItem/ChangeItem.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangeItem/ChangeItem.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangeItem/ChangeItem.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangeItem/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedAdvanced/ChangedAdvanced.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedAdvanced/ChangedAdvanced.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedAdvanced/ChangedAdvanced.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedAdvanced/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedBatch/ChangedBatch.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedMultiple/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedRecipient/ChangedRecipient.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedMilestone/ChangedMilestone.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedStaged.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

fixed change header
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedStaged.tsx
Due: eslint --fix

added stages section in straming payment type (UI only)
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/index.ts
Due: eslint --fix, stylelint --fix

added streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix, stylelint --fix

removed unnecessary code
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedStaged/ChangedStaged.tsx
Due: eslint --fix

fixed names, fixed release milestone
  src/modules/dashboard/components/ExpenditurePage/Batch/LockedBatch/LockedBatch.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/ClaimTag/ClaimTag.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/LockedPayments.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/LockedSplit.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/LockedStaged/LockedStaged.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix

DatePicker changes based on PR comments
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix, stylelint --fix

Connect DatePicker to ExpenditureStreamingForm
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix, stylelint --fix

fix: empty lines between imports
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fix: ids values
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
Due: eslint --fix

feat: empty settings form for streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

Feat: Basic DatePicker component
  package-lock.json
  package.json
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.css.d.ts
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/index.ts
  webpack.base.js
Due: eslint --fix, stylelint --fix

fix: order
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
Due: eslint --fix

Fix DatePicker spacing issues
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
  src/modules/core/components/Fields/DatePicker/constants.ts
Due: eslint --fix, stylelint --fix

fix: blue active/hover state
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/SelectHorizontal.tsx
  src/modules/core/components/UserPickerWithSearch/Dropdown.css
  src/modules/core/components/UserPickerWithSearch/Dropdown.css.d.ts
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Add minDate prop to DatePicker
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix, stylelint --fix

Feat: DatePicker with options dropdown
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.css.d.ts
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
Due: eslint --fix, stylelint --fix

moved 'Streaming' folder to 'Expenditures', renamed fundingSource to fundingSources
  src/modules/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix, stylelint --fix

Remove unused icon
  src/img/icons.json
  src/img/icons/caret-down.svg
Due: none

fix: add comment to dropdown component about createPortal
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
Due: eslint --fix

renamed timePeriod to TimePeriod
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

Change DatePicker to work in local timezone
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix

Fix: Patch Typescript issue in `@floating-ui/core` package
  package-lock.json
  package.json
  patches/@floating-ui+core+1.0.1.patch
Due: none

fix: display name fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
Due: eslint --fix

Fix: Import order in DatePicker
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix

Fix: DatePicker time interval
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix

fix: dropdown props name fix
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

fix: display names
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

Fix: DatePicker styling and i18n
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.css.d.ts
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
  src/modules/core/components/Fields/DatePicker/constants.ts
Due: eslint --fix, stylelint --fix

feat: empty settings form for streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/pages/components/ExpenditurePage/types.ts
Due: eslint --fix

fix: lint
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

fix: remove unnecessary comment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

Feat: Basic TimePicker in DatePicker
  package-lock.json
  package.json
  src/modules/core/components/Fields/DatePicker/DatePicker.css
  src/modules/core/components/Fields/DatePicker/DatePicker.css.d.ts
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
  src/modules/core/components/Fields/DatePicker/constants.ts
Due: eslint --fix, stylelint --fix

Delete old DatePicker component
  src/modules/core/components/DatePicker/CaptionElement.css
  src/modules/core/components/DatePicker/CaptionElement.css.d.ts
  src/modules/core/components/DatePicker/CaptionElement.tsx
  src/modules/core/components/DatePicker/DatePicker.css
  src/modules/core/components/DatePicker/DatePicker.css.d.ts
  src/modules/core/components/DatePicker/DatePicker.md
  src/modules/core/components/DatePicker/DatePicker.tsx
  src/modules/core/components/DatePicker/DatePickerContent.css
  src/modules/core/components/DatePicker/DatePickerContent.css.d.ts
  src/modules/core/components/DatePicker/DatePickerContent.tsx
  src/modules/core/components/DatePicker/InputField.tsx
  src/modules/core/components/DatePicker/NavbarElement.css
  src/modules/core/components/DatePicker/NavbarElement.css.d.ts
  src/modules/core/components/DatePicker/NavbarElement.tsx
  src/modules/core/components/DatePicker/index.ts
  src/modules/core/components/DatePicker/keyTypes.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Feat: DatePicker handle UTC dates
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix

fix: add comment and fix name to withDropdownElement
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/SelectHorizontal.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fixed ids
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
