Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

typo fix
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/WhyPanel.tsx
Due: eslint --fix

removed unnecessary compoents and icons
  src/img/icons.json
  src/img/icons/circle-plus-2.svg
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/Radio/Radio.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/Radio/Radio.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/Radio/Radio.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/Radio/index.ts
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

added Stages section
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
  src/modules/pages/components/IncorporationPage/types.ts
Due: eslint --fix, stylelint --fix

code refactor
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/Incorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/Incorporation/Stages/Stages.css
  src/modules/dashboard/components/Incorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/Stages.tsx
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/Incorporation/Stages/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.css
  src/modules/pages/components/IncorporationPage/IncorporationPage.css.d.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
  src/modules/pages/components/IncorporationPage/types.ts
Due: eslint --fix, stylelint --fix

removed Stages component from Incorporation file
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/Incorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/Incorporation/Stages/Stages.css
  src/modules/dashboard/components/Incorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/Stages.tsx
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/Incorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/Incorporation/Stages/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

changed mainContact and signOption validation
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix

added validation
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

fixed validation, styles
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

fixed condition, removed unnecessary type
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
Due: eslint --fix

changed FormStages
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

added Stages section
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

added validation
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

fixed validation, styles
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.tsx
Due: eslint --fix

added Stages section
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
Due: eslint --fix, stylelint --fix

added validation
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix, stylelint --fix

[wip]locked sidebar form
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/index.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix, stylelint --fix

added locked sidebar
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/constants.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
Due: eslint --fix, stylelint --fix

fixed type error
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

changed tooltip content
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
Due: eslint --fix

fixed styles
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
Due: eslint --fix, stylelint --fix

fixed css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
Due: stylelint --fix

changed mainContact and signOption validation
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
Due: eslint --fix, stylelint --fix

renamed to Incorporation
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/index.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/constants.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/LockedIncorporationForm.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedIncorporationForm/index.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.css.d.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/index.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/constants.ts
  src/modules/pages/components/IncorporationPage/types.ts
Due: eslint --fix, stylelint --fix

fixed type errors
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

fixed types
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

fixed types errors
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.tsx
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
Due: eslint --fix

added start incoporation modal
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/Dialogs/StaartApplicationDialog/StartApplicationDialog.css
  src/modules/dashboard/components/Dialogs/StaartApplicationDialog/StartApplicationDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/StaartApplicationDialog/StartApplicationDialog.tsx
  src/modules/dashboard/components/Dialogs/StaartApplicationDialog/index.ts
Due: eslint --fix, stylelint --fix

fixed styles, changed file name
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
  src/modules/dashboard/components/Dialogs/StaartApplicationDialog/index.ts
  src/modules/dashboard/components/Dialogs/StakeApplicationDialog/StakeApplicationDialog.css
  src/modules/dashboard/components/Dialogs/StakeApplicationDialog/StakeApplicationDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/StakeApplicationDialog/StakeApplicationDialog.tsx
  src/modules/dashboard/components/Dialogs/StakeApplicationDialog/index.ts
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
Due: eslint --fix, stylelint --fix

fixed opening dialog
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/Incorporation/Stages/FormStages.tsx
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix
