Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Refactor: `ColonyInvite` now rendered in `ColonyMeta`
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
Due: eslint --fix, stylelint --fix

Fix: `CopyableAddress` display variable naming
  src/modules/core/components/CopyableAddress/CopyableAddress.tsx
Due: eslint --fix

Fix: `ColonyInvite` message descriptor id naming
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyInvite.tsx
Due: eslint --fix

Fix: `ColonyInvite` minor code styling
  src/modules/core/components/ClipboardCopy/ClipboardCopy.tsx
  src/modules/core/components/CopyableAddress/CopyableAddress.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyInvite.tsx
Due: eslint --fix

Sort out all vs root domains
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
Due: eslint --fix

Improve aside padding
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
Due: stylelint --fix

Fix: `ClipboardCopy` remove unused hook import
  src/modules/core/components/ClipboardCopy/ClipboardCopy.tsx
Due: eslint --fix

Add `ColonyFunding` component
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/TokenItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix, stylelint --fix

Add `ColonyFunding` to `ColonyHome`
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix, stylelint --fix

Open fund dialog with currently selected domain
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Refactor: `FileUpload` to have default limits
  src/modules/core/components/FileUpload/FileUpload.tsx
  src/modules/core/components/FileUpload/limits.ts
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Fix: `StepJSONUpload` better accepted mime types
  src/modules/users/components/ConnectWalletWizard/StepJSONUpload/StepJSONUpload.tsx
Due: eslint --fix

Add: `StepCreateToken` allow `jpeg` mime types
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
Due: eslint --fix

Add key to `map`ped jsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Refactor: `AvatarUploader` better accepted mime types
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
Due: eslint --fix

Fix: `ActionFileUpload` status types
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/core/components/FileUpload/ActionFileUpload.tsx
  src/modules/users/components/ConnectWalletWizard/StepJSONUpload/StepJSONUpload.tsx
Due: eslint --fix

Fix: token create/select step unified form labels
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Refactor: private members
  integration-testing/DDB.test.ts
  src/data/PurserIdentity.ts
  src/data/PurserIdentityProvider.ts
  src/data/accessControllers/AbstractAccessController.ts
  src/data/accessControllers/ColonyAccessController.ts
  src/data/accessControllers/EthereumWalletAccessController.ts
  src/data/accessControllers/PermissiveAccessController.ts
  src/data/accessControllers/TaskAccessController.ts
  src/data/permissions/PermissionManager.ts
  src/lib/database/AccessControllerFactory.ts
  src/lib/database/DDB.ts
  src/lib/database/stores/EventStore.ts
  src/lib/database/stores/Store.ts
  src/modules/core/sagas/connection.ts
Due: eslint --fix

Fix: `StepSelectToken` file uploads
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Add event migration
  .env.example
  src/data/accessControllers/TaskAccessController.ts
  src/data/blueprints/colony.ts
  src/data/blueprints/colonyTaskIndex.ts
  src/data/blueprints/task.ts
  src/data/blueprints/userMetadata.ts
  src/data/blueprints/userProfile.ts
  src/data/constants.ts
  src/data/migrations/index.ts
  src/data/migrations/types.ts
  src/data/migrations/v2.ts
  src/data/normalizers/index.ts
  src/data/permissions/colony.ts
  src/data/permissions/common.ts
  src/data/permissions/index.ts
  src/data/permissions/task.ts
  src/data/permissions/utils.ts
  src/data/stores.ts
  src/data/types/ColonyEvents.ts
  src/data/types/TaskEvents.ts
  src/data/types/UserEvents.ts
  src/data/types/UserProfileEvents.ts
  src/data/types/accessControllers/Entry.ts
  src/data/types/context.ts
  src/data/types/events.ts
  src/data/types/permissions.ts
  src/data/types/queries.ts
  src/data/utils.ts
  src/environment.d.ts
  src/lib/database/stores/EventStore.ts
  src/lib/database/stores/__tests__/EventStore.test.ts
  src/modules/core/constants.ts
Due: eslint --fix

Add: token create/select step file upload hint
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepSelectToken.tsx
Due: eslint --fix

Use env var as migration target
  src/data/constants.ts
  src/data/normalizers/index.ts
  src/data/utils.ts
Due: eslint --fix

Refine store types
  src/data/types/ColonyEvents.ts
  src/data/types/CommentEvents.ts
  src/data/types/TaskEvents.ts
  src/data/types/TaskIndexEvents.ts
  src/data/types/UserInboxEvents.ts
  src/data/types/UserMetadataEvents.ts
  src/data/types/events.ts
  src/data/types/stores.ts
  src/immutable/TaskEvent.ts
  src/immutable/TaskFeedItem.ts
  src/lib/database/stores/EventStore.ts
  src/lib/database/stores/__tests__/EventStore.test.ts
  src/lib/database/types/OrbitDBStore.ts
  src/modules/dashboard/data/queries/colonies.ts
  src/modules/dashboard/data/queries/feedItems.ts
  src/modules/dashboard/reducers/taskFeedItems.ts
  src/redux/types/actions/task.ts
Due: eslint --fix

Set domainId default in task create saga
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.tsx
  src/modules/dashboard/reducers/tasks.ts
  src/modules/dashboard/sagas/task.ts
  src/redux/types/actions/task.ts
Due: eslint --fix

Fix some typings
  src/data/accessControllers/ColonyAccessController.ts
  src/data/accessControllers/TaskAccessController.ts
  src/data/blueprints/task.ts
  src/data/permissions/PermissionManager.ts
  src/immutable/Task.ts
  src/modules/dashboard/state/AllRoles.ts
  src/modules/users/data/queries.ts
  src/modules/users/data/utils.ts
  src/utils/hooks/index.ts
Due: eslint --fix

Set task domain ID
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.tsx
  src/modules/dashboard/data/commands/colony.ts
  src/modules/dashboard/data/commands/task.ts
  src/modules/dashboard/data/queries/colonies.ts
  src/modules/dashboard/data/reducers/task.ts
  src/modules/dashboard/reducers/tasks.ts
  src/modules/dashboard/sagas/task.ts
  src/modules/users/data/queries.ts
  src/modules/users/data/utils.ts
  src/redux/types/actions/task.ts
Due: eslint --fix

Use domain-level roles
  src/data/permissions/utils.ts
  src/immutable/UserPermissions.ts
  src/immutable/index.ts
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
  src/modules/admin/components/Domains/Domains.tsx
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.tsx
  src/modules/dashboard/components/Task/Task.tsx
  src/modules/dashboard/data/queries/colonies.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/users/actionCreators/user.ts
  src/modules/users/checks.ts
  src/modules/users/constants.ts
  src/modules/users/data/queries.ts
  src/modules/users/fetchers.ts
  src/modules/users/reducers/currentUserReducer/index.ts
  src/modules/users/reducers/currentUserReducer/permissions.ts
  src/modules/users/sagas/user.ts
  src/modules/users/selectors/user.ts
  src/modules/users/state/CurrentUser.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/user.ts
  src/types/index.ts
  src/utils/hooks/index.ts
Due: eslint --fix

Fix breadcrumb and solve annoying issue
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
  src/modules/admin/components/Profile/Profile.css
  src/modules/admin/components/Profile/Profile.css.d.ts
  src/modules/admin/components/Profile/Profile.tsx
  src/modules/admin/components/Profile/index.ts
  src/modules/admin/components/Transactions/Transactions.css
  src/modules/admin/components/Transactions/Transactions.tsx
  src/modules/core/components/BreadCrumb/BreadCrumb.tsx
  src/modules/core/components/TransactionList/TransactionList.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/TabTransactions/TabTransactions.tsx
  src/modules/dashboard/components/ColonyHome/TabTransactions/index.ts
Due: eslint --fix, stylelint --fix

Set current version only in enum
  .env.example
  src/data/constants.ts
  src/data/normalizers/index.ts
  src/data/utils.ts
Due: eslint --fix

Add "All Domains" option to colony home
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
Due: eslint --fix

Replace the use of blocksBack with fromBlock=1
  src/modules/admin/data/queries.ts
  src/modules/dashboard/data/queries/colonies.ts
  src/modules/users/data/queries.ts
Due: eslint --fix

Remove unused tabs
  src/modules/admin/components/Profile/ProfileAdvanced.css
  src/modules/admin/components/Profile/ProfileAdvanced.css.d.ts
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
  src/modules/admin/components/Profile/ProfileEdit.css
  src/modules/admin/components/Profile/ProfileEdit.css.d.ts
  src/modules/admin/components/Profile/ProfileEdit.tsx
  src/modules/core/components/BreadCrumb/BreadCrumb.tsx
Due: eslint --fix, stylelint --fix

Reorganize i18n messages
  src/modules/admin/components/Profile/ProfileEdit.tsx
Due: eslint --fix

Profile edit heading span entire width
  src/modules/admin/components/Profile/ProfileEdit.css
  src/modules/admin/components/Profile/ProfileEdit.css.d.ts
  src/modules/admin/components/Profile/ProfileEdit.tsx
Due: eslint --fix, stylelint --fix

Remove TabTransactions component
  src/modules/admin/components/Domains/Domains.css
  src/modules/admin/components/Permissions/Permissions.css
  src/modules/admin/components/Profile/ProfileAdvanced.css
  src/modules/admin/components/Profile/ProfileEdit.css
  src/modules/admin/components/Profile/ProfileEdit.css.d.ts
  src/modules/admin/components/Tokens/Tokens.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/TabTransactions/TabTransactions.tsx
  src/modules/dashboard/components/ColonyHome/TabTransactions/index.ts
Due: eslint --fix, stylelint --fix

Stylelint fixes
  src/modules/admin/components/Permissions/Permissions.css
  src/modules/admin/components/Profile/ProfileEdit.css
  src/modules/admin/components/Tokens/Tokens.css
Due: stylelint --fix

Add `noFilter` i18n message
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Reverse widths of heading & bottom divider to match figma
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
Due: eslint --fix

Fix: `ColonyPermissionEditDilog` code style
  src/modules/admin/components/Permissions/ColonyPermissionEditDialog.tsx
Due: eslint --fix

Remove `ActivityFeed` for now
  src/modules/users/components/UserProfile/UserProfile.tsx
Due: eslint --fix
