Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Added user data for validation in TotalStakeWidget
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.tsx
Due: eslint --fix

Regenerated graphql file after rebase
  src/data/generated.ts
Due: eslint --fix

Added GroupedTotalStake component
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
Due: eslint --fix

Updated submitButton of GroupTotalStake
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css.d.ts
Due: eslint --fix, stylelint --fix

Removed labelIcon of CustomRadio and added emoji to label text
  src/modules/core/components/Fields/Radio/CustomRadio.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
Due: eslint --fix

Updated styles of CustomRadio disabled state
  src/modules/core/components/Fields/Radio/CustomRadio.css
Due: stylelint --fix

Regenerated graphql queries file
  src/data/generated.ts
Due: eslint --fix

Added SingleTotalStake component
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/SingleTotalStake.tsx
Due: eslint --fix

Updated TotalStakeWidget
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/index.ts
Due: eslint --fix, stylelint --fix

Added QuestionMarkTooltip to GroupedTotalStake
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css.d.ts
Due: eslint --fix, stylelint --fix

Updated GroupedTotalStake component
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
Due: eslint --fix, stylelint --fix

Updated MintTokenMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Updated MintTokenMotion with StakeSide prop for TotalStakeWidget
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Readded description check to CustomRadio
  src/modules/core/components/Fields/Radio/CustomRadio.tsx
Due: eslint --fix

Reused back text message id in StakingWidget
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix

Added stakeAmounts data refreshing after stake
  src/data/generated.ts
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.tsx
  src/modules/dashboard/sagas/motions/stakeMotion.ts
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Changed isOnStakingPhase to isStakingPhase in MIntTokenMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Updated Next TotalStakedWidget styles
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
Due: stylelint --fix

Made stakeSide param in updateMotionValues optional
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Add: `finalizeMotion` saga
  src/modules/dashboard/sagas/motions/finalizeMotion.ts
  src/modules/dashboard/sagas/motions/index.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Update: finalize motion values after saga success
  src/i18n/en.json
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Add: wire `FinalizeMotionAndClaimWidget` with finalize saga
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Update: `UpdateMotionValues` refresh staker rewards
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Add: wire `FinalizeMotionAndClaimWidget` with claim saga
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Add: `claimMotionRewards` saga
  src/i18n/en.json
  src/modules/dashboard/sagas/motions/claimMotionRewards.ts
  src/modules/dashboard/sagas/motions/index.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Refactor: `claimMotionRewards` saga
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
  src/modules/dashboard/sagas/motions/claimMotionRewards.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Fix displaying staked tokens
  src/data/resolvers/user.ts
Due: eslint --fix

Add note to getUserStakedBalance method
  src/data/resolvers/user.ts
Due: eslint --fix

Fix active tokens calculation
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Check if votingClient is actually installed
  src/data/resolvers/user.ts
Due: eslint --fix

Update wallet balance after stake
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
Due: eslint --fix

Fix wrongly displayed transaction count in UserNavigation wallet
  src/modules/pages/components/RouteLayouts/UserNavigation.css
Due: stylelint --fix

Feat: add `RaiseObjectionDialog`, form & css
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `MOTION_OBJECT` types & actions
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Feat: add `Slider` to `RaiseObjectionDialog`
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css.d.ts
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

Feat: add slider props & schema validation & some css to `RaiseObjection`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/ObjectButton.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css.d.ts
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix, stylelint --fix

WIP: add `ObjectButton` to test `RaiseObjectionDialog`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/ObjectButton.tsx
Due: eslint --fix

Refactor: remove `ObjectButton` component
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/ObjectButton.tsx
Due: eslint --fix

Feat: add `RaiseObjectionDialog` to `StakingWidget`
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix

Feat: extract staking slider to `StakingSlider` component
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/index.ts
Due: eslint --fix
