Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Update circles to paths in icon
  src/img/icons/three-dots-row.svg
Due: none

Added margin to better match design
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
Due: stylelint --fix

Fix: `ActionsPageEvent` autogenerated index fallback
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Refactor: `getUserStakedBalance` resolver util
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
  src/data/resolvers/user.ts
Due: eslint --fix

Remove not needed refetching
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Fix: `colonyExtensionEnable` deploy token authority logic
  src/modules/dashboard/sagas/extensions/colonyExtensionEnable.ts
Due: eslint --fix

Restore: `ColonyRoleSet` actions page event msg descriptor
  src/i18n/en-events.ts
Due: eslint --fix

Add: `useUserAvatarImageFromIPFS` hook
  src/modules/users/components/HookedUserAvatar/HookedUserAvatar.ts
  src/modules/users/sagas/user.ts
  src/types/index.ts
  src/types/user.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

Fix: `UserInfo` properly fetch avatar data
  src/modules/core/components/InfoPopover/UserInfo.tsx
  src/modules/users/components/HookedUserAvatar/HookedUserAvatar.ts
Due: eslint --fix

Bump: version to next MINOR `4.4.0`
  package-lock.json
  package.json
Due: none

Convert properly periodLength
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Fixed weird typecheck error related to motionState in DefaultMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Fixed countdown timer showing when the motion is finished
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Adds info on toggling repuration auto-mining
  Readme.md
Due: none

Undo wrong deletion of caretContainer
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix manage funds link arrow aligment and positioning
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Adds svg icon for manage funds link
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Improved weights and positioning
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Fix alignment and hover state
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
Due: stylelint --fix

Make arrow-right icon used in manage funds link alignment
  src/img/icons.json
  src/img/icons/arrow-right.svg
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Make manage links icon use MSGFormmated
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix

Refactor: hide `userLimitFraction` when no whitelist
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Refactor: `SynapsKYCDialog` refresh timeout
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.tsx
Due: eslint --fix

Fix: `SynapsKYCDialog` clear interval on unmount
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.tsx
Due: eslint --fix

Fix: `calculatePercentageReputation` prevent division by 0
  src/utils/reputation.ts
Due: eslint --fix

Add: `createUserWithSecondAttempt` user sagas util
  src/data/generated.ts
  src/data/graphql/mutations.graphql
  src/modules/users/sagas/user.ts
  src/modules/users/sagas/utils/createUserWithSecondAttempt.ts
  src/modules/users/sagas/utils/index.ts
Due: eslint --fix

Refactor: `colonyCreate` use `createUserWithSecondAttempt`
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/users/sagas/user.ts
Due: eslint --fix

Added redirection to colony after connecting user
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/CreateUserWizard/StepConfirmTransaction.tsx
  src/routes/WalletRequiredRoute.tsx
Due: eslint --fix

Added colony redirection to user not connected with no username
  src/routes/WalletRequiredRoute.tsx
Due: eslint --fix

Adds icon arrow-right for manage funds link
  src/img/icons.json
  src/img/icons/arrow-right.svg
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix margin left/right on right arrow icon
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Adds 1px margin-bottom to right arrow icon css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Added missing bold font weight to BuyTokens info tooltip
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
Due: stylelint --fix

Put back refetch logic
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Convert values to seconds
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Update dropdown copy
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.tsx
Due: eslint --fix

Fixes scroll on dialog boxes.
  src/modules/core/components/Dialog/Dialog.css
Due: stylelint --fix

Added missing permission tooltip copies
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix
