Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Added warning for colony version upgrade on control safe dialog
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Updated bridge monitor links
  src/modules/constants.ts
Due: eslint --fix

Added etherscan and bscscan attribution to contract interaction section
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
Due: eslint --fix, stylelint --fix

changed tooltip content
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/LockedProtectors/LockedProtectors.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
Due: eslint --fix

added modal with slides
  src/modules/core/components/Dialog/Dialog.css
  src/modules/core/components/Dialog/Dialog.css.d.ts
  src/modules/core/components/Dialog/Dialog.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/DAOIncorporationDialog.css
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/DAOIncorporationDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/DAOIncorporationDialog.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/CostPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/HowPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/TabPanels.css
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/TabPanels.css.d.ts
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/WhyPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/index.ts
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/constants.ts
Due: eslint --fix, stylelint --fix

changed tooltip text
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/CostPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/HowPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/TabPanels.css
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/TabPanels/WhyPanel.tsx
  src/modules/dashboard/components/Dialogs/DAOIncorporationDialog/constants.ts
Due: eslint --fix, stylelint --fix

added cost mock
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.css
  src/modules/dashboard/components/Incorporation/IncorporationForm/IncorporationForm.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/constants.ts
Due: eslint --fix, stylelint --fix

added Stages section
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
Due: eslint --fix, stylelint --fix

added validation
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
Due: eslint --fix, stylelint --fix

added locked sidebar
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/constants.ts
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
Due: eslint --fix

renamed to Incorporation
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/SingleUserPicker/index.ts
  src/modules/dashboard/components/DAOIncorporation/IncorporationForm/constants.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/FormStages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/StageItem.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StageItem/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/Stages.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/StagesButton.tsx
  src/modules/dashboard/components/DAOIncorporation/Stages/StagesButton/index.ts
  src/modules/dashboard/components/DAOIncorporation/Stages/index.ts
Due: eslint --fix, stylelint --fix

added mock token data
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.css
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.tsx
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/constants.ts
Due: eslint --fix, stylelint --fix

added IncorporationPaymentDialog
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.css
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/IncorporationPaymentDialog.tsx
  src/modules/dashboard/components/Dialogs/IncorporationPaymentDialog/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

removed unnecessary enum
  src/modules/dashboard/components/Incorporation/IncorporationForm/Protectors/Protectors.tsx
  src/modules/dashboard/components/Incorporation/IncorporationForm/types.ts
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix

added info banner
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.css
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.css.d.ts
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.tsx
  src/modules/dashboard/components/Incorporation/InfoBanner/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.css
  src/modules/pages/components/IncorporationPage/IncorporationPage.css.d.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/modules/pages/components/IncorporationPage/constants.ts
Due: eslint --fix, stylelint --fix

removed unnecessary enum, fixed padding
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

added link instead of button
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.css
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.tsx
Due: eslint --fix, stylelint --fix

added DAO Incorporation section on Motion Page
  src/i18n/en-motions.ts
  src/img/icons.json
  src/img/icons/flag.svg
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/constants.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/Incorporation/LinkedIncorporation/LinkedIncorporation.css
  src/modules/dashboard/components/Incorporation/LinkedIncorporation/LinkedIncorporation.css.d.ts
  src/modules/dashboard/components/Incorporation/LinkedIncorporation/LinkedIncorporation.tsx
  src/modules/dashboard/components/Incorporation/LinkedIncorporation/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
  src/types/colonyMotions.ts
Due: eslint --fix, stylelint --fix

added confirm payment handler
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix

removed unnecessary files
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.css
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.css.d.ts
  src/modules/dashboard/components/Incorporation/InfoBanner/InfoBanner.tsx
  src/modules/dashboard/components/Incorporation/InfoBanner/index.ts
  src/modules/pages/components/IncorporationPage/IncorporationPage.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `GnosisControlSafeForm` css & link
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/externalUrls.ts
Due: eslint --fix, stylelint --fix

feat:add another grey-blue
  src/styles/variables.css
Due: stylelint --fix

feat:add `removeSafeDialog`
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

feat:add Gnosis safe UAC
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AdvancedDialog/AdvancedDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageGnosisSafeDialog/ManageGnosisSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageGnosisSafeDialog/index.ts
Due: eslint --fix

feat:handle no safes
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
Due: eslint --fix, stylelint --fix

Feat: add `maskedAddress` to `SingleUserPicker`
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix, stylelint --fix

feat:add `pink` theme
  src/modules/core/components/Fields/Checkbox/Checkbox.css
  src/modules/core/components/Fields/Checkbox/Checkbox.css.d.ts
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
Due: eslint --fix, stylelint --fix

Feat: add `GnosisControlSafe` base dialog structure
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/index.ts
Due: eslint --fix

fix:correct MSG id
  src/modules/dashboard/components/Dialogs/ManageFundsDialog/ManageFundsDialog.tsx
Due: eslint --fix

Feat: update `AddItemButton`
  src/modules/core/components/Button/AddItemButton.css
  src/modules/core/components/Button/AddItemButton.css.d.ts
  src/modules/core/components/Button/AddItemButton.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Feat: extract `SingleSafePicker` as a separate component
  src/modules/core/components/Button/AddItemButton.tsx
  src/modules/core/components/SingleUserPicker/SingleSafePicker.tsx
  src/modules/core/components/SingleUserPicker/index.ts
Due: eslint --fix

Refactor: fix button positioning in `GnosisControlSafeForm`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

feat:add `Remove Safe Dialog`, form, & types
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/RemoveSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/SafeListItem.css
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/SafeListItem.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/SafeListItem.tsx
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/index.ts
  src/modules/dashboard/components/Dialogs/RemoveSafeDialog/types.ts
Due: eslint --fix, stylelint --fix

Feat: add `AddItemButton` core component
  src/modules/core/components/Button/AddItemButton.css
  src/modules/core/components/Button/AddItemButton.css.d.ts
  src/modules/core/components/Button/AddItemButton.tsx
  src/modules/core/components/Button/index.ts
Due: eslint --fix, stylelint --fix

Feat: update transaction select in GnosisSafeControl
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Refactor: update button in `GnosisControlSafeForm`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: remove unnecessary props in `ColonyHomeAction`
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

feat:add safe icons
  src/img/icons.json
  src/img/icons/add-existing-safe.svg
  src/img/icons/control-safe.svg
  src/img/icons/gnosis-safe.svg
  src/img/icons/remove-safe.svg
Due: none

Refactor: update `AddItemButton`
  src/modules/core/components/Button/AddItemButton.tsx
Due: eslint --fix

Feat: add `placholderIconName` to `SingleUserPicker`
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix
