Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Feat: add motion domain in the details widget for decisions
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
Due: eslint --fix

Fix: webpack prod build error
  src/modules/dashboard/sagas/utils/safeHelpers.ts
  webpack.dev.js
  webpack.prod.js
Due: eslint --fix

fix: intl messages fix, formatted message with value
  src/modules/dashboard/components/Dialogs/CancelStreamingDialog/CancelStreamingForm.tsx
  src/modules/dashboard/components/Dialogs/CancelStreamingDialog/FundingSourceItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStages.tsx
Due: eslint --fix

fix: colonyMembers type
  src/modules/dashboard/components/ExpenditurePage/Payments/SingleRecipient/SingleRecipient.tsx
Due: eslint --fix

Add maxDate prop to DatePicker
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/Fields/DatePicker/TimePicker.tsx
Due: eslint --fix

Specify min date for streaming end date
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fix: new props instead of passing array of elements
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/SingleRecipient/SingleRecipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleFundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
Due: eslint --fix

fix:add support to disable Decision editor
  src/modules/core/components/RichTextEditor/RichTextEditor.tsx
Due: eslint --fix

fix: error dot issue - input width
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.tsx
Due: eslint --fix, stylelint --fix

Fix: error in contract parser ABI textarea
  src/utils/safes/getContractUsefulMethods.ts
Due: eslint --fix

Refactor: abi validation
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
  src/utils/safes/getContractUsefulMethods.ts
  src/utils/safes/index.ts
Due: eslint --fix

Refactor: isAbiItem
  src/utils/safes/getContractUsefulMethods.ts
Due: eslint --fix

Fix: Avatar uploader gets stuck
  src/modules/core/components/AvatarUploader/AvatarUploadItem.tsx
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.css
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.css.d.ts
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.tsx
Due: eslint --fix, stylelint --fix

changed file name, token change handler added
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangePayment/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.css.d.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.tsx
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/index.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/utils.ts
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/EditExpenditureDialogForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitEqual/SplitEqual.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/SplitUnequal.tsx
Due: eslint --fix, stylelint --fix

feat: base of the message info on submit
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
Due: eslint --fix, stylelint --fix

fix: commented func body
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
Due: eslint --fix

fix: buttom and title text val fix
  src/i18n/en.json
  src/modules/dashboard/components/Dialogs/CancelStreamingDialog/CancelStreamingForm.tsx
Due: eslint --fix

fixed switch in ChangeItem
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedMultiple/ChangeItem/ChangeItem.tsx
Due: eslint --fix

Chore: remove `"dev": true` from `package-lock.json`
  package-lock.json
Due: none

added filter method
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.css
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedSplit.tsx
Due: eslint --fix, stylelint --fix

fixed ids, removed one switch block
  src/modules/dashboard/components/ExpenditurePage/Stages/LinkedMotions/LinkedMotions.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
Due: eslint --fix

added failed motion
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

changed linked motions component
  src/modules/dashboard/components/ExpenditurePage/Stages/LinkedMotions/LinkedMotions.css
  src/modules/dashboard/components/ExpenditurePage/Stages/LinkedMotions/LinkedMotions.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
Due: eslint --fix, stylelint --fix

Improved param validation for contract interaction transaction
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

Fix: AbiItemExtended import
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Refactor: dont display the last comma in an array
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Refactor: fix data overflow
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Refactor: display array of masked addresses
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Refactor: improve formatting for type address[]
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/utils/safes/contractParserValidation.ts
  src/utils/safes/index.ts
Due: eslint --fix

Refactor: remove spaces in arrays
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Feat: get transaction values and format addresses
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Fix: move AbiItemExtended import
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Feat: set up contract interaction transaction type
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/DetailsItem/DetailsItem.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

fixed onToggleChange function
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
Due: eslint --fix

changed onToggleChange function
  src/modules/dashboard/components/ExpenditurePage/Split/Split.tsx
Due: eslint --fix

feat: error message on submit and fix it button
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css.d.ts
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Staged.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `hasCurrentUserVoted` condition in motion resolvers
  src/data/resolvers/motions.ts
Due: eslint --fix

fix: expenditure form remove changes
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
Due: eslint --fix

Move address check outside SingleUserPicker render
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix

Refactor: Shorten address validation in SingleUserPicker
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix
