Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Updated CoinMachineTokenSales query
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Added date formatting to TokenSalesTable and WIP formatting to price and token formatting
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Updated price calculation of previous sale data query
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Added getPriceStatus and getFormattedTokensRemaining util functions
  src/utils/colonyCoinMachine.tsx
Due: eslint --fix

Updated graphql generated file after rebase
  src/data/generated.ts
Due: eslint --fix

Updated styles of PreviousSale table when it overflows
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
Due: eslint --fix

Wired up formatting for remaining tokens and price status on TokenSalesTable
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Extracted getPriceStatus and getFormattedTokensRemaining out of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Added export for PeriodTokensType on TRemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
Due: eslint --fix

Fixed calling wrong method to get window size on previous sales resolver
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Updated CoinMachinePreviousSale query according to changes on Subgraph
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Added sellableToken and periodTokens prop to TokenSalesTable
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Removed old coinMachinePreviousSales resolver
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Refactored getFormattedTokensRemaning into a component
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
  src/utils/colonyCoinMachine.ts
  src/utils/components/RemainingTokensValue.tsx
  src/utils/components/index.ts
Due: eslint --fix

Removed fixed height of PreviousSales table
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
Due: eslint --fix, stylelint --fix

Refactor: remove & update types in remaining widgets components
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Updated generated graphql file after rebase
  src/data/generated.ts
Due: eslint --fix

Refactor: add proper types to `RemainingDisplayWidget` & update `RemainingTime`
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
Due: eslint --fix

Refactor: update `RemainingWidgets` folder & files structure
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/index.ts
Due: eslint --fix, stylelint --fix

Fix: update types & imports after the rebase
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/index.ts
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
  src/utils/colonyCoinMachine.ts
  src/utils/components/RemainingTokensValue.tsx
Due: eslint --fix

Chore: add missing changes after the rebase
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Refactor: coin machine `Chat` use comment subscriptions
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Chore: update `generated` file after the merge
  src/data/generated.ts
Due: eslint --fix

Refactor: update `AgreementContainer` after the rebase
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementContainer.tsx
Due: eslint --fix

Update: GraphQL hooks after rebase
  src/data/generated.ts
Due: eslint --fix

Styles: update extension setup styles based on new specs
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix, stylelint --fix

Styles: update `ExtensionDetails` css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
Due: stylelint --fix

Styles: remove weight-bold from the last bread crumb
  src/modules/core/components/BreadCrumb/BreadCrumb.css
Due: stylelint --fix

Styles: update `ExtensionSetup` css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
Due: stylelint --fix

Add authenticationKYC helper
  .env.example
  src/api/auth.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/GetWhitelisted/GetWhitelisted.tsx
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css.d.ts
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.tsx
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/kycApi.ts
Due: eslint --fix, stylelint --fix

Styles: update `ExtensionSetup` css token selector container
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
Due: stylelint --fix

Refactor: fix the token address in `ExtensionSetup`
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Update tell me more link
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Styles: update link styles in `ExtensionDetails`
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
Due: stylelint --fix

Add useWindowSize hook
  src/utils/hooks/useWindowSize.ts
Due: eslint --fix

Refactor: update `RemainingTokens` price statuses
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Add react confetti lib
  package-lock.json
  package.json
Due: none

Feat: add additional arg to `getPriceStatus` util & update it accordingly
  src/utils/colonyCoinMachine.ts
Due: eslint --fix

Display confetti
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
