Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

code fixes
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.tsx
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/TeamDropdownItem.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
Due: eslint --fix, stylelint --fix

Refactor: fix `ColonyMembers` css syntax
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
Due: stylelint --fix

Feat: split data into watchers & contributors in `ColonyMembers`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Feat: add `colonyContributors` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
Due: eslint --fix

removed select from owner field
  src/modules/core/components/Dialog/DialogSection.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.css
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.tsx
Due: eslint --fix, stylelint --fix

removed unnecessary code
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.tsx
Due: eslint --fix

removed user picker with search
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css.d.ts
Due: eslint --fix, stylelint --fix

Add: New Join this Colony Button
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

fix:update padding for component
  src/modules/core/components/CalloutCard/CalloutCard.css
Due: stylelint --fix

Feat: add additional params to `colonyContributors` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

fix:remove string prop option for `CalloutCard`
  src/modules/core/components/CalloutCard/CalloutCard.tsx
Due: eslint --fix

fix:clean up css & remove unnecessary parameter
  src/modules/core/components/CalloutCard/CalloutCard.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
Due: eslint --fix, stylelint --fix

added recipients array in payments component
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css.d.ts
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/index.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/types.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

fix:clean up permissions on prop & useMemo
  src/modules/core/components/CalloutCard/CalloutCard.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
Due: eslint --fix

code fixes, paddings and align fixes
  src/img/tokens/CLNY.svg
  src/img/tokens/xDAI.svg
  src/modules/core/components/Dialog/DialogSection.css
  src/modules/core/components/Dialog/DialogSection.css.d.ts
  src/modules/core/components/Dialog/DialogSection.tsx
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/core/components/OmniPicker/OmniPicker.tsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/TeamDropdownItem.css
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/TeamDropdownItem.css.d.ts
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/TeamDropdownItem.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.css
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.ts
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.tsx
Due: eslint --fix, stylelint --fix

name change
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/consts.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/index.ts
  src/modules/dashboard/components/ExpenditurePage/TopParameters/index.ts
  src/modules/dashboard/components/ExpenditurePage/index.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Refactor: Remove neg margin and update naming
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
Due: eslint --fix, stylelint --fix

Feat: add `contributorsAndWatchers` query, types & resolver logic
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

Refactor: fix types in contributors query
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

added recipients array
  src/img/icons.json
  src/img/icons/plus.svg
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.css
  src/modules/dashboard/components/ExpenditurePage/TopParameters/TopParameters.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css.d.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

build fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/consts.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/TopParameters/consts.tsx
Due: eslint --fix

fixed id's in defineMessages
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

style adjustments
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css.d.ts
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.css.d.ts
  src/modules/core/components/SingleUserPicker/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
Due: eslint --fix, stylelint --fix

added colony data
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix, stylelint --fix

style fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
Due: stylelint --fix

Refactor: update `contributorsAndWatchers` query, types & resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

Refactor: update types in `useAvatarDisplayCounter`
  src/utils/hooks/useAvatarDisplayCounter.ts
Due: eslint --fix

Feat: add `contributorsAndWatchers` query to `ColonyMembers` aside
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Feat: add `contributorsAndWatchers` data to `Members` page
  src/modules/core/components/MembersList/MembersList.tsx
  src/modules/core/components/MembersList/MembersListItem.tsx
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Refactor: update members per page & add title placeholders
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: remove watchers if not all teams or root in `Members`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: add tooltip to `MembersSubsection`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

Feat: reorganise ColonyMembers & add MembersSubsection
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

Refactor: update the max numer of avatars in `ColonyMembers`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Feat: update `MembersSubsection` to fix tooltips & headings
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Feat: add remaining users link to members aside
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

styles fix
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.css.d.ts
  src/modules/core/components/Fields/Select/types.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/consts.ts
Due: eslint --fix, stylelint --fix

Refactor: fix padding for watchers & contributors in aside
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
Due: stylelint --fix

added recipients and values arrays
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix
