Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Refactor: extract resuable code in transaction sections and minor tidy
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
Due: eslint --fix

Fix: picker alignments across form
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css
Due: eslint --fix, stylelint --fix

Refactor invalid safe error
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix

Add: noUsefulMethods error and bug fix
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/index.ts
  src/utils/strings/index.ts
Due: eslint --fix, stylelint --fix

Update unknown contract to use Msg
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
Due: eslint --fix

fixed errors count
  src/modules/core/components/Fields/DatePicker/DatePicker.tsx
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/utils.ts
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

Add github workflow and dockerfile
  .github/workflows/buildDeploy.yml
  Dockerfile
Due: none

Create buildDeploy.yml
  .github/workflows/buildDeploy.yml
Due: none

Update buildDeploy.yml
  .github/workflows/buildDeploy.yml
Due: none

Add ls to dockerfile to troubleshoot npm error
  .github/workflows/buildDeploy.yml
  Dockerfile
Due: none

Remove colony images repo checkout
  .github/workflows/buildDeploy.yml
Due: none

Trying docker build github plugin
  .github/workflows/buildDeploy.yml
Due: none

Update dockertag
  .github/workflows/buildDeploy.yml
Due: none

Update docker build context
  .github/workflows/buildDeploy.yml
Due: none

Fix github_workspace variable syntax
  .github/workflows/buildDeploy.yml
Due: none

Fix github_workspace variable syntax typo
  .github/workflows/buildDeploy.yml
Due: none

Update github_workspace variable name
  .github/workflows/buildDeploy.yml
Due: none

Add extra step to troubleshoot workspace path
  .github/workflows/buildDeploy.yml
Due: none

Add extra troubleshooting commands
  .github/workflows/buildDeploy.yml
Due: none

Update workflow and ls command
  .github/workflows/buildDeploy.yml
Due: none

Update workflow to include checkout
  .github/workflows/buildDeploy.yml
Due: none

Update dockerfile to copy over code
  Dockerfile
Due: none

ls removed from dockerfile
  Dockerfile
Due: none

Add build script and modify workflow to use script
  .github/workflows/buildDeploy.yml
  .github/workflows/scripts/buildPushImage.sh
Due: none

Update script path
  .github/workflows/buildDeploy.yml
Due: none

Update workflow trigger and script
  .github/workflows/buildDeploy.yml
  .github/workflows/scripts/buildPushImage.sh
Due: none

Take out circleci pipeline
  .circleci/config.yml
Due: none

Update script and workflow env var
  .github/workflows/buildDeploy.yml
  .github/workflows/scripts/buildPushImage.sh
Due: none

Add deploy step to workflow
  .github/workflows/buildDeploy.yml
Due: none

Update deployment name in deploy step
  .github/workflows/buildDeploy.yml
Due: none

Update deployment repo name
  .github/workflows/buildDeploy.yml
Due: none

Update set image command with correct container name
  .github/workflows/buildDeploy.yml
Due: none

Fix formatting numbers >=500 billion
  src/modules/core/components/Numeral/Numeral.tsx
Due: eslint --fix

Update workflow with discord notification
  .github/workflows/buildDeploy.yml
Due: none

Use engineering notation for tiny numbers formatting
  src/modules/core/components/Numeral/EngineeringNotation.tsx
  src/modules/core/components/Numeral/Numeral.tsx
  src/modules/core/components/Numeral/TinyNumber.tsx
Due: eslint --fix

fixed yup validation
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

fixed displaying advanced payment errors
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/utils.ts
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

Fix: transfer funds loading when no safe selected
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
  src/types/index.ts
  src/utils/safes/index.ts
Due: eslint --fix, stylelint --fix

Refactor: user permissions
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/utils/hooks/useHasPermissions.ts
Due: eslint --fix

Remove: preview validation effect
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
