Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Cleanup: remove leftover debbuging output
  src/modules/core/sagas/transactions/getMetatransactionPromise.ts
  src/modules/core/sagas/utils/metatransactions.ts
Due: eslint --fix

Update: `colonyJS` to lastest `v4` stable release
  package-lock.json
  package.json
Due: none

Add colonyjs which support metatransactions
  package.json
Due: none

Add tabs to UserProfileEdit page, extract UserProfile form to separate component
  src/modules/users/components/UserProfileEdit/UserMainSettings.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix

Update color of tab header
  src/modules/core/components/Tabs/Tab.css
Due: stylelint --fix

Back to old colonyjs version
  package.json
Due: none

Add UserAdvanceSettings component
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css.d.ts
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix, stylelint --fix

Remove unused variables
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
  src/modules/users/components/UserProfileEdit/UserMainSettings.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix, stylelint --fix

Add line break to tooltip content
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
Due: eslint --fix

Temp mock onSubmit
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
Due: eslint --fix

Add link to tokens page
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css.d.ts
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
Due: eslint --fix, stylelint --fix

Update translation length
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
Due: eslint --fix, stylelint --fix

Refactor UserAdvancedSettings component to support only metatransaction toggle
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.css.d.ts
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix, stylelint --fix

Update QuestionMarkTooltip component to use ComplexMessageValues for context text values
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
Due: eslint --fix

Update colonyjs version
  package-lock.json
  package.json
Due: none

Save metatransactions settings to local storage
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
  src/modules/users/components/UserProfileEdit/settingsStore.ts
Due: eslint --fix

Add user settings storage helper
  src/modules/users/components/UserProfileEdit/settingsStore.ts
Due: eslint --fix

Move settingsStore to utils
  src/modules/users/components/UserProfileEdit/UserAdvanceSettings.tsx
  src/utils/settingsStore.ts
Due: eslint --fix

Chore: re-generate package lockfile after rebase
  package-lock.json
Due: none

Update: `package` lockfile after node upgrade
  package-lock.json
Due: none

Update: `colonyJS` to latest experimental release
  package-lock.json
  package.json
Due: none

Add colonyjs which support metatransactions
  package-lock.json
Due: none

Back to old colonyjs version
  package-lock.json
Due: none

Add metatransaction service to start all script
  scripts/start_all.js
Due: none

Add temp testing code
  src/modules/dashboard/sagas/actions/mintTokens.ts
Due: eslint --fix

Update colonyjs
  package-lock.json
  package.json
Due: none

Update colony version to support passing port
  scripts/start_all.js
Due: none

Refactor: `metaTxBroadcast` startup script
  scripts/paths.js
  scripts/start_all.js
Due: none

Refactor: `reputationMonitor` start script
  scripts/paths.js
  scripts/start_all.js
  scripts/utils.js
Due: none

Update: `getStaticDevResource` with new resources
  scripts/utils.js
Due: none

Refactored: `oracle` start script
  scripts/start_all.js
Due: none

Add: mint token metatransaction redux types
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyMetaActions.ts
  src/redux/types/actions/index.ts
Due: eslint --fix

Revert: `mintTokens` action saga to original state
  src/modules/dashboard/sagas/actions/mintTokens.ts
Due: eslint --fix

Fix: `oracle` start script
  scripts/start_all.js
Due: none

Refactor: local network checks
  src/modules/constants.ts
  src/modules/core/sagas/setupUserContext.ts
  src/modules/core/sagas/utils/getNetworkClient.ts
Due: eslint --fix

Add: initial `createMintTokensMetaAction` saga
  src/modules/dashboard/sagas/actions/meta/index.ts
  src/modules/dashboard/sagas/actions/meta/mintTokens.ts
  src/modules/dashboard/sagas/index.ts
Due: eslint --fix

Refactor: `constants` export networks objects
  src/modules/constants.ts
Due: eslint --fix

Refactor: message signing saga to support message data
  src/modules/core/sagas/messages.ts
Due: eslint --fix

Remove: un-needed packages
  package-lock.json
  package.json
Due: none
