Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix: make Dialog auto scrollable
  src/modules/core/components/Dialog/Dialog.css
Due: stylelint --fix

Fix: overlap tab borders in ManageWhitelistDialog
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css
Due: stylelint --fix

fix:prevent superscript from affecting other css values & layouts
  src/modules/core/components/Numeral/Numeral.css
  src/modules/core/components/Numeral/Numeral.css.d.ts
  src/modules/core/components/Numeral/Numeral.tsx
Due: eslint --fix, stylelint --fix

Chore: update `gitignore`
  .gitignore
Due: none

Feat: add custom cypress commands
  cypress/support/commands.js
Due: none

Chore: add `cypress` package
  package-lock.json
  package.json
Due: none

Feat: add random user generator
  cypress/support/generate.js
Due: none

Feat: add cypress settings, update folders & commands
  cypress.json
  cypress/.eslintrc.js
  cypress/e2e/1-logins.js
  cypress/e2e/2-actions.js
  cypress/integration/1-logins.js
  cypress/support/commands.js
Due: none

Feat: add sample logins tests
  cypress/integration/logins.js
Due: none

Chore: add cypress base url & other configs
  cypress.json
  cypress/support/index.js
Due: none

Chore: add eslint-plugin-cypress & cypress linting config
  cypress/.eslintrc.js
  package-lock.json
  package.json
Due: none

WIP: add colony fixture
  cypress/fixtures/colony.json
Due: none

Feat: add `@testing-library/cypress` package
  package-lock.json
  package.json
Due: none

Chore: add `@jackfranklin/test-data-bot` package
  package-lock.json
  package.json
Due: none

Feat: add custom cypress settings
  cypress.json
Due: none

Feat: update login and actions tests
  cypress/integration/1-logins.js
  cypress/integration/2-actions.js
Due: none

Refactor: update cypres baseUrl
  cypress.json
Due: none

WIP: renmae `logins` file & add `actions`
  cypress/integration/1-logins.js
  cypress/integration/2-actions.js
Due: none

Removed dynamic dataCy from Comment as they may be unnecesary
  src/modules/core/components/ActionsList/ActionsList.tsx
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix

Updated comment tests based on addition of getBySel
  cypress/e2e/3-comments.js
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/Comment/Actions/CommentActionsPopover.tsx
  src/modules/core/components/Comment/Dialogs/BanComment/BanComment.tsx
  src/modules/core/components/Comment/Dialogs/DeleteComment/DeleteComment.tsx
  src/modules/core/components/Comment/Input/CommentInput.tsx
  src/modules/core/components/Fields/Textarea/TextareaAutoresize.tsx
Due: eslint --fix

Removed wait from extension tests and fixed lint errors
  cypress/e2e/4-extensions.js
  src/modules/dashboard/components/Extensions/ExtensionStatus.tsx
Due: eslint --fix

Removed unused message from AvatarDropdownPopover
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix

Refactor: add todo comment for the mint tokens action
  cypress/e2e/2-actions.js
Due: none

Refactor: update cypress config
  cypress.json
Due: none

FIxed lint errors in comments test files
  cypress/e2e/4-comments.js
Due: none

Added integration tests for the comment feature
  cypress/e2e/3-comments.js
Due: none

Added integration test for extension management
  cypress/e2e/4-extensions.js
Due: none

Refactor: update login tests
  cypress/e2e/1-logins.js
Due: none

Refactor: fix linting in the existing tests
  cypress/e2e/2-actions.js
Due: none

Feat: update selectors & add mintToken test condition
  cypress/e2e/1-logins.js
  cypress/e2e/2-actions.js
  cypress/support/commands.js
  src/modules/core/components/Comment/Comment.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/pages/components/RouteLayouts/HistoryNavigation.tsx
Due: eslint --fix

Removed defaultCommandTimeout and renamed comment test file name
  cypress/e2e/4-comments.js
Due: none

Feat: harmonise `defaultCommandTimeout`
  cypress.json
  cypress/e2e/1-logins.js
  cypress/e2e/2-actions.js
Due: none

Feat: add custom commands, update tests
  cypress.json
  cypress/e2e/1-logins.js
  cypress/e2e/2-actions.js
  cypress/support/commands.js
  src/modules/core/components/Avatar/Avatar.tsx
Due: eslint --fix

Added getBySel to the extension tests
  cypress/e2e/4-extensions.js
Due: none

Updated element selectors of extension tests to camel case
  cypress/e2e/4-extensions.js
  cypress/e2e/5-extensions.js
  src/modules/core/components/Dialog/ConfirmDialog.tsx
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
  src/modules/dashboard/components/Extensions/ExtensionActionButton.tsx
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
  src/modules/dashboard/components/Extensions/ExtensionStatus.tsx
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.tsx
  src/modules/dashboard/components/Extensions/Extensions.tsx
  src/modules/dashboard/components/Whitelist/ColonyPolicySelector/ColonyPolicySelector.tsx
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.tsx
Due: eslint --fix

Feat: add cypress scripts to `package.json`
  package.json
Due: none

Refactor: update `eslintrc` file for cypress
  cypress/.eslintrc.js
Due: none

Removed leftover .only on extension tests
  cypress/e2e/4-extensions.js
Due: none

Refactor: update selectors in cypress tests
  cypress/support/commands.js
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
