Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Add: New Join this Colony Button
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Feat: update `MembersSubsection` to fix tooltips & headings
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Added invite to colony link button
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/Button.css.d.ts
  src/modules/core/components/Button/Button.tsx
  src/modules/dashboard/components/InviteLinkButton/InviteLinkButton.tsx
  src/modules/dashboard/components/InviteLinkButton/index.ts
Due: eslint --fix, stylelint --fix

Refactor: fix `ColonyMembers` css syntax
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
Due: stylelint --fix

Refactor: fix padding for watchers & contributors in aside
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
Due: stylelint --fix

Refactor: update the max numer of avatars in `ColonyMembers`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Feat: add remaining users link to members aside
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

Fixed alignment of InviteLinkButton
  src/modules/dashboard/components/InviteLinkButton/InviteLinkButton.tsx
  src/modules/dashboard/components/InviteLinkButton/styles.css
  src/modules/dashboard/components/InviteLinkButton/styles.css.d.ts
Due: eslint --fix, stylelint --fix

Added InviteLinkButton to ColonyMembers aside
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix, stylelint --fix

Refactor: update types in `useAvatarDisplayCounter`
  src/utils/hooks/useAvatarDisplayCounter.ts
Due: eslint --fix

Feat: refactor out MembersSection component
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersSection.css
  src/modules/dashboard/components/Members/MembersSection.css.d.ts
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix, stylelint --fix

Removed leftover code from rebase in Members
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Added InviteLinkButton to ColonyMembers section in ColonyHome
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

Feat: remove watchers if not all teams or root in `Members`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: split data into watchers & contributors in `ColonyMembers`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Feat: move message descriptors to MembersSection
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix

Added missing separation between modules in ColonyMembers
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Feat: add `contributorsAndWatchers` data to `Members` page
  src/modules/core/components/MembersList/MembersList.tsx
  src/modules/core/components/MembersList/MembersListItem.tsx
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: clean up unused stuff in MembersSection
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix

Feat: add additional params to `colonyContributors` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

Updated font-size of team rep points container title
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css
Due: stylelint --fix

Feat: add `colonyContributors` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Renamed isContributors prop to isContributorsSubsection
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

Feat: add `contributorsAndWatchers` query, types & resolver logic
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

feat:reposition `Select`
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

Added basic structure and styles for total team rep in members page
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

Feat: lift extraItemContent up to Members
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix

Refactor: update `contributorsAndWatchers` query, types & resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
Due: eslint --fix

Updated controls in members page so that the invite link is always available
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Refactor: fix types in contributors query
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

Added Numeral to reputation points display
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Feat: add `contributorsAndWatchers` query to `ColonyMembers` aside
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix

feat:reposition UI
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Refactor: update members per page & add title placeholders
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Integrated new total team rep points section with sidebar in ColonyMembers
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

Fixed watchers seciton styles affecting contributors section
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/MembersSubsection.tsx
Due: eslint --fix, stylelint --fix

Increased width of reputation container in MembersListItem
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
Due: stylelint --fix

feat:refactor title into separate component
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.tsx
  src/modules/dashboard/components/Members/index.ts
Due: eslint --fix, stylelint --fix

Added optional reputation points section to MemberReputation
  src/modules/core/components/MemberReputation/MemberReputation.css
  src/modules/core/components/MemberReputation/MemberReputation.css.d.ts
  src/modules/core/components/MemberReputation/MemberReputation.tsx
Due: eslint --fix, stylelint --fix
