Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: move `NotEnoughReputation` from core to dashboard
  src/modules/dashboard/components/NotEnoughReputation/NotEnoughReputation.css
  src/modules/dashboard/components/NotEnoughReputation/NotEnoughReputation.css.d.ts
  src/modules/dashboard/components/NotEnoughReputation/NotEnoughReputation.tsx
  src/modules/dashboard/components/NotEnoughReputation/index.ts
Due: eslint --fix, stylelint --fix

Refactor: update `useColonyReputation` hook
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
  src/utils/hooks/useColonyReputation.ts
Due: eslint --fix

Refactor: update permnissions condition in `TOkenMintForm`
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Refactor: fix colonyHasReputation logic
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
  src/utils/hooks/useColonyReputation.ts
Due: eslint --fix

Update: colonyJS to the latest beta release
  package-lock.json
  package.json
Due: none

Fixed spread position to avoid overriding custom name prop
  src/modules/core/components/Fields/Input/Input.tsx
Due: eslint --fix

Added field name check to handleCleaveChange
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Add: `extensions` resolvers
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/index.ts
  src/data/resolvers/colony.ts
  src/data/resolvers/extensions.ts
Due: eslint --fix

Refactor: `colonyExtensionInstall` saga use latest version
  src/modules/dashboard/sagas/extensions.ts
Due: eslint --fix

Feat: add `extensionsResolvers` file w/votingExtensionParams func
  src/data/index.ts
  src/data/resolvers/extensions.ts
Due: eslint --fix

Feat: add `VotingExtensionParams` type & query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Refactor: update `extensionsResolver`
  src/data/resolvers/extensions.ts
Due: eslint --fix

Feat: add `calculateTimeLeft` function to `TimeLeftToStake`
  src/modules/core/components/TimeLeftToStake/calculateTimeLeft.ts
Due: eslint --fix

Feat: add `TimeLeft` component & update css files
  src/modules/core/components/TimeLeftToStake/TimeLeft.css.d.ts
  src/modules/core/components/TimeLeftToStake/TimeLeft.tsx
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.css
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.tsx
  src/modules/core/components/TimeLeftToStake/calculateTimeLeft.ts
Due: eslint --fix, stylelint --fix

Feat: add `TimeLeftToStake` component, basic structure, styles
  src/modules/core/components/TimeLeftToStake/TimeLeft.css.d.ts
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.css
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.css.d.ts
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.tsx
  src/modules/core/components/TimeLeftToStake/index.ts
Due: eslint --fix, stylelint --fix

Refactor: generalise & add edge case to `calculateTimeLeft`
  src/modules/core/components/TimeLeftToStake/calculateTimeLeft.ts
Due: eslint --fix

Refactor: update `VotingExtensionParams` typedef
  src/data/generated.ts
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Refactor: rename `TimeLeftToStake` to `CountDownTimer`
  src/modules/core/components/CountDownTimer/CountDownTimer.css
  src/modules/core/components/CountDownTimer/CountDownTimer.css.d.ts
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/modules/core/components/CountDownTimer/calculateTimeLeft.ts
  src/modules/core/components/CountDownTimer/index.ts
  src/modules/core/components/TimeLeftToStake/index.ts
Due: eslint --fix, stylelint --fix

Feat: add conditional strings to `TimeLeftToStake`, remove `TimeLeft`
  src/modules/core/components/TimeLeftToStake/TimeLeft.tsx
  src/modules/core/components/TimeLeftToStake/TimeLeftToStake.tsx
Due: eslint --fix

Feat: add more quieried values to `votingExtensionParams`
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/extensions.ts
Due: eslint --fix

Refactor: replace spinner with, move identical css to MiniSpinnerLoader
  src/modules/core/components/Preloaders/MiniSpinnerLoader.css
  src/modules/core/components/Preloaders/MiniSpinnerLoader.css.d.ts
  src/modules/core/components/Preloaders/MiniSpinnerLoader.tsx
  src/modules/dashboard/components/ActionsPage/InputStorageWidget/InputStorageWidget.tsx
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/ColonyHome/ColonyExtensions/ColonyExtensions.css
  src/modules/dashboard/components/ColonyHome/ColonyExtensions/ColonyExtensions.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyExtensions/ColonyExtensions.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.css
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.css.d.ts
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.tsx
  src/modules/users/components/GasStation/MessageCard/MessageCardStatus.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
Due: eslint --fix, stylelint --fix

Refactor: fix appearance logic in `CountdownTimer`, update html
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Feat: add `MiniSpinnerLoader` core component
  src/modules/core/components/Heading/Heading.tsx
  src/modules/core/components/Heading/index.ts
  src/modules/core/components/Preloaders/MiniSpinnerLoader.tsx
  src/modules/core/components/Preloaders/SpinnerLoader.css
  src/modules/core/components/Preloaders/SpinnerLoader.css.d.ts
  src/modules/core/components/Preloaders/SpinnerLoader.tsx
  src/modules/core/components/Preloaders/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `CountDownTimer` to `MintTokensMotion`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix, stylelint --fix

Feat: add `Loader` to `CountDownTimer`
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Feat: add `motionCountdownTimerMsg` file with timer strings
  src/modules/dashboard/components/ActionsPage/ActionsComponents/motionCountdownTimerMsg.tsx
Due: eslint --fix

Feat: add more display period options to `CountDownTimer`
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Refactor: update `CountDownTimer` props, css, add tooltip
  src/modules/core/components/CountDownTimer/CountDownTimer.css
  src/modules/core/components/CountDownTimer/CountDownTimer.css.d.ts
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix, stylelint --fix

Refactor: replace repetitive code with `QuestionMarkTooltip` in `Toggle`
  src/modules/core/components/Fields/Toggle/Toggle.tsx
Due: eslint --fix

Feat: add `QuestionMarkTooltip` core component
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
  src/modules/core/components/QuestionMarkTooltip/index.ts
Due: eslint --fix

Refactor: update `CountDownTimer` in `MintTokenMotion` to `stake`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Refactor: update `calculateTimeLeft` helper funciton
  src/modules/core/components/CountDownTimer/calculateTimeLeft.ts
Due: eslint --fix

Refactor: remove leftover code from
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/modules/core/components/Fields/Toggle/Toggle.tsx
Due: eslint --fix

Feat: add `BlockTime` query, type & resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/extensions.ts
Due: eslint --fix

Refactor: update `CountdownTimer` css
  src/modules/core/components/CountDownTimer/CountDownTimer.css
Due: stylelint --fix

Refactor: move `calculateTimeLeft` to utils, update `CountdownTimer`
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/utils/time/calculateTimeLeft.ts
  src/utils/time/index.ts
Due: eslint --fix

Refactor: update `calculateTimeLeft` to depend on blockchain time
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/utils/time/calculateTimeLeft.ts
Due: eslint --fix

Refactor: add `QuestionMarkTooltip` to `StepColonyName`
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Refactor: update `QuestionMarkTooltip` component & props
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
Due: eslint --fix

Refactor: update `calculateTimeLeft` to better & more performant
  src/modules/core/components/CountDownTimer/CountDownTimer.tsx
  src/utils/time/calculateTimeLeft.ts
Due: eslint --fix
