Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Feat: change button styles approach in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `UserTokenActivationButton` to fit rebase
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Feat: add white button theme variant
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/Button.css.d.ts
  src/modules/core/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

Refactor: update graphql queries due to rebase
  src/data/graphql/queries.graphql
Due: none

Feat: add final offsets to `TokenActivationPopover`
  src/modules/users/components/TokenActivation/TokenActivationPopover.css
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
Due: eslint --fix, stylelint --fix

Feat: add tooltips in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Feat: finalise `TokenTabsForm` & its styles
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `ChangeTokenStateForm` css
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: add final popups positioning in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add button styles in `TokensTab`
  src/modules/core/components/Button/Button.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Refactor: move part of `TokensTab` into `Form` component
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix

Feat: add optional `className` prop to `Tab`, `TabList`
  src/modules/core/components/Tabs/Tab.tsx
  src/modules/core/components/Tabs/TabList.tsx
Due: eslint --fix

Refactor: update `ChangeTokenStateForm` with flexible actions
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Refactor: restyle, restructure tabs in `TokenActivationContent`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
Due: eslint --fix, stylelint --fix

Refactor: change css & markup of lines w/colored disc
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix, stylelint --fix

Feat: add `colonyAddress` prop & return key in token activation form
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Refactor: add opacity to `white` button variant
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Refactor: update svg css in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
Due: stylelint --fix

Refactor: extract `TokenTooltip` from `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenTooltip.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Refactor: temporarily remove the `ClaimsTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
Due: eslint --fix, stylelint --fix

Feat: update `emoji-padlock-closed` svg
  src/img/icons/emoji-padlock-closed.svg
Due: none

Feat: implement new specs for `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Refactor: change `--golden` color & update files accordingly
  src/modules/core/components/IndexModal/IndexModalItem.css
  src/modules/core/components/IndexModal/IndexModalItem.css.d.ts
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/core/components/MembersList/MembersListItem.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Refactor: update css in token activation files
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.css
  src/utils/numbers/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `tokenAddress` as return key in token activation form
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Feat: add locked balance & tooltip to `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Feat: add `tokenBalance` const to `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Refactor: correct the balance number in `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Feat: add `max` button to `InputComponent`
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix, stylelint --fix

Feat: add `max` button to `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
Due: eslint --fix, stylelint --fix

Feat: resize total tokens if too wide in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add `pendingBalance` error to `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenTooltip.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `InputComponent` - remove seocnd arg from Number
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Fix: add conditional to `handleCleaveChange` in `inputComponent`
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Feat: add `pendingBalance` to useLock types, queries & resolvers
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Refactor: update `InputComponent` with translation string
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Refactor: update `InputComponent` cleave types
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Refactor: fix userlock types & pending balance condition
  src/data/generated.ts
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Refactor: merge fixes
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenTooltip.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
