Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: coin machine get proper whitelist status
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Add: wire up `BanUser` dialog for both bannin/unbanning
  src/data/generated.ts
  src/data/graphql/mutations.graphql
  src/modules/core/components/Comment/Dialogs/BanComment/BanComment.tsx
  src/modules/core/components/Comment/Dialogs/BanUser/BanUser.tsx
Due: eslint --fix

Fix: banned comment dimming children inheritance
  src/modules/core/components/Comment/Comment.css
Due: stylelint --fix

Add: shield icon for banned users
  src/i18n/en.json
  src/img/icons.json
  src/img/icons/shield-pink.svg
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/UserPermissions/UserPermissions.tsx
Due: eslint --fix, stylelint --fix

Add: coin machine `Chat` disable if not whitelisted
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Add: coin machine change only allowed if whitelisted
  src/modules/core/components/Comment/Input/CommentInput.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Refactor: `WhitelistAddresses` require permissions
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/UploadAddressesWidget.tsx
  src/modules/dashboard/components/Whitelist/WhitelistAddresses/WhitelistAddresses.tsx
  src/modules/dashboard/sagas/extensions/updateWhitelist.ts
Due: eslint --fix

Add: `UserApproved` event message descriptor copy
  src/i18n/en-events.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/transformers/transformers.ts
  src/types/colonyActions.ts
  src/utils/colonyActions.ts
Due: eslint --fix

Adds emoji-goblin svg
  src/img/icons.json
  src/img/icons/emoji-goblin.svg
Due: none

Add: `CommentActionPopover` restore/undelete icons
  src/img/icons.json
  src/img/icons/arrow-rotate-ccw.svg
  src/img/icons/user-plus.svg
  src/modules/core/components/Comment/Actions/CommentActionsPopover.tsx
Due: eslint --fix

Adds new banned tag
  package-lock.json
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.md
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/BannedTag/index.tsx
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

Adds new banned-tag component
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.md
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/Tag/Tag.css.d.ts
Due: eslint --fix, stylelint --fix

Revert "Adds new banned tag"
  package-lock.json
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.md
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/BannedTag/index.tsx
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

Adds banned theme to tag component
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

Fixes stylelint issues in banned tag css
  src/modules/core/components/BannedTag/BannedTag.css
Due: stylelint --fix

Fixes for banned tag
  src/img/icons/emoji-goblin.svg
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/BannedTag/index.ts
Due: eslint --fix, stylelint --fix

Use react-intl in title too
  src/modules/core/components/BannedTag/BannedTag.tsx
Due: eslint --fix

Insert final newline in icons.json
  src/img/icons.json
Due: none

Fixes margins on banned tag
  src/modules/core/components/BannedTag/BannedTag.css
Due: stylelint --fix

Remove theme banned from tag, apply css to BannedTag component
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

Fixes all issues, implements todos on Comment, MemberInfoPopover, and UserPermissions
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.md
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.tsx
  src/modules/dashboard/components/UserPermissions/UserPermissions.tsx
Due: eslint --fix, stylelint --fix

Use default text in BannedTag, use SimpleMessageValues type
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.tsx
Due: eslint --fix, stylelint --fix

Refactor: incorporate `BannedTag` into `Tag`
  src/modules/core/components/BannedTag/BannedTag.css
  src/modules/core/components/BannedTag/BannedTag.css.d.ts
  src/modules/core/components/BannedTag/BannedTag.md
  src/modules/core/components/BannedTag/BannedTag.tsx
  src/modules/core/components/BannedTag/index.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.tsx
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
  src/modules/dashboard/components/UserPermissions/UserPermissions.tsx
Due: eslint --fix, stylelint --fix

Update: `colonyJS` to the latest stable release
  package-lock.json
  package.json
Due: none

Revert: `GetWhitelisted` temporary QA changes
  src/modules/dashboard/components/CoinMachine/GetWhitelisted/GetWhitelisted.tsx
Due: eslint --fix

Fix: `coinMachineHasWhitelist` properly fetch status
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Added correct copy to maximum per period field
  src/data/staticData/extensionData.tsx
Due: eslint --fix

Added useCurrentComments util hook
  src/utils/hooks/useCurrentComments.ts
Due: eslint --fix

Added useCurrentComments to coin machine Chat
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Added useCurrentComments to ActionsPageFeed
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Fixed lint errors in ActionsPageFeed and Chat
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix

Removed permission display from whitelist extension details
  src/data/staticData/extensionData.tsx
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Added event list copies for PeriodUpdated and TokenBought
  src/i18n/en-events.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/transformers/transformers.ts
  src/types/colonyActions.ts
Due: eslint --fix

Added a bit more width to Sale End column
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
Due: stylelint --fix

Refactor: `coinMachineCurrentSalePeriod` resolver
  src/data/generated.ts
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Refactor: improve `RemainingDisplayWidget` types
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.tsx
Due: eslint --fix

Add: `RemainingTime` widget syncing indicator
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
Due: eslint --fix

Refactor: `CoinMachine` periodically refetch current time
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Fix: `CoinMachine` cleanup polling on unmount
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix
