Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Re-add unlocked to createLevel mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Improve required tasks input
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Fix some displayNames
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Do not set up things that are not needed
  src/modules/core/components/Avatar/Avatar.tsx
Due: eslint --fix

Fix required steps label mess
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Make `DottedAddButton` a core variation of `Button`
  src/modules/core/components/Button/DottedAddButton.css
  src/modules/core/components/Button/DottedAddButton.css.d.ts
  src/modules/core/components/Button/DottedAddButton.tsx
  src/modules/core/components/Button/index.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
Due: eslint --fix, stylelint --fix

Add `createLevelTask` mutation
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Add additional level & persistent task queries
  src/data/generated.ts
  src/data/index.ts
  src/data/queries.graphql
Due: eslint --fix

Add create level task cache update fn
  src/data/cacheUpdates.ts
Due: eslint --fix

Sort imports
  src/data/cacheUpdates.ts
Due: eslint --fix

Remove `Input` style from `Button`
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Add level tasks edit
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/index.ts
Due: eslint --fix, stylelint --fix

Add styles for grey `colorSchema`
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.css.d.ts
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.css.d.ts
  src/modules/core/components/Fields/Select/types.ts
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/core/components/Fields/Textarea/Textarea.css.d.ts
  src/modules/core/components/Fields/Textarea/Textarea.tsx
Due: eslint --fix, stylelint --fix

Edit level tasks
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Remove level tasks
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Open newly created persistent task in edit state
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
Due: eslint --fix

Improve vertical margins
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
Due: eslint --fix, stylelint --fix

Fix `ListGroup` targets for `li`s
  src/modules/core/components/ListGroup/ListGroup.css
Due: stylelint --fix

Handle less-wide sections
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Persistent task payouts
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css.d.ts
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/Fields/AmountTokens/index.ts
  src/modules/core/components/Fields/index.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Disable specific `Select` options
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/SelectListBox.tsx
  src/modules/core/components/Fields/Select/types.ts
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.tsx
Due: eslint --fix, stylelint --fix

Display task skill
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
Due: eslint --fix

Check funding permission in level domain
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Improve initial values / validation
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Indent child skill items
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use callback for persistent task creation
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
Due: eslint --fix

Edit payouts in edit mutation, remove set & remove mutations
  src/data/generated.ts
  src/data/mutations.graphql
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use `AmountToken` in `Payout` component
  src/modules/dashboard/components/Task/TaskInviteDialog.tsx
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css.d.ts
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.tsx
Due: eslint --fix, stylelint --fix

Add `unlocked` to `Level` query
  src/data/generated.ts
  src/data/queries.graphql
Due: eslint --fix

Rename Badge to Tag
  src/modules/core/components/Badge/index.ts
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
  src/modules/core/components/Tag/index.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Add new Badge component
  src/modules/core/components/Badge/Badge.css
  src/modules/core/components/Badge/Badge.css.d.ts
  src/modules/core/components/Badge/Badge.tsx
  src/modules/core/components/Badge/index.ts
Due: eslint --fix, stylelint --fix

Use Badge component in Level items
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix, stylelint --fix

Redirect after enrolling in program
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
Due: eslint --fix

Distinct urls for level view vs edit
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelDashboard/index.ts
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Tag, Badge, Avatar, Dialog improvements
  src/modules/core/components/ActivityBar/ActivityBar.tsx
  src/modules/core/components/Avatar/Avatar.tsx
  src/modules/core/components/Avatar/index.ts
  src/modules/core/components/Badge/Badge.css
  src/modules/core/components/Badge/Badge.tsx
  src/modules/core/components/Dialog/DialogSection.css
  src/modules/core/components/Dialog/DialogSection.css.d.ts
  src/modules/core/components/Dialog/DialogSection.tsx
  src/modules/core/components/Dialog/index.ts
  src/modules/core/components/Dialog/types.ts
  src/modules/core/components/Dialog/useDialog.ts
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Add OverviewList component
  src/modules/core/components/OverviewList/OverviewList.css
  src/modules/core/components/OverviewList/OverviewList.css.d.ts
  src/modules/core/components/OverviewList/OverviewList.tsx
  src/modules/core/components/OverviewList/OverviewListItem.tsx
  src/modules/core/components/OverviewList/index.ts
Due: eslint --fix, stylelint --fix

Style improvements for LevelList Badge
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix, stylelint --fix

Add LevelWelcomeDialog
  src/data/fragments.graphql
  src/data/generated.ts
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
Due: eslint --fix

Add displayName to OverviewList
  src/modules/core/components/OverviewList/OverviewList.tsx
Due: eslint --fix

Improve InfoPopover conditional rendering
  src/modules/core/components/InfoPopover/InfoPopover.tsx
  src/modules/core/components/InfoPopover/TokenInfoPopover.tsx
  src/modules/core/components/InfoPopover/UserInfoPopover.tsx
Due: eslint --fix
