Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Update src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.tsx
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.tsx
Due: eslint --fix

Feat: Add MemberInfoPopover to Avatar
  src/modules/core/components/Comment/Comment.tsx
Due: eslint --fix

fix: ordered according to colony style lint rules
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
Due: stylelint --fix

Refactor: Bug fix & comments
  src/modules/core/components/ActionsList/ActionsListItem.css
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
Due: eslint --fix, stylelint --fix

Bug: remove arrow from avatar to popover
  src/modules/core/components/Comment/Comment.tsx
Due: eslint --fix

Handles long usernames in all locations
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.css
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.css.d.ts
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.tsx
  src/modules/core/components/FriendlyName/FriendlyName.css
  src/modules/core/components/FriendlyName/FriendlyName.css.d.ts
  src/modules/core/components/FriendlyName/FriendlyName.tsx
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/Popover/PopoverWrapper.tsx
  src/modules/core/components/SingleUserPicker/ItemDefault.css
  src/modules/core/components/UserMention/UserMention.css
  src/modules/users/components/UserProfile/UserMeta.css
  src/modules/users/components/UserProfileEdit/UserProfileEdit.css
Due: eslint --fix, stylelint --fix

Adds support for handling more locations
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.css
  src/modules/core/components/SingleUserPicker/ItemDefault.css
  src/modules/core/components/SingleUserPicker/ItemDefault.css.d.ts
  src/modules/core/components/SingleUserPicker/ItemDefault.tsx
  src/styles/main.css
Due: eslint --fix, stylelint --fix

Additional long username locations
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/users/components/GasStation/TransactionCard/TransactionCard.css
Due: stylelint --fix

Bump: version to next PATCH 4.4.2
  package-lock.json
  package.json
Due: none

Fix: `AvatarDropdown` if no colony loaded
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix

Add: userflow start tracking users
  src/modules/core/sagas/setupUserContext.ts
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix

Modifies SaleFailed state to be more versatile
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Remove question marks from redundant text
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Add missing dependencies in callback
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Makes caret in single user picker open omnipicker
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
Due: eslint --fix

Fixes wrong dates and times in motions and disputes
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/TimeRelative/TimeRelative.tsx
  src/modules/dashboard/components/ActionsPage/TransactionMeta/TransactionMeta.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Added default route to redirect on StepConfirmTransaction
  src/modules/dashboard/components/CreateUserWizard/StepConfirmTransaction.tsx
Due: eslint --fix

Removed unused message descriptor from Routes component
  src/routes/Routes.tsx
Due: eslint --fix

Updated claim and unwrap routes to always accesible
  src/routes/Routes.tsx
Due: eslint --fix

Added UnwrapTokensPage and ClaimTokensPage component
  src/modules/dashboard/components/ClaimTokensPage/ClaimTokensPage.tsx
  src/modules/dashboard/components/UnwrapTokensPage/UnwrapTokensPage.tsx
Due: eslint --fix

Added redirection for unwrap and claim tokens new routes
  src/modules/dashboard/components/CreateUserWizard/StepConfirmTransaction.tsx
  src/routes/WalletRequiredRoute.tsx
Due: eslint --fix

Removed metacolony exclusive checks from WalletRequiredRoute
  src/routes/WalletRequiredRoute.tsx
Due: eslint --fix

Added unwrap tokens and claim tokens routes
  src/modules/dashboard/components/ClaimTokensPage/index.ts
  src/modules/dashboard/components/UnwrapTokensPage/index.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Refactor: `authenticateKYC` auth method
  src/api/auth.ts
Due: eslint --fix

Add: `SynapsKYCEmailCaptureDialog` component
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCEmailCaptureDialog.tsx
Due: eslint --fix

Refactor: `GetWhitelisted` user flow
  src/modules/dashboard/components/CoinMachine/GetWhitelisted/GetWhitelisted.tsx
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.css.d.ts
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCDialog.tsx
Due: eslint --fix, stylelint --fix

Fix: `authenticateKYC` sign proper values
  src/api/auth.ts
Due: eslint --fix

Refactor: `authenticateKYC` different way of signing email
  src/api/auth.ts
  src/modules/dashboard/components/CoinMachine/SynapsKYCDialog/SynapsKYCEmailCaptureDialog.tsx
Due: eslint --fix

Refactor: `createUserWithSecondAttempt` saga
  src/modules/core/sagas/setupUserContext.ts
  src/modules/users/sagas/utils/createUserWithSecondAttempt.ts
Due: eslint --fix

Update: `colonyJS` to the latest release version
  package-lock.json
  package.json
Due: none

Bump: version to next PATCH `4.4.3`
  package-lock.json
  package.json
Due: none

Fix: `GetWhitelist` show agreement after KYC only
  src/modules/dashboard/components/CoinMachine/GetWhitelisted/GetWhitelisted.tsx
Due: eslint --fix

Fix transfer funds motion
  src/modules/dashboard/sagas/motions/moveFundsMotion.ts
Due: eslint --fix

Refactor: remove unused dependency in `RemainingTokens` hook
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
Due: eslint --fix

Fix: update conditions for `isWarning` prop in remaining display widgets
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTime.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokens.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingTokensValue.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
