Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Add `UnsavedGuard` component
  src/modules/core/components/Fields/Form/UnsavedGuard.tsx
  src/modules/core/components/Fields/Form/index.ts
  src/modules/core/components/Fields/index.ts
Due: eslint --fix

Use form prop for save guard
  src/modules/core/components/Fields/Form/Form.tsx
  src/modules/core/components/Fields/Form/SaveGuard.tsx
  src/modules/core/components/Fields/Form/index.ts
  src/modules/core/components/Fields/index.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.tsx
Due: eslint --fix

Use `UnsavedGuard` in `ProgramEditForm`
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.tsx
Due: eslint --fix

Fix: `Inbox` handle `CancelTask` event notification types
  src/modules/users/components/Inbox/events.ts
  src/modules/users/components/Inbox/messages.ts
Due: eslint --fix

Regression: disable colony contract upgrades
  src/modules/admin/components/Profile/ProfileAdvanced.tsx
Due: eslint --fix

Add create program
  src/data/generated.ts
  src/data/queries.graphql
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Create program logic in colony meta
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Add `createProgram` mutation
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/index.ts
  src/data/mutations.graphql
Due: eslint --fix

Improve styling of program items
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Move display logic into `ColonyPrograms`
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Add title logic for draft vs published state
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix

Add `title` support
  src/modules/core/components/NavLink/NavLink.tsx
Due: eslint --fix

Improve display of long program titles
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Make vertical spacing consistent when no programs exist
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix

Add route for programs
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Add support for single program
  src/data/helpers.ts
  src/data/index.ts
Due: eslint --fix

Add `EditProgram` mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Add `ProgramDashboard` base component
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramDashboard/index.ts
Due: eslint --fix

Add `ProgramEdit` component
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramEdit/index.ts
Due: eslint --fix, stylelint --fix

Add `Program` component
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/Program/index.ts
Due: eslint --fix, stylelint --fix

Add form status
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Remove unneeded z-index
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
Due: stylelint --fix

Add remove program mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Improve button danger link styles
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

End spinner loader after success
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix

Handle program does not exist edge case
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Improve single program hook error
  src/data/helpers.ts
Due: eslint --fix

Publish program logic
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Add publish program mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Add `info` color schema, use for draft state
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Input/InputComponent.tsx
  src/modules/core/components/Fields/InputStatus/InputStatus.css
  src/modules/core/components/Fields/InputStatus/InputStatus.css.d.ts
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Add helpful title text
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Add dotted area button theme
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/Button.css.d.ts
  src/modules/core/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

Improve nav link active styles
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Levels section
  src/modules/dashboard/components/ProgramEdit/EditLevels.css
  src/modules/dashboard/components/ProgramEdit/EditLevels.css.d.ts
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Use program query
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/helpers.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/dashboard/components/Program/Program.tsx
Due: eslint --fix

Program dashboard for admins & non-admins
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css.d.ts
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Use confirm dialog to warn of program deletion
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Remove unneeded comment
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
Due: eslint --fix

Improve loading screen
  src/modules/dashboard/components/Program/Program.tsx
Due: eslint --fix

Different button text for draft vs published
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix
