Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Rename Event to EventNetwork
  src/data/generated.ts
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
  src/data/resolvers/transactions.ts
Due: eslint --fix

Add UnlclaimedTransfersItem component and styles
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, stylelint --fix

Update UnclaimedTransfersItem styles
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, stylelint --fix

Fix linter issues
  src/data/resolvers/colony.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

[DEV-10] Fetch other necessary data
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
Due: eslint --fix

Add sorting; update NEtworkEvent prop
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/shared/eventsFilter.ts
Due: eslint --fix, stylelint --fix

Temp use index as a key
  src/modules/core/components/ActionsList/ActionsList.tsx
Due: eslint --fix

Make sure that avatar is always displayed
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
Due: eslint --fix

Change domain to domainId
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
Due: eslint --fix

Convert and display USD value from eth
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix

Remove unnecessary dependency from useMemo
  src/modules/core/components/ActionsList/ActionsList.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
Due: eslint --fix

Create FullNetworkEvent fragment
  src/data/graphql/fragments.graphql
  src/data/graphql/queries.graphql
Due: none

Rename from/to to fromAddress toAddress
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
Due: eslint --fix

Move lint comment above the line; use nano id for generating list element key
  src/data/resolvers/transactions.ts
  src/modules/core/components/ActionsList/ActionsList.tsx
Due: eslint --fix

Use text size from variables
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css.d.ts
Due: eslint --fix, stylelint --fix

Use Existing helper method for checking if token is eth token
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix

Add types to ColonyEvents component
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
Due: eslint --fix

Default pointer if click handler is null
  src/modules/core/components/ActionsList/ActionsListItem.css
  src/modules/core/components/ActionsList/ActionsListItem.css.d.ts
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix, stylelint --fix

Add spinner when while events fetching
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix

Fetch and display if exist username
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix

Replace fixed list with filters from colony client
  src/data/resolvers/transactions.ts
  src/modules/core/components/ActionsList/ActionsList.tsx
Due: eslint --fix

Use extension manager to get extension clients
  package.json
  src/i18n/en.json
  src/lib/ColonyManager/ColonyManager.ts
  src/modules/core/sagas/utils/getNetworkClient.ts
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Adjust OneTxPayment API
  src/modules/dashboard/sagas/task.ts
  src/types/index.ts
Due: eslint --fix

Update: `colonyJS` version to the latest alpha
  package-lock.json
  package.json
Due: none

Fix: provision script to use network pure lock file
  scripts/provision_submodules.sh
Due: none

Adjust ColonyManager extension types
  src/lib/ColonyManager/ColonyManager.ts
Due: eslint --fix

Add: `mock-reputation-miner` submodule
  .gitmodules
Due: none

Remove: `provision` script pinner leftovers
  scripts/provision_submodules.sh
Due: none

Add: the mock reputation miner to the provision script
  scripts/provision_submodules.sh
Due: none

Remove: `mock-reputation-miner` submodule
  .gitmodules
Due: none

Add: `mock-oracle` submodule
  .gitmodules
  scripts/provision_submodules.sh
Due: none

Add: start the mock oracle when starting the dev env
  scripts/start_all.js
Due: none

Add: `colonyJS` use our mock oracle in dev mode
  src/modules/core/sagas/utils/getNetworkClient.ts
Due: eslint --fix

Add: nicer colors to the start script
  scripts/start_all.js
  scripts/stop_all.js
Due: none

Add: landing page route
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Add: initial pages `LandingPage` component
  src/modules/pages/components/LandingPage/LandingPage.css
  src/modules/pages/components/LandingPage/LandingPage.css.d.ts
  src/modules/pages/components/LandingPage/LandingPage.tsx
  src/modules/pages/components/LandingPage/index.ts
Due: eslint --fix, stylelint --fix

Fix: `SubscribedColoniesList` export and imports
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/SubscribedColoniesList/index.ts
Due: eslint --fix, stylelint --fix
