Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Remove: unused, initial metaTx mint tokens implementation
  .env.example
  src/modules/dashboard/sagas/actions/meta/index.ts
  src/modules/dashboard/sagas/actions/meta/mintTokens.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/colonyMetaActions.ts
  src/redux/types/actions/index.ts
Due: eslint --fix

Fix: Changed the colonies list scroll to a fixed position
  src/modules/pages/components/RouteLayouts/Default/Default.css
Due: stylelint --fix

Fix: Overlapping of colonyTitle
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
Due: stylelint --fix

Add: `metamaskSwitchNetwork` prevent if metaTx enabled
  src/data/helpers.ts
  src/modules/dashboard/sagas/index.ts
  src/modules/users/sagas/wallet.ts
Due: eslint --fix

Refactor: `AvatarDropdown` show user settings if wrong net
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix

Refactor: `checkIfNetworkIsAllowed` to check for metaTx
  src/utils/networks.ts
Due: eslint --fix

added subform commentInput, style and names fixes, added divider above logs section
  src/modules/core/components/Comment/Input/SubformCommentInput.tsx
  src/modules/core/components/Comment/Input/index.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.tsx
  src/modules/dashboard/components/ExpenditurePage/PortalWrapper/PortalWrapper.tsx
  src/modules/dashboard/components/ExpenditurePage/PortalWrapper/index.ts
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Feat: add UI for Add Existing Gnosis Safe Dialog
  src/i18n/en.json
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/gnosisSafeChains.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

Fix: Supported networks, labels & copy
  src/i18n/en.json
  src/modules/constants.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/gnosisSafeChains.ts
Due: eslint --fix

Fix: Refactor and remove Motions setup
  src/modules/constants.ts
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
Due: eslint --fix

Fix: squashed loader
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css.d.ts
Due: eslint --fix, stylelint --fix

Fixed incorrect errors appearing in GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Added number formatting to wei Input in RawTransactionSection
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
Due: eslint --fix

Implemented ContractInteractionSection component
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
Due: eslint --fix, stylelint --fix

Fixed Select core component crashing on MessageDescriptor placeholders
  src/modules/core/components/Fields/Select/Select.tsx
Due: eslint --fix

Integrated ContractInteractionSection with GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated Select test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Add: `GasStationProvider` context for tracking tx alerts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/GasStation/GasStationProvider/GasStationProvider.tsx
  src/modules/users/components/GasStation/GasStationProvider/index.ts
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
  src/modules/users/components/GasStation/index.ts
Due: eslint --fix

Removed unnecessary prop from GnosisControlSafeDialog validation
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

removed unnecessary code
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/consts.ts
  src/modules/pages/components/ExpenditurePage/ExpenditureTemplate.css.d.ts
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

style fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
Due: stylelint --fix

removed unnecessary code
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css.d.ts
Due: eslint --fix, stylelint --fix

FixL `GroupedTransactionCard` better logic for alert dialog
  src/modules/users/components/GasStation/GasStationControls/GasStationControls.tsx
  src/modules/users/components/GasStation/GasStationProvider/GasStationProvider.tsx
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
Due: eslint --fix

Move: `WrongNetworkDialog` to proper location
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Dialogs/WrongNetworkDialog/WrongNetworkDialog.css
  src/modules/dashboard/components/Dialogs/WrongNetworkDialog/WrongNetworkDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/WrongNetworkDialog/WrongNetworkDialog.tsx
  src/modules/dashboard/components/Dialogs/WrongNetworkDialog/index.ts
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
Due: eslint --fix, stylelint --fix

Fix: `GroupedTransactionCard` better dialog error handling
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
Due: eslint --fix

Add: `TransactionAlertDialog` component
  src/modules/dashboard/components/Dialogs/TransactionAlertDialog/TransactionAlertDialog.css
  src/modules/dashboard/components/Dialogs/TransactionAlertDialog/TransactionAlertDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/TransactionAlertDialog/TransactionAlertDialog.tsx
  src/modules/dashboard/components/Dialogs/TransactionAlertDialog/index.ts
  src/modules/externalUrls.ts
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
Due: eslint --fix, stylelint --fix

Fix: spacing on small screens (< 350px)
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css
Due: stylelint --fix

Refactor: `MetaMaskWalletInteraction` to show tx type
  src/modules/users/components/GasStation/MetaMaskWalletInteraction/MetaMaskWalletInteraction.css
  src/modules/users/components/GasStation/MetaMaskWalletInteraction/MetaMaskWalletInteraction.tsx
  src/modules/users/components/GasStation/TransactionDetails/TransactionDetails.tsx
Due: eslint --fix, stylelint --fix

Add: styling ProfileTemplate
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css.d.ts
  src/modules/users/components/UserProfile/UserMeta.tsx
Due: eslint --fix, stylelint --fix

Fix: hide colony-specific menus
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
Due: eslint --fix

Fix: routeProps in UserLayout
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.tsx
Due: eslint --fix

code fixes
  src/i18n/en.json
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/useEscrowFundsDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/consts.ts
Due: eslint --fix

Add: `web3` metatransaction error related utils
  src/modules/core/sagas/transactions/sendTransaction.ts
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
  src/utils/web3/index.ts
Due: eslint --fix

Add: User Settings (mobile)
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Fix: wrap very long colony name
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css
Due: stylelint --fix

Add: mobile styles
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.css
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.css.d.ts
Due: eslint --fix, stylelint --fix

code fixes
  src/modules/core/components/ForceActionToggle/ForceActionToggle.css
  src/modules/core/components/ForceActionToggle/ForceActionToggle.css.d.ts
  src/modules/core/components/ForceActionToggle/ForceActionToggle.tsx
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialog.css
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/EscrowFundsDialog/EscrowFundsDialog.tsx
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.css
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.tsx
Due: eslint --fix, stylelint --fix

Refactor: `ExtendedClientType` type and it's usage
  src/immutable/Transaction.ts
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/core/sagas/transactions/sendTransaction.ts
  src/modules/dashboard/sagas/vesting/claimAllocation.ts
  src/modules/dashboard/sagas/vesting/unwrapToken.ts
  src/types/index.ts
  src/utils/web3/index.ts
Due: eslint --fix

removed changes in StakeExpenditureDialog
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.css
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/StakeExpenditureDialog/StakeExpenditureDialog.tsx
Due: eslint --fix, stylelint --fix
