Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: `loggedInUser` client query now supports network id
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/loggedInUser.ts
Due: eslint --fix

Refactor: `loggedInUser` now tracks allowed networks
  src/data/resolvers/loggedInUser.ts
Due: eslint --fix

Add: `setupUserContext` determine current wallet network id
  src/modules/core/sagas/setupUserContext.ts
Due: eslint --fix

Add: allowed networks constants
  src/modules/constants.ts
Due: eslint --fix

Add: `UserNavigation` display not allowed network warning
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Refactor: `AvatarDropdown` ability to only log out
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix

Refactor: `WizardTemplateColony` redirect if not allowed
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.tsx
Due: eslint --fix

Remove: unused `GasStationClaimCard`
  src/modules/users/components/GasStation/GasStationClaimCard/GasStationClaimCard.css
  src/modules/users/components/GasStation/GasStationClaimCard/GasStationClaimCard.css.d.ts
  src/modules/users/components/GasStation/GasStationClaimCard/GasStationClaimCard.tsx
  src/modules/users/components/GasStation/GasStationClaimCard/index.ts
  src/modules/users/components/GasStation/TransactionDetails/TransactionDetails.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTitle` initial component
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/index.ts
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Add: `ColonyTitle` copy address tooltip
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTitle` copy colony address
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTitle` address hover acording to spec
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
Due: stylelint --fix

Fix: `ColonyTitle` better align the tooltip
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Update dependency ipfs to ^0.51.0
  package-lock.json
  package.json
Due: none

Add: initial `ColonySubscription` sub-component
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonySubscription` subscribe / unsubscribe logic
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonySubscription` colony info menu icon
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Refactor: `MaskedAddress` to support displaying it in full
  src/modules/core/components/CopyableAddress/CopyableAddress.tsx
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/core/components/MaskedAddress/MaskedAddress.css.d.ts
  src/modules/core/components/MaskedAddress/MaskedAddress.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonySubscriptionInfoPopover` subcomponent
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Fix: `ColonySubscription` loading spinner alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonySubscriptionInfoPopover` offset alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix

Fix: `ColonyTitle` minor code styling
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix

Fix: `UserNavigation` ready tx count highlight alignment
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Fix: `variables.css` better pink/danger colors naming
  src/styles/variables.css
Due: stylelint --fix

Fix: `TransactionStatus` counter text alignment
  src/modules/users/components/GasStation/TransactionCard/TransactionCard.css
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css
Due: stylelint --fix

Fix: `UserNavigation` gas/notifications highlight color
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.css
Due: stylelint --fix

Refactored: `InboxIcon` to be included in user navigation
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.css
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.css.d.ts
  src/modules/users/components/Inbox/InboxIcon/InboxIcon.tsx
  src/modules/users/components/Inbox/InboxIcon/index.ts
  src/modules/users/components/Inbox/index.ts
Due: eslint --fix, stylelint --fix

Fix: `setupUserContext` better detect local ganache
  src/modules/constants.ts
  src/modules/core/sagas/setupUserContext.ts
Due: eslint --fix

Add: core `MaskedAddress` now shows full address in title
  src/modules/core/components/MaskedAddress/MaskedAddress.tsx
Due: eslint --fix

Fix: `MaskedAddress` show full address in title
  src/modules/core/components/MaskedAddress/MaskedAddress.tsx
Due: eslint --fix

Refactor: `ColonySubscription` use our core `Button`
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
