Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Integrated CoinMachinePeriodTimeRemaining query with CoinMachine
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Added logic for valueWarning and danger styles of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Updated fetch-policy of coin machine sale period query
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Added period refreshing on useSplitTime hook
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Simplified conditional for value warning in RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Added missing dependency in useSplitTime
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Updated conditional for value warning in time remaining widget
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Extracted Chat and ChatMessage component from Coin Machine
  src/modules/core/components/Chat/Chat.css
  src/modules/core/components/Chat/Chat.css.d.ts
  src/modules/core/components/Chat/Chat.tsx
  src/modules/core/components/Chat/ChatMessage.css
  src/modules/core/components/Chat/ChatMessage.css.d.ts
  src/modules/core/components/Chat/ChatMessage.tsx
  src/modules/core/components/Chat/index.ts
Due: eslint --fix, stylelint --fix

Removed room prop from Chat component
  src/modules/core/components/Chat/Chat.tsx
Due: eslint --fix

Re-enable: coin machine extension in available listing
  src/modules/dashboard/components/Extensions/Extensions.tsx
Due: eslint --fix

Renamed Comment component to CommentInput
  src/modules/core/components/Comment/index.tsx
  src/modules/core/components/CommentInput/CommentInput.css
  src/modules/core/components/CommentInput/CommentInput.css.d.ts
  src/modules/core/components/CommentInput/CommentInput.tsx
  src/modules/core/components/CommentInput/index.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Added ActionsPageComment as a core component
  src/modules/core/components/Comment/Comment.css
  src/modules/core/components/Comment/Comment.css.d.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/Comment/index.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageComment/index.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/ActionsPageFeed/index.ts
Due: eslint --fix, stylelint --fix

Add: `CoinMachine` breadcrump learn more link
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Add: coin machine route
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Add: initial `CoinMachine` component
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/index.ts
Due: eslint --fix, stylelint --fix

Add: `CoinMachine` fake breadcrumb navigation
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Fix: core `BreadCrumb` bold last element
  src/modules/core/components/BreadCrumb/BreadCrumb.css
Due: stylelint --fix

Fix: `ActionsPageFeedItemWithIPFS` after `Comment` refactor
  src/modules/core/components/Comment/index.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
Due: eslint --fix

Refactored Chat component
  src/modules/core/components/Chat/Chat.tsx
  src/modules/core/components/Chat/ChatMessage.css
  src/modules/core/components/Chat/ChatMessage.css.d.ts
  src/modules/core/components/Chat/ChatMessage.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css.d.ts
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
  src/modules/dashboard/components/CoinMachine/Chat/index.ts
  src/modules/dashboard/components/CoinMachine/index.ts
Due: eslint --fix, stylelint --fix

Add: `CoinMachine` navigation within `ColonyHome`
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Refactor: core `BreadCrumb` to support react components
  src/modules/core/components/BreadCrumb/BreadCrumb.tsx
  src/modules/core/components/BreadCrumb/SingleCrumb.tsx
Due: eslint --fix

Renamed FeedItem to Comment
  src/modules/core/components/Comment/Comment.css
  src/modules/core/components/Comment/Comment.css.d.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/Comment/index.ts
  src/modules/core/components/FeedItem/index.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Added ActionsPageFeedItem as a core component
  src/modules/core/components/FeedItem/FeedItem.css
  src/modules/core/components/FeedItem/FeedItem.css.d.ts
  src/modules/core/components/FeedItem/FeedItem.tsx
  src/modules/core/components/FeedItem/index.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItem/index.ts
Due: eslint --fix, stylelint --fix

Added ActionsPageComment as a core component
  src/modules/core/components/Comment/index.tsx
  src/modules/core/components/CommentInput/CommentInput.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
Due: eslint --fix

Fix: `ActionsPageFeedItemWithIPFS` after `Comment` refactor
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
Due: eslint --fix

Refactor: coin machine `Chat` to actually use comments
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css.d.ts
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Update: `CoinMachine` extension init params
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Renamed FeedItem to Comment
  src/modules/core/components/FeedItem/index.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
Due: eslint --fix

Integrated MotionSrtaked required values with ActionsPageFeed
  src/modules/core/components/Tag/Tag.css
Due: stylelint --fix

Add: `CoinMachine` grid layout
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Refactor: core `CommentInput` margins
  src/modules/core/components/CommentInput/CommentInput.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Refactor: `CommentInput` to support callbacks
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Refactored: coin machine better feature access logic
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Refactor: `DefaultMotion` imports after rebase
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Add: `CoinMachine` wire in chat
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Create SaleStateWidget with all needed translations
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.css
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/index.ts
Due: eslint --fix, stylelint --fix

Fix: `ExtensionDetails` determine if can be installed
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Added ActionsPageFeedItem as a core component
  src/modules/core/components/FeedItem/index.ts
Due: eslint --fix

Fix: `CommentInput` merge conflict during rebase
  src/modules/core/components/CommentInput/CommentInput.tsx
Due: eslint --fix

Fix: coin machine `Chat` box shadow
  src/modules/dashboard/components/CoinMachine/Chat/Chat.css
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
