Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Level & step statuses
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.css
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.css.d.ts
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.css
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.css.d.ts
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.css
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.css.d.ts
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/modules/dashboard/components/shared/levelSteps.ts
Due: eslint --fix, stylelint --fix

Fix progress display logic
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix

Fix badge names
  src/modules/core/components/Badge/Badge.tsx
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
Due: eslint --fix

Improve `ProgressBar` a11y
  src/modules/core/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix

Use card design for program edit form
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Use `statusSchema` instead of `colorSchema`
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/InputStatus/InputStatus.css
  src/modules/core/components/Fields/InputStatus/InputStatus.css.d.ts
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Payout sums
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
Due: eslint --fix

Fix imports order
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix

Remove unneeded todo
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
Due: eslint --fix

Add persistentTask id to `stepIds` on create
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/queries.graphql
Due: eslint --fix

Update num required steps on removal of step when necessary
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/queries.graphql
Due: eslint --fix

Plural rules
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
Due: eslint --fix

Card design for level attributes edit
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Require a badge be selected
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/typeDefs/yup/index.d.ts
Due: eslint --fix

No border radius for real
  src/modules/core/components/Fields/Input/InputComponent.css
Due: stylelint --fix

Better payout iterable keys
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
Due: eslint --fix

Fix: remove unneeded comment
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
Due: eslint --fix

Add `useStepsCompleted` hook
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/modules/dashboard/components/shared/levelSteps.ts
  src/modules/dashboard/hooks/useStepsCompleted.ts
Due: eslint --fix

Level total payouts transformer
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
  src/modules/transformers.ts
Due: eslint --fix

Add create submission mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Submit work
  src/i18n/en.json
  src/modules/core/components/PayoutsList/PayoutsList.css
  src/modules/core/components/PayoutsList/PayoutsList.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.css
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkModal/PersistentTaskSubmitWorkModal.css
  src/modules/dashboard/components/PersistentTaskSubmitWorkModal/PersistentTaskSubmitWorkModal.css.d.ts
  src/modules/dashboard/components/PersistentTaskSubmitWorkModal/PersistentTaskSubmitWorkModal.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkModal/index.ts
Due: eslint --fix, stylelint --fix

Move - rename component
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.css
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.css.d.ts
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/index.ts
  src/modules/dashboard/components/PersistentTaskSubmitWorkModal/index.ts
Due: eslint --fix, stylelint --fix

Submission status in dialog
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.css
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.css.d.ts
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix, stylelint --fix

Display submission data
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Handle resubmission
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Add `EditSubmission` mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Remove redundant double bang
  src/modules/core/components/PayoutsList/PayoutsList.tsx
Due: eslint --fix

Update submission status after submitting
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Use async / await for closing dialog
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Prevent non-admins from accessing level edit route
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Update achievement label copy
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
Due: eslint --fix

Make description optional
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Fix initial token value for level step
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use fallback titles everywhere
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.tsx
Due: eslint --fix

Use global i18n values for commonly untitled types
  src/i18n/en.json
  src/modules/core/components/TransactionList/TransactionDetails.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/modules/dashboard/components/TaskList/TaskListItem.tsx
Due: eslint --fix

Fix: update requirement total number of steps
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelEdit/NumTotalSteps.tsx
Due: eslint --fix

Disable browser autocomplete for submit work input
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Fix: buttons, copy, and actions based on previous submissions
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Center empty content on colony home
  src/modules/dashboard/components/TaskList/TaskList.css
  src/modules/dashboard/components/TaskList/TaskList.css.d.ts
  src/modules/dashboard/components/TaskList/TaskList.tsx
  src/modules/dashboard/components/TaskList/TaskListItem.css
  src/modules/dashboard/components/TaskList/TaskListItem.css.d.ts
Due: eslint --fix, stylelint --fix

Filter domain id in route instead of state
  package.json
  src/modules/core/components/Button/Button.tsx
  src/modules/core/components/Link/Link.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix
