Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Made token info optional in action list transformer
  src/modules/dashboard/transformers.ts
Due: eslint --fix

Integrated PaymentMotion values with action titles
  src/data/resolvers/motions.ts
Due: eslint --fix

Integrated EditDomainMotion with action list
  src/data/resolvers/motions.ts
Due: eslint --fix

Added case for when paymentValues is null on args motion subscription
  src/data/resolvers/motions.ts
Due: eslint --fix

Reused getUpdatedDecodedMotionRoles on DefaultMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Fixed motion tag of action list margin
  src/modules/core/components/ActionsList/ActionsListItem.css
Due: stylelint --fix

Added getUpdatedDecodedMotionRoles util func
  src/utils/colonyMotions.ts
Due: eslint --fix

Removed deprecated comment of args resolver in motion
  src/data/resolvers/motions.ts
Due: eslint --fix

Integrated SetUserRolesMotion with event list
  src/data/resolvers/motions.ts
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix

Update copy for motion finalized event
  src/i18n/en-events.ts
Due: eslint --fix

Add: `ExtensionDetails` compatibility check
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Refactor: `Extensions` compatibility check logic
  package-lock.json
  src/modules/dashboard/components/Extensions/ExtensionActionButton.tsx
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Update: colonyJS package to latest rc
  package.json
Due: none

Add: `ExtensionUpgrade` check compatibility before upgrade
  src/modules/dashboard/components/Extensions/ExtensionUpgrade/ExtensionUpgrade.tsx
Due: eslint --fix

Fix: `ExtensionUpgrade` check if permissions available
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionUpgrade/ExtensionUpgrade.tsx
Due: eslint --fix

Feat: add `shoeArrow` prop to `QuestionmarkTooltip`
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
Due: eslint --fix

Refactor: update tooltip in `DefaultMotion`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Refactor: update tooltips in `VoteDetails`
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteDetails.tsx
Due: eslint --fix

Remove staking tooltip
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Add copy for finalize tooltip
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Added Decimal to extension param mapping
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Added extra validation to voting reputation params
  src/data/staticData/extensionData.ts
Due: eslint --fix

Updated validation of extension's periods to allow decimals
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Rename: and relocate: `ColonyDomainSelector`
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/CreateDomainButton.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/CreateDomainButton.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/CreateDomainButton.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/DomainDropdown/index.ts
Due: eslint --fix, stylelint --fix

Add: `TokenMintDialog` domain dropdown placeholder
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Fix: dashboard `Members` missing hook dependency
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Refactor: `DomainDropdown` selectively show all domains
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
Due: eslint --fix

Add: initial core `DomainDropdownItem` component
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/core/components/DomainDropdown/DomainDropdownItem.css
  src/modules/core/components/DomainDropdown/DomainDropdownItem.css.d.ts
  src/modules/core/components/DomainDropdown/DomainDropdownItem.tsx
Due: eslint --fix, stylelint --fix

Add: initial core `DomainDropdown` component
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/core/components/DomainDropdown/index.ts
Due: eslint --fix

Refactor: `ColonyDomainSelector` to use core component
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelectorItem.tsx
Due: eslint --fix, stylelint --fix

Fix: `MotionDomainSelect` disabled styles
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.css
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.css
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.css.d.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix, stylelint --fix

Add: `MotionDomainSelect` dashboard component
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.css
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.css.d.ts
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.tsx
  src/modules/dashboard/components/MotionDomainSelect/index.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.css
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.css.d.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix, stylelint --fix

Fix: core `DomainDropdown` width
  src/modules/core/components/DomainDropdown/DomainDropdown.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css
Due: eslint --fix, stylelint --fix

Refactor: `TokenMintDialog` don't send motion domain value
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Add: `MotionDomainSelect` display active subdomains
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.tsx
Due: eslint --fix

Add: `NetworkContractUpgradeDialog` show domain selector
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.css
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.css.d.ts
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
Due: eslint --fix, stylelint --fix

Add: `TokenEditDialog` show domain selector
  src/modules/core/components/TokenEditDialog/TokenEditDialog.css
  src/modules/core/components/TokenEditDialog/TokenEditDialog.css.d.ts
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
Due: eslint --fix, stylelint --fix

Add: `TransferFundsDialog` show domain selector
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css.d.ts
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.tsx
Due: eslint --fix, stylelint --fix

Add: `CreateDomainDialog` show domain selector
  src/modules/dashboard/components/CreateDomainDialog/CreateDomainDialog.tsx
  src/modules/dashboard/components/CreateDomainDialog/CreateDomainDialogForm.css
  src/modules/dashboard/components/CreateDomainDialog/CreateDomainDialogForm.css.d.ts
  src/modules/dashboard/components/CreateDomainDialog/CreateDomainDialogForm.tsx
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialog.tsx
Due: eslint --fix, stylelint --fix

Fix: core `Select` fallback for active item
  src/modules/core/components/Fields/Select/Select.tsx
Due: eslint --fix
