Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

feat: base of the message info on submit
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
Due: eslint --fix, stylelint --fix

feat: error message on submit and fix it button
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css.d.ts
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Staged.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

fix: cr reviews, moved hook to separate file, fix focus trigger when multiple users
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/core/components/UserPickerWithSearch/hooks.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitEqual/SplitEqual.tsx
  src/modules/dashboard/components/ExpenditurePage/Split/SplitUnequal/SplitUnequal.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Staged/Milestone/Milestone.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
Due: eslint --fix, stylelint --fix

code fixes
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
Due: eslint --fix

removed duplicate code
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

Tidy up validation.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix

Refactor: extract resuable code in transaction sections and minor tidy
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/shared.tsx
Due: eslint --fix

Fix: picker alignments across form
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.css
Due: eslint --fix, stylelint --fix

Update: `colonyJS` to it's latest stable release
  package-lock.json
  package.json
Due: none

Fix: `CreatePaymentDialog` import proper voting rep check
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
Due: eslint --fix

Fix: hide null motions from the list
  src/modules/dashboard/transformers/transformers.ts
  src/types/colonyMotions.ts
  src/utils/events/index.ts
Due: eslint --fix

Add: disable motions if VotingReputation is v4
  src/modules/core/components/Dialog/types.ts
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AdvancedDialog/AdvancedDialog.tsx
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationContainer/ManageReputationContainer.tsx
  src/modules/dashboard/components/Dialogs/AwardAndSmiteDialogs/ManageReputationDialogForm/ManageReputationDialogForm.tsx
  src/modules/dashboard/components/Dialogs/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
  src/modules/dashboard/components/Dialogs/CreateDomainDialog/CreateDomainDialog.tsx
  src/modules/dashboard/components/Dialogs/CreateDomainDialog/CreateDomainDialogForm.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/modules/dashboard/components/Dialogs/EditColonyDetailsDialog/EditColonyDetailsDialog.tsx
  src/modules/dashboard/components/Dialogs/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css
  src/modules/dashboard/components/Dialogs/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
  src/modules/dashboard/components/Dialogs/EditDomainDialog/EditDomainDialog.tsx
  src/modules/dashboard/components/Dialogs/EditDomainDialog/EditDomainDialogForm.tsx
  src/modules/dashboard/components/Dialogs/ExpendituresDialog/ExpendituresDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageDomainsDialog/ManageDomainsDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageFundsDialog/ManageFundsDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageReputationDialog/ManageReputationDialog.tsx
  src/modules/dashboard/components/Dialogs/NetworkContractUpgradeDialog/NetworkContractUpgradeDialog.tsx
  src/modules/dashboard/components/Dialogs/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
  src/modules/dashboard/components/Dialogs/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/modules/dashboard/components/Dialogs/PermissionManagementDialog/PermissionManagementForm.tsx
  src/modules/dashboard/components/Dialogs/TokenMintDialog/TokenMintDialog.tsx
  src/modules/dashboard/components/Dialogs/TokenMintDialog/TokenMintForm.tsx
  src/modules/dashboard/components/Dialogs/TransferFundsDialog/TransferFundsDialog.tsx
  src/modules/dashboard/components/Dialogs/TransferFundsDialog/TransferFundsDialogForm.css
  src/modules/dashboard/components/Dialogs/TransferFundsDialog/TransferFundsDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/TransferFundsDialog/TransferFundsDialogForm.tsx
  src/modules/dashboard/components/Dialogs/UnlockTokenDialog/UnlockTokenDialog.tsx
  src/modules/dashboard/components/Dialogs/UnlockTokenDialog/UnlockTokenForm.tsx
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix, stylelint --fix

Fix: unused `VotingReputation` hook imports
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/CreateDomainButton.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUpgrade/ColonyUpgrade.tsx
  src/modules/dashboard/components/ColonyMembers/MemberControls/MemberControls.tsx
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Bump: version to next patch: `v4.6.2`
  package-lock.json
  package.json
Due: none

Fix: Input max button bug when clicked twice
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Extract getColonySafe function
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/utils/safes/index.ts
Due: eslint --fix

Refactor: fix horizontal scroll for colonies list
  src/modules/pages/components/RouteLayouts/Default/Default.css
Due: stylelint --fix

Styles: update `Default` layout height
  src/modules/pages/components/RouteLayouts/Default/Default.css
Due: stylelint --fix

Refactor: user permissions
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/utils/hooks/useHasPermissions.ts
Due: eslint --fix

Remove: preview validation effect
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Fix: transfer funds loading when no safe selected
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransactionTypesSection.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
  src/types/index.ts
  src/utils/safes/index.ts
Due: eslint --fix, stylelint --fix

Move validation effect to onSelect in Transfer NFT
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/TransactionTypesSection/TransferNFTSection.tsx
  src/utils/safes/index.ts
  src/utils/safes/safeBalances.ts
Due: eslint --fix

Extract transaction and standardise types
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/AmountBalances/AmountBalances.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/AmountBalances/index.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/index.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix

Refactor: fix `ProgressBar` threshold in `DefaultMotion`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix, stylelint --fix

fixed toolitp spacing
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StagesButton/StagesButton.tsx
Due: eslint --fix, stylelint --fix

added displayName in ClaimTokens component
  src/modules/dashboard/components/ExpenditurePage/Stages/ClaimFunds/ClaimTokens/ClaimTokens.tsx
Due: eslint --fix

Fix: show Decisions nav item only if VotingReputation >= 7
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Fix: menu not opening when logged out and on wrong network
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
Due: eslint --fix

Integrated force toggle and motion domain selector with control safe dialog
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.css
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.css.d.ts
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/validation.ts
Due: eslint --fix, stylelint --fix

Added dynamic submit button message in ControlSafeForm
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Updated button text function on ControlSafeForm
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Fixed confirm transaction button being disabled on the first step
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Removed unused MSG from ControlSafeForm
  src/modules/dashboard/components/Dialogs/ControlSafeDialog/ControlSafeForm.tsx
Due: eslint --fix

Refactor: Declare types for move-decimal-point library
  src/typeDefs/move-decimal-point/index.d.ts
Due: eslint --fix

Remove unused PayoutsList component
  src/modules/core/components/PayoutsList/PayoutsList.css
  src/modules/core/components/PayoutsList/PayoutsList.css.d.ts
  src/modules/core/components/PayoutsList/PayoutsList.md
  src/modules/core/components/PayoutsList/PayoutsList.tsx
  src/modules/core/components/PayoutsList/index.ts
  styleguide.config.js
Due: eslint --fix, stylelint --fix

Remove leftover NewNumeral component
  src/modules/core/components/Numeral/NewNumeral.tsx
  src/modules/core/components/Numeral/TinyNumber.tsx
Due: eslint --fix

Add display name to Numeral components
  src/modules/core/components/Numeral/EngineeringNotation.tsx
  src/modules/core/components/Numeral/Numeral.tsx
  src/modules/core/components/Numeral/TinyNumber.tsx
Due: eslint --fix

Feature: Refactor Numeral component in line with new rules
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/core/components/EthUsd/EthUsd.tsx
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserReputation.tsx
  src/modules/core/components/MemberReputation/MemberReputation.tsx
  src/modules/core/components/Numeral/EngineeringNotation.tsx
  src/modules/core/components/Numeral/NewNumeral.tsx
  src/modules/core/components/Numeral/Numeral.css
  src/modules/core/components/Numeral/Numeral.css.d.ts
  src/modules/core/components/Numeral/TinyNumber.tsx
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteDetails.tsx
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteWidget.css
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteWidget.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/TokenItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsSelectedToken.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.css
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/modules/dashboard/components/Dialogs/TransferFundsDialog/TransferFundsDialogForm.tsx
  src/modules/dashboard/components/TokenCard/TokenCard.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix, stylelint --fix
