Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

WIP: add conditional preview transaction structure
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated core components to accomodate FieldArray
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/IconTooltip/IconTooltip.tsx
Due: eslint --fix

Refactor: extract `DetailsItem` from `TransactionPreview`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/DetailsItem/DetailsItem.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/DetailsItem/DetailsItem.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/DetailsItem/DetailsItem.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/DetailsItem/index.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix, stylelint --fix

Updated alignment of caret icons in tab of GnosisControlSafeForm
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
Due: stylelint --fix

Fixed sections losing focus on change in GnosisSafeControlDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Removed unnecessary prop from GnosisControlSafeDialog validation
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Updated Select component test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Integrated FieldArray with GnosisControlSafeDialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

Fixed GnosisControlSafeDialog validation
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Textarea/Textarea.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Feat: update `AddressDetailsView` & transaction details
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.tsx
Due: eslint --fix

Updated safe control dialog sections with FieldArray compatibility
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/ContractInteractionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/RawTransactionSection.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/TransferFundsSection.tsx
Due: eslint --fix

Feat: add transaction details map & generate html
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/index.ts
Due: eslint --fix, stylelint --fix

Fixed Select core component crashing on MessageDescriptor placeholders
  src/modules/core/components/Fields/Select/Select.tsx
Due: eslint --fix

Refactor: update Gnosis dialog & form based on latest rebase
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Updated Select test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Fixed GnosisSafeControlForm hiding sections when not supposed to
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Feat: update annotaiton & input fields label
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Refactor: clean up code in `SafeTransactionPreview`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/constants.ts
Due: eslint --fix

feat:update to use `GnosisNFTTransfer`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

feat:add nft-icon placehoder
  src/img/icons.json
  src/img/icons/nft-icon.svg
Due: none

Feat: add `validateOnMount` to Gnosis dialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Refactor: update field names in gnoses control safe dialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

Feat: fix validation on the first render for the transaction preview form
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix

Add: info message: does safe exist
  src/modules/constants.ts
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/AddExistingSafeDialog/AddExistingSafeDialogForm.tsx
Due: eslint --fix

Feat: add `validateOnMount` to `ActionForm` props
  src/modules/core/components/Fields/Form/ActionForm.tsx
Due: eslint --fix

fix:picker width
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css.d.ts
Due: eslint --fix, stylelint --fix

Refactor: add form validation on `showPreview` change in gnosis dialog
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
Due: eslint --fix, stylelint --fix

fix:add missing style file
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
Due: stylelint --fix

Feat: add safeguards to `SafeTransactionPreview` & `AddressDetailsView`
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionPreview/AddressDetailsView/AddressDetailsView.tsx
Due: eslint --fix

Feat: add conditional required filed for transaction set title
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

feat:add support for multiple transactions
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/index.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/index.ts
Due: eslint --fix, stylelint --fix

fix:updates missed in the merge with feature branch
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
Due: eslint --fix

Styles: update transaction details padding & values font-weight
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.css.d.ts
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix, stylelint --fix

fix:standardise nft icon
  src/img/icons/nft-icon.svg
Due: none

feat:add `SingleNFTPicker`
  src/modules/core/components/SingleUserPicker/SingleNFTPicker.tsx
  src/modules/core/components/SingleUserPicker/index.ts
Due: eslint --fix

feat:updates for NFT icon & image when unselected
  src/img/icons/nft-icon.svg
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
Due: eslint --fix, stylelint --fix

fix:resize nft icon
  src/img/icons/nft-icon.svg
Due: none

fix:tweak some css
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisNFTTransfer.css
Due: stylelint --fix

Refactor: update gnosis transaction preview copies
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeDialog.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/GnosisControlSafeForm.tsx
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/SafeTransactionPreview.tsx
Due: eslint --fix

fix:update IDs
  src/modules/dashboard/components/Dialogs/GnosisControlSafeDialog/TransactionTypesSection/GnosisNFTTransfer.tsx
Due: eslint --fix
