Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Improve single program hook error
  src/data/helpers.ts
Due: eslint --fix

End spinner loader after success
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix

Handle program does not exist edge case
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Add publish program mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Publish program logic
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Add `info` color schema, use for draft state
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Input/InputComponent.tsx
  src/modules/core/components/Fields/InputStatus/InputStatus.css
  src/modules/core/components/Fields/InputStatus/InputStatus.css.d.ts
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Add helpful title text
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Add dotted area button theme
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/Button.css.d.ts
  src/modules/core/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

Levels section
  src/modules/dashboard/components/ProgramEdit/EditLevels.css
  src/modules/dashboard/components/ProgramEdit/EditLevels.css.d.ts
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Improve nav link active styles
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix, stylelint --fix

Program dashboard for admins & non-admins
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css.d.ts
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Use confirm dialog to warn of program deletion
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Use program query
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/helpers.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/dashboard/components/Program/Program.tsx
Due: eslint --fix

Remove unneeded comment
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
Due: eslint --fix

Improve loading screen
  src/modules/dashboard/components/Program/Program.tsx
Due: eslint --fix

Use alternate validation for determining if a program `canPublish`
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Different button text for draft vs published
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

TS fixes
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
Due: eslint --fix

Add level create mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Add program levels list
  src/modules/core/components/ListGroup/ListGroup.tsx
  src/modules/core/components/ListGroup/index.ts
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsList/index.ts
Due: eslint --fix

Increase list group (& item) flexibility
  src/modules/core/components/ListGroup/ListGroup.css
  src/modules/core/components/ListGroup/ListGroup.css.d.ts
  src/modules/core/components/ListGroup/ListGroup.tsx
  src/modules/core/components/ListGroup/ListGroupItem/ListGroupItem.tsx
Due: eslint --fix, stylelint --fix

Add `drag-handle` icon
  src/img/icons/drag-handle.svg
  src/modules/core/components/Icon/icons.json
Due: none

Reduce dotted theme padding
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Add drag-and-drop levels list
  src/modules/dashboard/components/ProgramEdit/EditLevels.css
  src/modules/dashboard/components/ProgramEdit/EditLevels.css.d.ts
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.css.d.ts
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
Due: eslint --fix, stylelint --fix

Add `reorderProgramLevels` mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Improve `usePrevious` typing
  src/utils/hooks/index.ts
Due: eslint --fix

Update level order on drop
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
Due: eslint --fix

Add level to program immediately upon creation
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
Due: eslint --fix

Use `useIntl` hook in place of `injectIntl`
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
Due: eslint --fix

Redirect to level after creation
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
Due: eslint --fix

Remove `MnemonicDnDSorter` core component
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.css
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.css.d.ts
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.md
  src/modules/core/components/MnemonicDnDSorter/MnemonicDnDSorter.tsx
  src/modules/core/components/MnemonicDnDSorter/grid.svg
  src/modules/core/components/MnemonicDnDSorter/index.ts
  styleguide.config.js
Due: eslint --fix, stylelint --fix

Upgrade react-beautiful-dnd, add types
  package.json
  yarn.lock
Due: none

Upgrade react (recommended by dnd lib)
  package.json
  src/modules/core/components/Fields/Input/InputComponent.tsx
  yarn.lock
Due: eslint --fix

Push to history on item create
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
  src/modules/dashboard/components/ColonyHome/TabContribute/TabContribute.tsx
  src/modules/dashboard/components/ProgramEdit/EditLevels.tsx
Due: eslint --fix

Upgrade `react-tabs` to avoid `componentWillReceiveProps` warning
  package.json
  yarn.lock
Due: none

Improve organization of program components
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.css
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/index.ts
  src/modules/dashboard/components/ProgramLevelsList/index.ts
Due: eslint --fix, stylelint --fix

Only show `publish` button for drafts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Refactor to functional component with hooks
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.tsx
Due: eslint --fix

Upgrade draft-js
  package.json
  yarn.lock
Due: none

Upgrade `react-textarea-autosize`
  package.json
  yarn.lock
Due: none
