Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Updated UserInfo styles
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/UserInfo.tsx
Due: eslint --fix, stylelint --fix

Added grey theme to Heading component
  src/modules/core/components/Heading/Heading.css
  src/modules/core/components/Heading/Heading.css.d.ts
Due: eslint --fix, stylelint --fix

Updated userReputations sorting func to always sort root to the top
  src/data/resolvers/user.ts
Due: eslint --fix

Simplified MemberInfoPopover section styles
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserPermissions.tsx
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserTokens.tsx
Due: eslint --fix, stylelint --fix

Updated no rep messages of MemberInfoPopover
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserReputation.tsx
Due: eslint --fix

Added UserReputationForTopDomains local query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Added WIP UserReputation integration onto MemberInfoPopover
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.tsx
Due: eslint --fix

Updated UserTokens section styles
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserTokens.tsx
Due: eslint --fix

Fixed extremely long user names overflowing the MemberInfoPopover
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
Due: stylelint --fix

Updated MembersInfoPopover section styles
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css.d.ts
Due: eslint --fix, stylelint --fix

Updated UserReputation section styles
  src/modules/core/components/InfoPopover/MemberInfoPopover/UserReputation.tsx
Due: eslint --fix

Feat: add `DomainBalance` query, types & resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/token.ts
Due: eslint --fix

Feat: add domainBelance query, errorMessage & button disable to `FinalizMotion`
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.css
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix, stylelint --fix

Chore: update `generated` file after the merge
  src/data/generated.ts
Due: eslint --fix

Fix: fixes masked address alignment issue
  src/modules/core/components/MaskedAddress/MaskedAddress.css
Due: stylelint --fix

Chore: update package.json with integrity entries
  package-lock.json
Due: none

Feat: add motion queries
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
Due: eslint --fix

Feat: add subgraph query to `eventsForMotion` resolver
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: update actionPageFeed vote check & types
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Feat: add subgraph `motionSystemEvents` query
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
Due: eslint --fix

Refactor: update types in `subgraphEvents`
  src/utils/events/subgraphEvents.ts
Due: eslint --fix

Refactor: update `motionCurrentUserVoted` with subgraph query
  src/data/resolvers/motions.ts
Due: eslint --fix

Feat: add subgraph to `systemEvents` motions & use util function
  src/data/resolvers/motions.ts
Due: eslint --fix

Feat: add subgraph query to `motionVoteResults` motion resolver
  src/data/resolvers/motions.ts
Due: eslint --fix

Feat: add subgraph query to `motionObjectionAnnotation` motion resolver
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: update types in `colony` resolver & colonyActions
  src/data/resolvers/colony.ts
  src/data/resolvers/colonyActions.ts
Due: eslint --fix

Chore: fix several things after the rebase
  src/data/generated.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Feat: add remaining subgraph events motions queries
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
Due: eslint --fix

Feat: add `motionUserVoteRevealed` query to queries & to resolvers
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: update motion resolvers after the rebase
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: change the type of vote from number to `MotionVote` everywhere
  src/data/resolvers/colonyActions.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Refactor: update motions resolver to account for new query updates
  src/data/resolvers/motions.ts
Due: eslint --fix

Feat: add remaining queries to the motions resolvers
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: update sorting of motion events
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: update types in motion resolvers & subgraphEvents
  src/data/resolvers/colonyActions.ts
  src/data/resolvers/motions.ts
  src/utils/events/subgraphEvents.ts
Due: eslint --fix

Refactor: remove annotationEvents array from motions resolver
  src/data/resolvers/motions.ts
Due: eslint --fix

Refactor: move vote conversion from string to number to `parseSubgraphEvent`
  src/data/resolvers/motions.ts
  src/utils/events/subgraphEvents.ts
Due: eslint --fix

Refactor: update motion subgraph queries to remove args overload
  src/data/generated.ts
  src/data/graphql/queries/motions.graphql
Due: eslint --fix
