Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix node version in style guide build
  .github/workflows/gh-pages.yml
Due: none

Fix initial task styles
  src/modules/dashboard/components/Dashboard/InitialTask.css
  src/modules/dashboard/components/Dashboard/InitialTask.css.d.ts
  src/modules/dashboard/components/Dashboard/InitialTask.tsx
Due: eslint --fix, stylelint --fix

Fix modal default styles
  src/modules/core/components/Modal/Modal.tsx
Due: eslint --fix

Update: `colony-js` client to work with latest contracts
  package.json
  yarn.lock
Due: none

Fix: `administration` role be able to see profile
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
Due: eslint --fix

Fix: `Tokens` admin/root roles edit colony tokens
  src/modules/admin/components/Tokens/Tokens.tsx
Due: eslint --fix

Remove: legacy roles transformer and edit tokens check
  src/modules/admin/checks.ts
  src/modules/admin/components/Tokens/Tokens.tsx
  src/modules/transformers.ts
Due: eslint --fix

Remove: `Tokens` leftover commented out code
  src/modules/admin/components/Tokens/Tokens.tsx
Due: eslint --fix

Remove unneeded ipfs functionality
  src/lib/ipfs/IPFSNode.ts
  src/lib/ipfs/types.ts
  src/utils/time.ts
Due: eslint --fix

Update dep: `yup`
  package-lock.json
  package.json
Due: none

Migrate from `yarn` to `npm`
  .huskyrc
  Readme.md
  package-lock.json
  scripts/run_cypress_based_on_browser.sh
  scripts/start_all.js
  scripts/start_ganache.js
  yarn.lock
Due: none

Update dep: `eslint-plugin-react-hooks`
  package-lock.json
  package.json
Due: none

Update dep: `react-day-picker`
  package-lock.json
  package.json
Due: none

Update dep: `terser-webpack-plugin`
  package-lock.json
  package.json
Due: none

Update dep: `prettier`
  package-lock.json
  package.json
  src/lib/TextDecorator/TextDecorator.ts
  src/modules/admin/components/Profile/ProfileEdit.tsx
  src/modules/core/components/Button/__tests__/Button.test.tsx
  src/modules/core/components/ItemsList/ItemsList.tsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
  src/modules/dashboard/components/TaskComments/TaskComments.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeed.tsx
  src/modules/users/components/ConnectWalletWizard/StepMetaMask/StepMetaMask.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix

Update dep: `ts-loader`
  package-lock.json
  package.json
Due: none

Update dep: `ts-node`
  package-lock.json
  package.json
Due: none

Reorder static members
  src/modules/core/components/Fields/InlineEdit/SingleLineEdit/SingleLineEdit.tsx
Due: eslint --fix

Update dep: `wait-on`
  package-lock.json
  package.json
Due: none

Update dep: `caniuse-lite`
  package-lock.json
  package.json
Due: none

Improve npm script output
  package.json
Due: none

Update dep: misc. eslint plugins
  package-lock.json
  package.json
Due: none

Update dep: `graphql`
  package-lock.json
  package.json
  src/data/generated.ts
Due: eslint --fix

Audit fix
  package-lock.json
  package.json
Due: none

Update dep: `nanoid`
  package-lock.json
  package.json
Due: none

Update dep: `file-loader`
  package-lock.json
  package.json
Due: none

Remove dep: `rimraf`
  package.json
Due: none

Update dep: `babel-plugin-react-intl`
  package-lock.json
  package.json
Due: none

Remove cypress
  .lintstagedrc
  cypress.json
  cypress/.eslintrc
  cypress/fixtures/accounts.json
  cypress/fixtures/blockie_0xb77D57F4959eAfA0339424b83FcFaf9c15407461.png
  cypress/fixtures/colonies.json
  cypress/fixtures/jolly-roger.jpeg
  cypress/fixtures/users.json
  cypress/integration/claim-username.js
  cypress/integration/create-colony.js
  cypress/integration/unclaimed-profile-restrictions.js
  cypress/integration/update-claimed-profile-metadata.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/connectToDapp.js
  cypress/support/index.js
  cypress/support/localForageClear.js
  package-lock.json
  package.json
  scripts/run_cypress_based_on_browser.sh
Due: none

Update dep: `html-webpack-plugin`
  package-lock.json
  package.json
Due: none

Import extensions rule
  .eslintrc.js
Due: none

Update dep: `react-redux`
  package-lock.json
  package.json
Due: none

Update deps: `stylelint` and plugins
  package-lock.json
  package.json
Due: none

Remove unneeded script
  scripts/flow_ci.sh
Due: none

Remove dep: `p-series`
  package-lock.json
  package.json
Due: none

Update dep: `ethereumjs-tx`
  package-lock.json
  package.json
Due: none

Remove dep: `eslint-plugin-ava`
  package-lock.json
  package.json
Due: none

Update dep: `eslint-plugin-jsdoc`
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: cypress/**/*.ts)
  stylelint --fix: any of: src/**/*.css
