Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: `TransactionStatus` to show correct symbol
  src/modules/dashboard/components/ActionsPage/TransactionStatus/TransactionStatus.css
  src/modules/dashboard/components/ActionsPage/TransactionStatus/TransactionStatus.css.d.ts
  src/modules/dashboard/components/ActionsPage/TransactionStatus/TransactionStatus.tsx
Due: eslint --fix, stylelint --fix

Fix: `ActionsPageEvent` use `TransactionStatus` symbol
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css.d.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix, stylelint --fix

Fix: `PermissionRequiredInfo` map and styles
  src/modules/core/components/PermissionRequiredInfo/PermissionRequiredInfo.css
  src/modules/core/components/PermissionRequiredInfo/PermissionRequiredInfo.css.d.ts
  src/modules/core/components/PermissionRequiredInfo/PermissionRequiredInfo.tsx
Due: eslint --fix, stylelint --fix

Wire: complete expenditures dialog flow
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/ExpendituresDialog/ExpendituresDialog.tsx
Due: eslint --fix

Refactor: actions and events messages to `IntlProvider`
  src/App.tsx
  src/i18n/en-actions.ts
  src/i18n/en-events.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/messages.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Refactor: wire up `CreatePaymentDialog`
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Update: Actions Page and Feed proper recipient display
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItem/ActionsPageFeedItem.tsx
  src/modules/users/transformers.ts
Due: eslint --fix

Add: core `FriendlyUserName` component
  src/modules/core/components/FriendlyUserName/FriendlyUserName.css
  src/modules/core/components/FriendlyUserName/FriendlyUserName.css.d.ts
  src/modules/core/components/FriendlyUserName/FriendlyUserName.tsx
  src/modules/core/components/FriendlyUserName/index.ts
  src/modules/core/components/MaskedAddress/MaskedAddress.tsx
Due: eslint --fix, stylelint --fix

Refactor: `FriendlyUserName` shrink address conditionally
  src/modules/core/components/FriendlyUserName/FriendlyUserName.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Refactor: `DetailsWidget` props and data it consumes
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix

Refactor: simplify `DetailsWidgetTeam` logic
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetTeam/DetailsWidgetTeam.tsx
Due: eslint --fix

Add: `ActionsPage` wire active domain
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Add: `getActiveDomain` events util
  src/utils/events/index.ts
Due: eslint --fix

Add: `colonyActions` resolvers add active domain
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colonyActions.ts
Due: eslint --fix

Refactor: `ActionsPageFeed` show onetxpayment made event
  src/i18n/en-events.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Add: `DetailsWidget` action type icon
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix, stylelint --fix

Add: `ActionsPageEvent` proper permissions map
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/types/colonyActions.ts
Due: eslint --fix

Refactor: `PermissionsLabel` now has apperance prop
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css.d.ts
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
Due: eslint --fix, stylelint --fix

Remove: active domain display from payment action
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colonyActions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
  src/utils/events/index.ts
Due: eslint --fix

Add: `PermissionsLabel` appearance themes
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css.d.ts
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
Due: eslint --fix, stylelint --fix

Refactor; `ActionsPageEvent` permissions to be in spec
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css.d.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix, stylelint --fix

Refactor: `ActionsPageEvent` better autoIds generator
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix, stylelint --fix

Fix: `DetailsWidgetUser` pass user profile to avatar
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.tsx
Due: eslint --fix

Add: `getAllAvailableClients` events util
  src/utils/events/index.ts
Due: eslint --fix

Fix: `createPaymentAction` saga validate payload
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Refactor: ren `transactionInitiator` to `actionInitiator`
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colonyActions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialogForm.css.d.ts
Due: eslint --fix

Refactor: `colonyAction` resolver better payment defaults
  src/data/resolvers/colonyActions.ts
Due: eslint --fix

Fix: `CreatePaymentDialog` min amount validation
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialog.tsx
Due: eslint --fix

Add: core `Input` forced error state control
  src/modules/core/components/Fields/Input/Input.tsx
Due: eslint --fix

Fix: `CreatePaymentDialog` validate available domain funds
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Refactor: `TransactionLink` pass down props
  src/modules/core/components/ExternalLink/ExternalLink.tsx
  src/modules/core/components/TransactionLink/TransactionLink.tsx
Due: eslint --fix

Fix: `ActionsPageFeed` better filtering of unknown actions
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
Due: eslint --fix

Refactor: `DetailsWidget` hide details for generic actions
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix, stylelint --fix

Fix: `ActionsPageEvent` check for roles map existance
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Add: `splitTransactionHash` string util
  src/utils/strings/index.ts
Due: eslint --fix

Refactor: `DetailsWidget` generic tx hash display
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix

Add: emoji icons required fro the manage funds index modal
  src/img/icons.json
  src/img/icons/emoji-medal.svg
  src/img/icons/emoji-pen.svg
  src/img/icons/emoji-piggy-bank.svg
  src/img/icons/emoji-seed-sprout.svg
  src/img/icons/emoji-world-globe.svg
Due: none

Add: `ManageFundsDialog` dashboard component
  src/modules/dashboard/components/ManageFundsDialog/ManageFundsDialog.tsx
  src/modules/dashboard/components/ManageFundsDialog/index.ts
Due: eslint --fix

Add: `ColonyHomeActions` wire up manage funds dialog
  src/modules/dashboard/components/ColonyActionsDialog/ColonyActionsDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Update: `ManageFundsDialog` copy
  src/modules/dashboard/components/ManageFundsDialog/ManageFundsDialog.tsx
Due: eslint --fix
