Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Refetch notifications after particular structured work actions
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Handle multiple payouts
  src/modules/core/components/OverviewList/OverviewList.css
  src/modules/core/components/OverviewList/OverviewListItem.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.css
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.css.d.ts
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
Due: eslint --fix, stylelint --fix

Improve add button
  src/img/icons/circle-plus.svg
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/DottedAddButton.css
Due: stylelint --fix

Fix achievement vertical alignment
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.css
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.css.d.ts
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
Due: eslint --fix, stylelint --fix

Limit input lengths
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.tsx
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix

Add `useLevelAfter` hook
  src/data/helpers.ts
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/hooks/useLevelAfter.ts
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix

Use browser history back fn for level cancel
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Fix: `TaskDate` handle empty date value (if un-setting it)
  src/data/generated.ts
  src/modules/dashboard/components/TaskDate/TaskDate.tsx
Due: eslint --fix

Fix: address scroll with rest of page
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.css
Due: stylelint --fix

Fix payout styles
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/Fields/Select/Select.css
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css
Due: eslint --fix, stylelint --fix

Fine-tune select grey theme styles
  src/modules/core/components/Fields/Select/Select.css
Due: stylelint --fix

Align `Remove` button with left edge of `Select`
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css
Due: stylelint --fix

Add unique input ids for level task fields
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Add: `SetTaskPending` data mutation / code generation
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Add: `isActive` check account for pending state
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/queries.graphql
  src/modules/dashboard/checks.ts
Due: eslint --fix

Add: `TaskFeedEvent` handle TaskPending events
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.tsx
Due: eslint --fix

Add: `taskFinalize` saga put task in pending state
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Fix: `TaskFeedEvent` pending tx link color
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.css
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.css.d.ts
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.tsx
Due: eslint --fix, stylelint --fix

Add: `taskComplete` saga (finish task after tx mining)
  src/modules/dashboard/sagas/task.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/task.ts
Due: eslint --fix

Add: task payout events parser util
  src/utils/web3/eventLogs/eventParsers.ts
Due: eslint --fix

Fix: `task` sagas remove leftover imports
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Add: `Task` check if payout tx mined on mount
  src/modules/dashboard/components/Task/Task.tsx
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Fix: `taskFinalize` saga fetch tx hash from hash_received
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Fix: `taskFinalized` saga order of pending state
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Fix: `taskCompleted` event+log parsing logic
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Fix: task payout event parser return correct type
  src/modules/dashboard/components/Task/Task.tsx
  src/utils/web3/eventLogs/eventParsers.ts
Due: eslint --fix

Version: Bump app to `2.3.0`
  package.json
Due: none

Fix: `taskFinalize` saga differentiate persistent tasks
  src/modules/dashboard/sagas/task.ts
  src/redux/types/actions/task.ts
Due: eslint --fix

Fix: `ProgramReviewItem` pass persistent flag to saga
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Fix profile scrolling issue
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
Due: stylelint --fix

Improve tooltip width
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix, stylelint --fix

Update create colony copy
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Improve tooltip content to match styleguide
  src/modules/core/components/Popover/Tooltip.css
Due: stylelint --fix

Fix tooltip widths, update username copy
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.css
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.css
  src/modules/dashboard/components/CreateUserWizard/StepUserName.css.d.ts
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix, stylelint --fix

Fix button disabled logic
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix

Remove username tooltip
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.css
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.css
  src/modules/dashboard/components/CreateUserWizard/StepUserName.css.d.ts
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix, stylelint --fix

Version: Bump app to `2.3.1`
  package.json
Due: none

Fix: `TaskFeedCompleteInfo` checksum token address
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
Due: eslint --fix

Fix: `task` client query checksum token address
  src/data/task.ts
Due: eslint --fix

Fix: `TaskFeedCompleteInfo` update tx etherscan copy
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
Due: eslint --fix
