Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Add `EditSubmission` mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Handle resubmission
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Update submission status after submitting
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Remove redundant double bang
  src/modules/core/components/PayoutsList/PayoutsList.tsx
Due: eslint --fix

Prevent non-admins from accessing level edit route
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Use async / await for closing dialog
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Update achievement label copy
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
Due: eslint --fix

Make description optional
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use global i18n values for commonly untitled types
  src/i18n/en.json
  src/modules/core/components/TransactionList/TransactionDetails.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/modules/dashboard/components/TaskList/TaskListItem.tsx
Due: eslint --fix

Fix initial token value for level step
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use fallback titles everywhere
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/TaskClaimReward/TaskClaimRewardDialog.tsx
Due: eslint --fix

Fix: update requirement total number of steps
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelEdit/NumTotalSteps.tsx
Due: eslint --fix

Disable browser autocomplete for submit work input
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Fix: buttons, copy, and actions based on previous submissions
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Center empty content on colony home
  src/modules/dashboard/components/TaskList/TaskList.css
  src/modules/dashboard/components/TaskList/TaskList.css.d.ts
  src/modules/dashboard/components/TaskList/TaskList.tsx
  src/modules/dashboard/components/TaskList/TaskListItem.css
  src/modules/dashboard/components/TaskList/TaskListItem.css.d.ts
Due: eslint --fix, stylelint --fix

Filter domain id in route instead of state
  package.json
  src/modules/core/components/Button/Button.tsx
  src/modules/core/components/Link/Link.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyMeta.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix

Refine `numRequiredSteps` validation
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Remove review item after accepting & signing tx
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Darken locked badges, apply opacity
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix, stylelint --fix

Make submission content optional
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Simplify role checks, add edit button to level display
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyPrograms.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/Program/Program.tsx
  src/modules/dashboard/hooks/useUserRolesInDomain.ts
Due: eslint --fix

Only allow enrolling from level if published
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
Due: eslint --fix

Level cancel links back to level view
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Fix empty submission & validation
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Allow tasks without titles in the review queue
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Fix: update review list immediately
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksListItem.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
Due: eslint --fix

Adjust to ProgramSubmission server changes
  src/data/fragments.graphql
  src/data/generated.ts
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Fix layout if payouts not yet added
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
Due: eslint --fix

Lift submissions state, add red dot
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css.d.ts
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
Due: eslint --fix, stylelint --fix

Add submissions empty state
  src/modules/dashboard/components/ProgramReview/ProgramReview.css
  src/modules/dashboard/components/ProgramReview/ProgramReview.css.d.ts
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
Due: eslint --fix, stylelint --fix

Enforce 4000 character limit in descriptions
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Fix insect order and names
  src/img/badges/bongJoonBee.svg
  src/img/badges/wernerWasp.svg
  src/img/icons.json
Due: none

Fix level required steps input styling
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Input/InputComponent.tsx
  src/modules/core/components/Fields/InputLabel/InputLabel.tsx
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Allow finalizing a submission without payouts
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
Due: eslint --fix

Improve level steps refetching & cache updating
  src/data/cacheUpdates.ts
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/index.ts
  src/data/queries.graphql
  src/modules/dashboard/components/LevelDashboard/LevelAttributes.tsx
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksList/LevelTasksList.tsx
  src/modules/dashboard/components/PersistentTaskSubmitWorkDialog/PersistentTaskSubmitWorkDialog.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
Due: eslint --fix

Remove levels
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/mutations.graphql
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Update delete button copy
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Fix circle icon, improve dotted button styling
  src/img/icons/circle-plus.svg
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/DottedAddButton.css
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.css
Due: stylelint --fix

Remove welcome message state after closing dialog
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
Due: eslint --fix

Improve publishing validation logic
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.css
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEditForm.tsx
Due: eslint --fix, stylelint --fix
