Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: `ColonyTitle` copy colony address
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTitle` better align the tooltip
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Add: initial `ColonySubscription` sub-component
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonySubscription` subscribe / unsubscribe logic
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonySubscriptionInfoPopover` subcomponent
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Add: `ColonySubscription` colony info menu icon
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css.d.ts
  src/styles/variables.css
Due: eslint --fix, stylelint --fix

Refactor: `MaskedAddress` to support displaying it in full
  src/modules/core/components/CopyableAddress/CopyableAddress.tsx
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/core/components/MaskedAddress/MaskedAddress.css.d.ts
  src/modules/core/components/MaskedAddress/MaskedAddress.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTitle` minor code styling
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.tsx
Due: eslint --fix

Fix: `ColonySubscriptionInfoPopover` offset alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix

Fix: `ColonySubscription` loading spinner alignment
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
Due: eslint --fix, stylelint --fix

Refactor: `ColonySubscription` use our core `Button`
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFunds` native token display
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Add: intiial `ColonyTotalFunds` component
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/index.ts
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFunds` loading state
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFunds` manage funds controls
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Revert: erroneous `ColonyNavigation` link changes
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Add: `ColonyTotalFunds` caret icon
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFundsPopover` sub-component
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFunds` styles after specs were changed
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFundsPopover` offset alignment
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix

Add: `ColonyTotalFunds` select token logic
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFundsPopover` highlight selected token
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFundsPopover` based on new specs
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
Due: eslint --fix, stylelint --fix

Added: `MuliWeb` light variant
  src/fonts/muliweb-bold.woff
  src/fonts/muliweb-bold.woff2
  src/fonts/muliweb-italic.woff
  src/fonts/muliweb-italic.woff2
  src/fonts/muliweb-light.woff
  src/fonts/muliweb-light.woff2
  src/fonts/muliweb.woff
  src/fonts/muliweb.woff2
  src/styles/fonts.css
  src/styles/variables.css
Due: stylelint --fix

Rename: `MuliWeb` font due to rights issues
  src/styles/fonts.css
Due: stylelint --fix

Update: `Popover` dropshow based on new specs
  src/modules/core/components/Popover/PopoverWrapper.css
Due: stylelint --fix

Fix: `ColonyTotalFunds` remove manage funds link outline
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTotalFundsPopover` better list center alignment
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Fix: `ColonyTotalFundsPopover` list padding
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Add `userColonies` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/index.ts
Due: eslint --fix

Refactor: `ColonyTotalFunds` better component selection
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Add: `ColonyTotalFundsPopover` handle too many tokens case
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.css
Due: stylelint --fix

Add `SubscribedColoniesList`
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css.d.ts
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.tsx
  src/modules/dashboard/components/SubscribedColoniesList/index.ts
Due: eslint --fix, stylelint --fix

Add `createColony` cache updater
  src/data/cacheUpdates.ts
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Hide new colony button for `ethereal` wallet types
  package-lock.json
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.tsx
Due: eslint --fix

Update: `package` lock file after rebase
  package-lock.json
Due: none

Disable: temporary disable `ColonyHome` lint errors
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Add: initial `ActionsList` core component
  src/modules/core/components/ActionsList/ActionsList.css
  src/modules/core/components/ActionsList/ActionsList.tsx
  src/modules/core/components/ActionsList/index.ts
Due: eslint --fix, stylelint --fix

Fix: `InboxContainer` footer vertical height cutoff
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css
Due: stylelint --fix

Add: `ActionsList` display user avatar
  src/modules/core/components/ActionsList/ActionsList.css
  src/modules/core/components/ActionsList/ActionsList.css.d.ts
  src/modules/core/components/ActionsList/ActionsList.tsx
  src/modules/core/components/ActionsList/ActionsListItem.css
  src/modules/core/components/ActionsList/ActionsListItem.css.d.ts
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
