Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Remove not needed motion action types
  src/redux/actionTypes.ts
Due: eslint --fix

Add MintTokenMotion component to ActionPage
  src/i18n/en-motions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/types/colonyMotions.ts
Due: eslint --fix

Create redux action types for mint token motion
  src/redux/actionTypes.ts
Due: eslint --fix

CHange action to motion in translations
  src/i18n/en-motions.ts
Due: eslint --fix

Add tagWrapper class to DefailtAction css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css.d.ts
Due: eslint --fix, stylelint --fix

Add ColonyMotions type to Details Widget
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.tsx
Due: eslint --fix

Add basic content to MintTokenMotion component
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Update MintTokenMotion component usage on ActionPage
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Add token activation button to UserNavigation
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Add ColonyMotions type to getDetailsForAcion helper
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/utils/colonyActions.ts
Due: eslint --fix

Add nativeToken to userLock query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Add UserBalanceWithLock query and types
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
Due: eslint --fix

Add getUserLock resolver on User
  src/data/resolvers/user.ts
Due: eslint --fix

Fetch userlock data
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Display user balance
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Add dot to button
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Do not show decimals if numbers larger then 5 figures
  src/modules/core/components/Numeral/Numeral.tsx
Due: eslint --fix

Remove token cache
  src/data/resolvers/token.ts
Due: eslint --fix

Create wrapper component for wallet address button and token balance
  src/data/resolvers/token.ts
  src/data/resolvers/user.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Revert removing
  src/data/resolvers/token.ts
Due: eslint --fix

Add types and get value for user totalObligation
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Add UserToken type
  src/data/generated.ts
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.css
Due: eslint --fix, stylelint --fix

Fix linter issues
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/modules/core/components/Numeral/Numeral.tsx
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Fix displaying active/inactive balance
  src/data/resolvers/user.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Update fonts in user navigation
  src/data/graphql/typeDefs.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.css
Due: eslint --fix, stylelint --fix

Change client to apolloClient
  src/data/resolvers/user.ts
Due: eslint --fix

Add flag for reducing output in Numeral component
  src/modules/core/components/Numeral/Numeral.tsx
Due: eslint --fix

Update ColonyManager
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/lib/ColonyManager/ColonyManager.ts
Due: eslint --fix

Move token activation button to separate component
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.css
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.css.d.ts
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
  src/modules/users/components/UserTokenActivationButton/index.ts
Due: eslint --fix, stylelint --fix

Refactor user resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Feat: add tabs & `ClaimsTab` to `TokenActivationContent`
  src/modules/users/components/TokenActivation/TokenActivationContent.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/ClaimsTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/index.ts
  src/modules/users/components/TokenActivation/TokenActivationPopover.css
  src/modules/users/components/TokenActivation/TokenActivationPopover.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
  src/modules/users/components/TokenActivation/index.ts
Due: eslint --fix, stylelint --fix

Feat: add basic structure for `TokenActivation` content & popover
  src/modules/users/components/TokenActivation/TokenActivationContent.tsx
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
  src/modules/users/components/TokenActivation/index.ts
Due: eslint --fix

WIP: add `TokensTab`, props & css to `TokenActivation`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/index.ts
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
Due: eslint --fix, stylelint --fix

WIP: add the rest of `TokensTab` structure & styles
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add grey `padlock-closed` emoji
  src/img/icons.json
  src/img/icons/emoji-padlock-closed.svg
Due: none

Feat: add popover to `UserNavigation`
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

WIP: add `TokensTab` styles & structure
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add `UserToken` to `AnyToken` type
  src/data/index.ts
Due: eslint --fix

Refactor: make `label` optional prop in `Input`
  src/modules/core/components/Fields/Input/Input.tsx
Due: eslint --fix

Feat: add `formatTokenValue` helper to `utils`
  src/modules/core/components/Numeral/Numeral.tsx
  src/utils/numbers/formatTokenValue.ts
  src/utils/numbers/index.ts
Due: eslint --fix
