Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Add: `BuyTokens` submit button
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: `BuyTokens` validate amount field
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Add: coin machine buy tokens redux actions and types
  src/redux/actionTypes.ts
  src/redux/types/actions/coinMachine.ts
  src/redux/types/actions/index.ts
Due: eslint --fix

Add: coin machine buy tokens saga
  src/i18n/en.json
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
  src/modules/dashboard/sagas/coinMachine/index.ts
  src/modules/dashboard/sagas/index.ts
Due: eslint --fix

Fix: `BuyTokens` display values if sale inactive
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Add: `BuyTokens` wire up with saga and trasformer
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `buyTokens` saga amount transformation
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
Due: eslint --fix

Add: `BuyTokens` component reset form after success
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `CoinMachine` styles after rebase
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix, stylelint --fix

Add: `coinMachineSaleTokens` client resolver
  codegen.yml
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs.ts
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/index.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Refactor: `CoinMachine` use sale token
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Refactor: `SaleStateWidget` to use actual sale tokens
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Refactor: `BuyTokens` use sale tokens values
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Fix: `BuyTokens` only show exchange rate if available
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Refactor: `BuyTokens` get proper user token balance
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Add: `coinMachineCurrentPeriodPrice` client resolver
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Add: `BuyTokens` proper sale price
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Add: `coinMachineCurrentPeriodMaxUserPurchase` resolver
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/data/staticData/extensionData.ts
Due: eslint --fix

Add: `BuyTokens` limit max value a user can purchase
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Add: `BuyTokens` widget loading state
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Fix: `estimateGasCost` send options when estimating
  src/modules/core/sagas/transactions/estimateGasCost.ts
Due: eslint --fix

Fix: `buyTokens` saga send overwritten value
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
  src/redux/types/actions/coinMachine.ts
Due: eslint --fix

Refactor: `buyTokens` saga account for non-ETH tokens
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
Due: eslint --fix

Fix: update force toggle condition in the `Permissions` modal
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementForm.tsx
Due: eslint --fix

Refactor: `sendTransaction`/`estimateGasCost` sagas
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/core/sagas/transactions/sendTransaction.ts
Due: eslint --fix

Fix: `buyTokens` saga properly approve tokens
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
Due: eslint --fix

Add: coin machine initial params larger limits
  src/data/staticData/extensionData.ts
Due: eslint --fix

Fix: `colonyCreate` token client instantiation
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Fix: `colonyFinishDeployment` saga
  src/modules/dashboard/sagas/colonyFinishDeployment.ts
Due: eslint --fix

Fix: `userDepositToken` saga tokenClient instantiation
  src/modules/users/sagas/user.ts
Due: eslint --fix

Update: `colonyJS` to latest `4.0.x` release
  package-lock.json
  package.json
Due: none

Refactor: fix margin-top for comments on the motions page
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Added more valid props to TableHeader
  src/modules/core/components/Table/TableHeader/TableHeader.tsx
Due: eslint --fix

Added TokenPriceStatusIcon component
  src/modules/dashboard/components/CoinMachine/TokenPriceStatusIcon/TokenPriceStatusIcon.css
  src/modules/dashboard/components/CoinMachine/TokenPriceStatusIcon/TokenPriceStatusIcon.css.d.ts
  src/modules/dashboard/components/CoinMachine/TokenPriceStatusIcon/TokenPriceStatusIcon.tsx
  src/modules/dashboard/components/CoinMachine/TokenPriceStatusIcon/index.ts
Due: eslint --fix, stylelint --fix

Added TokenSalesTable component UI
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix, stylelint --fix

Updated height of sales table section
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
Due: stylelint --fix

Added TokenSalesTable to CoinMachine page
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/index.ts
Due: eslint --fix

Added TableRow to TableHeader of TokenSalesTable
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.tsx
Due: eslint --fix

Fixed style of TokenSalesTable
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
Due: eslint --fix, stylelint --fix

Fixed background color of table
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
Due: stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
