Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Fix: Misc fixes to padding and icon size
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Adjust: Padding on Action Menu
  src/modules/core/components/IndexModal/IndexModal.css
  src/modules/core/components/IndexModal/IndexModal.css.d.ts
  src/modules/core/components/IndexModal/IndexModalItem.css
  src/modules/core/components/IndexModal/IndexModalItem.css.d.ts
Due: eslint --fix, stylelint --fix

Add: User Info Summary on Avatar (mobile)
  src/modules/core/components/DropdownMenu/DropdownMenu.css
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopoverMobile.css
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopoverMobile.css.d.ts
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationDisplay.tsx
  src/types/tokens.ts
  src/utils/tokens.ts
Due: eslint --fix, stylelint --fix

Refactor: Extracting Menu sections into reusable components
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css.d.ts
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
  src/modules/users/components/PopoverSection/ColonySection.tsx
  src/modules/users/components/PopoverSection/HelperSection.css
  src/modules/users/components/PopoverSection/HelperSection.css.d.ts
  src/modules/users/components/PopoverSection/HelperSection.tsx
  src/modules/users/components/PopoverSection/MetaSection.tsx
  src/modules/users/components/PopoverSection/UserSection.tsx
Due: eslint --fix, stylelint --fix

Add: Hamburger Menu
  src/modules/core/components/ExternalLink/ExternalLink.css
  src/modules/core/components/ExternalLink/ExternalLink.css.d.ts
  src/modules/core/components/HamburgerMenu/HamburgerMenu.css
  src/modules/core/components/HamburgerMenu/HamburgerMenu.css.d.ts
  src/modules/core/components/HamburgerMenu/HamburgerMenu.tsx
  src/modules/core/components/NavLink/NavLink.css
  src/modules/core/components/NavLink/NavLink.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.css.d.ts
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.css.d.ts
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
  src/modules/users/components/PopoverSection/ColonySection.tsx
  src/modules/users/components/PopoverSection/HelperSection.tsx
  src/modules/users/components/PopoverSection/MetaSection.tsx
  src/modules/users/components/PopoverSection/UserSection.tsx
  src/modules/users/components/PopoverSection/index.ts
Due: eslint --fix, stylelint --fix

Fix: active link on Hamburger menu
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
Due: eslint --fix

Fix: background colour to white
  src/modules/pages/components/LoadingTemplate/LoadingTemplate.css
  src/modules/pages/components/LoadingTemplate/LoadingTemplate.css.d.ts
  src/modules/pages/components/RouteLayouts/SimpleNav/SimpleNav.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdown.css
Due: eslint --fix, stylelint --fix

Add: prettier config to gitignore
  .gitignore
Due: none

Add: Joined Colony List
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesDropdown.tsx
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css.d.ts
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.tsx
  src/modules/pages/components/RouteLayouts/Default/Default.tsx
Due: eslint --fix, stylelint --fix

Refactor: Extract ColonyHomeInfo for reuse in Members component
  src/modules/dashboard/components/ColonyHome/ColonyHomeInfo.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
Due: eslint --fix

Add: Mobile Responsive Members Component
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css.d.ts
  src/modules/core/components/MembersList/Actions/MemberActions.css
  src/modules/core/components/MembersList/Actions/MemberActions.css.d.ts
  src/modules/core/components/MembersList/Actions/MemberActions.tsx
  src/modules/core/components/MembersList/Actions/MemberActionsPopover.css
  src/modules/core/components/MembersList/Actions/MemberActionsPopover.css.d.ts
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/core/components/MembersList/MembersListItem.css.d.ts
  src/modules/core/components/MembersList/MembersListItem.tsx
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyHomeInfo.tsx
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.css.d.ts
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersSection.css
  src/modules/dashboard/components/Members/MembersSection.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.tsx
  src/modules/pages/components/RouteLayouts/Default/Default.css
  src/modules/pages/components/RouteLayouts/Default/Default.tsx
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Fix: UserInfo dropdown should have wallet address not colony
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopoverMobile.tsx
Due: eslint --fix

Add: Gas Station Popover (mobile)
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.css
  src/modules/users/components/GasStation/GasStationContent/GasStationContent.css.d.ts
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.css
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.css.d.ts
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.tsx
  src/modules/users/components/GasStation/GasStationPopover.tsx
Due: eslint --fix, stylelint --fix

Fix: squashed loader
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css.d.ts
Due: eslint --fix, stylelint --fix

Add: styling ProfileTemplate
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css.d.ts
  src/modules/users/components/UserProfile/UserMeta.tsx
Due: eslint --fix, stylelint --fix

Add: My Profile (mobile)
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.css
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.css.d.ts
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.tsx
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Fix: hide colony-specific menus
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.tsx
Due: eslint --fix

Fix: routeProps in UserLayout
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.tsx
Due: eslint --fix

Refactor: ColonyFundingMenu list item
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
Due: eslint --fix

Add: Mobile Responsive Funds Page
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css.d.ts
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css.d.ts
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.css
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.css.d.ts
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Refactor: Generalise `ColonyHomeLayout` grid
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
Due: stylelint --fix

Fix: spacing on small screens (< 350px)
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css
Due: stylelint --fix

Add: Mobile responsive Extensions page
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.css
  src/modules/dashboard/components/Extensions/ExtensionCard.css
  src/modules/dashboard/components/Extensions/ExtensionCard.css.d.ts
  src/modules/dashboard/components/Extensions/Extensions.css
  src/modules/dashboard/components/Extensions/Extensions.css.d.ts
Due: eslint --fix, stylelint --fix

Add: User Settings (mobile)
  src/modules/pages/components/ProfileTemplate/ProfileTemplate.css
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Fix: wrap very long colony name
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.css
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscription.css
  src/modules/dashboard/components/ColonyHome/ColonyTitle/ColonyTitle.css
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css
Due: stylelint --fix

Fix: updating selectors
  src/modules/core/components/InfoPopover/MemberInfoPopover/MemberInfoPopover.css
  src/modules/core/components/MembersList/Actions/MemberActions.css
  src/modules/core/components/MembersList/Actions/MemberActionsPopover.css
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.css
  src/modules/users/components/ConnectWalletWizard/ConnectWalletPopover/WalletPopoverTemplate.css
  src/modules/users/components/HamburgerDropdown/HamburgerDropdownPopover.css
Due: stylelint --fix

Add: Action Logs (mobile)
  src/modules/core/components/Comment/Dialogs/BanComment/BanComment.css
  src/modules/core/components/Comment/Dialogs/BanComment/BanComment.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Add: mobile styles
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.css
  src/modules/pages/components/WizardTemplateColony/WizardTemplateColony.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: Remove unused msg from GasStation
  src/modules/users/components/GasStation/GasStationHeader/GasStationHeader.tsx
Due: eslint --fix

Fix: funds styles when present
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css.d.ts
Due: eslint --fix, stylelint --fix

Add: Extensions details page on mobile
  src/modules/core/components/BreadCrumb/BreadCrumb.css
  src/modules/core/components/BreadCrumb/BreadCrumb.css.d.ts
  src/modules/core/components/BreadCrumb/SingleCrumb.tsx
  src/modules/core/components/MaskedAddress/MaskedAddress.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Whitelist/ColonyPolicySelector/ColonyPolicySelector.css
  src/modules/dashboard/components/Whitelist/ColonyPolicySelector/ColonyPolicySelector.css.d.ts
  src/styles/main.css
  src/styles/main.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: ColonySubscriptionInfoPopover placement
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
Due: eslint --fix

Add: 404 mobile styles
  src/modules/dashboard/components/FourOFour/FourOFour.css
  src/modules/dashboard/components/FourOFour/FourOFour.css.d.ts
Due: eslint --fix, stylelint --fix

Fix: memory leak in SubscribedColoniesList
  src/modules/dashboard/components/SubscribedColoniesList/SubscribedColoniesList.tsx
  src/modules/pages/components/RouteLayouts/Default/Default.tsx
  src/modules/pages/components/RouteLayouts/UserLayout/UserLayout.tsx
Due: eslint --fix

Add: style `/setup` route
  src/modules/dashboard/components/Extensions/ExtensionActionButton.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.css
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.css.d.ts
  src/utils/dom/index.ts
Due: eslint --fix, stylelint --fix

Add: '/connect'mobile styles
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/DecisionHub/DecisionOption.css.d.ts
  src/modules/pages/components/WizardTemplate/WizardTemplate.css
  src/modules/pages/components/WizardTemplate/WizardTemplate.css.d.ts
  src/modules/users/components/ConnectWalletWizard/StepGanache/StepGanache.css
  src/modules/users/components/ConnectWalletWizard/StepGanache/StepGanache.css.d.ts
  src/modules/users/components/ConnectWalletWizard/StepStart/StepStart.css
Due: eslint --fix, stylelint --fix

Fix: ConnectWalletPopover mobile alignment
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/users/components/ConnectWalletWizard/ConnectWalletPopover/ConnectWalletPopover.tsx
  src/modules/users/components/ConnectWalletWizard/ConnectWalletPopover/WalletPopoverTemplate.css
Due: eslint --fix, stylelint --fix

Add: mobile styles for '/wallet' route
  src/modules/dashboard/components/Wallet/Wallet.css
  src/modules/dashboard/components/Wallet/Wallet.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Add: inbox mobile styles
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css.d.ts
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css
  src/modules/users/components/Inbox/InboxContainer/InboxContainer.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Refactor: move shared styles into TokenCard component
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/TokenCard/TokenCard.css
  src/modules/dashboard/components/TokenCard/TokenCard.css.d.ts
  src/modules/dashboard/components/TokenCard/TokenCard.tsx
  src/modules/dashboard/components/TokenCardList/TokenCardList.css
  src/modules/dashboard/components/TokenCardList/TokenCardList.css.d.ts
Due: eslint --fix, stylelint --fix
