Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "src/**/*.{js,jsx,ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "cypress/**/*.ts": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.css": [
      "stylelint --fix",
      "git add"
    ]
  },
  "ignore": [
    "src/lib/colonyNetwork",
  ]
}

Sort tokens by `createdAt` (descending)
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Autofocus submit button in `ConfirmDialog`
  src/modules/core/components/Dialog/ConfirmDialog.tsx
Due: eslint --fix

Add initial suggestion dropdown menu
  src/modules/core/components/Button/Button.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.css.d.ts
  src/modules/users/components/AvatarDropdown/AvatarDropdownPopover.tsx
Due: eslint --fix, stylelint --fix

Fix conditional render for suggestion options
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Move create task cache update out of saga
  src/data/cacheUpdates.ts
  src/data/index.ts
  src/modules/dashboard/sagas/task.ts
Due: eslint --fix

Add suggestion status mutations
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/Suggestions/Suggestions.tsx
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Disable hiding of action menu button
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Use dots icon for action menu
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Remove suggestion from cache when deleting
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Add `Suggestions` to `ColonyHome`
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Filter suggestion by status
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.css.d.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/shared/suggestionFilter.ts
Due: eslint --fix, stylelint --fix

Add dep for intl-friendly numerical abbreviations
  package.json
  src/App.tsx
  yarn.lock
Due: eslint --fix

Add `AbbreviatedNumeral` core component
  src/modules/core/components/Numeral/AbbreviatedNumeral.tsx
  src/modules/core/components/Numeral/index.ts
Due: eslint --fix

Add `upvote` icon, more strict typings
  src/img/icons/upvote.svg
  src/modules/core/components/Button/IconButton.tsx
  src/modules/core/components/Icon/Icon.tsx
  src/modules/core/components/Icon/icons.json
Due: eslint --fix

Redirect user if profile is unclaimed
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

User suggestion upvote/un-upvoting
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.css
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.css.d.ts
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/index.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Improve typing
  src/modules/core/components/Numeral/AbbreviatedNumeral.tsx
Due: eslint --fix

Remove confirm dialog from suggestion create form
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix

Use history hook
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
Due: eslint --fix

Add `Button` to create suggestion form
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.css
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.css.d.ts
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
Due: eslint --fix, stylelint --fix

Rename icon more appropriately
  src/img/icons/caret-up-small.svg
  src/modules/core/components/Icon/icons.json
  src/modules/dashboard/components/SuggestionCreate/SuggestionCreate.tsx
  src/modules/dashboard/components/SuggestionUpvoteButton/SuggestionUpvoteButton.tsx
Due: eslint --fix

Add `Badge` core component
  src/modules/core/components/Badge/Badge.css
  src/modules/core/components/Badge/Badge.css.d.ts
  src/modules/core/components/Badge/Badge.tsx
  src/modules/core/components/Badge/index.ts
Due: eslint --fix, stylelint --fix

Add `Badge` & task link to suggestion
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.css.d.ts
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix, stylelint --fix

Reorder tabs
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Get `colonyName` from props
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Update suggestions list every 5 seconds
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Fix modify conditional render
  src/modules/dashboard/components/SuggestionsListItem/SuggestionsListItem.tsx
Due: eslint --fix

Fix token resolvers in queries and mutations
  src/data/generated.ts
  src/data/mutations.graphql
  src/data/queries.graphql
Due: eslint --fix

Fix token details nesting
  src/modules/dashboard/sagas/task.ts
  src/utils/external/index.ts
Due: eslint --fix

Update status change in apollo cache
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Update task created from suggestion in apollo cache
  src/data/cacheUpdates.ts
  src/modules/dashboard/components/SuggestionsList/SuggestionsList.tsx
Due: eslint --fix

Bump up RAM usage for production build
  package.json
Due: none

Upgrade IPFS to v0.40.0
  package.json
  src/context/ipfsNodeContext.ts
  src/lib/ipfs/IPFSNode.ts
  src/lib/ipfs/ipfsConfig.development.ts
  src/lib/ipfs/ipfsConfig.qa.ts
  src/lib/ipfs/types.ts
  yarn.lock
Due: eslint --fix

Remove superfluous packages
  package.json
  src/modules/core/components/Fields/Select/Select.tsx
  src/utils/hoc/index.ts
  src/utils/hoc/withImmutablePropsToJS.tsx
  yarn.lock
Due: eslint --fix

Add BundleAnalyzer plugin
  package.json
  webpack.dev.js
  yarn.lock
Due: none

Refactor: reverse sort notifications data
  src/modules/pages/components/NavigationWrapper/UserNavigation.tsx
  src/modules/users/components/Inbox/InboxFullscreen/InboxFullscreen.tsx
Due: eslint --fix

Fix: `UserListItem` prevent showing userInfo on avatar
  src/modules/admin/components/UserListItem/UserListItem.tsx
Due: eslint --fix

Fix: `Permissions` show permissions tip on non-root only
  src/modules/admin/components/Permissions/Permissions.tsx
Due: eslint --fix

Refactor: `UserList` properly control avatar `UserInfo`
  src/modules/admin/components/Permissions/Permissions.tsx
  src/modules/admin/components/UserList/UserList.tsx
  src/modules/admin/components/UserListItem/UserListItem.tsx
Due: eslint --fix

Fix: `ColonyHome` remove confusing comment
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix
