Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

fix:check for Decision before, extension
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: add decisions page route & its integration
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
  src/utils/hooks/useTitle.ts
Due: eslint --fix

Chore: update `ColonyDecisions` to fix rebase
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

Chore: update `ColonyDecisions` to fix rebase
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix, stylelint --fix

Feat: add `RemoveDraftDecisionDialog`
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.css
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.tsx
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/index.ts
Due: eslint --fix, stylelint --fix

Feat: add userAddress to draft decision local storage
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
  src/types/index.ts
Due: eslint --fix

Feat: add `DraftDecisionItem` to `ColonyDecisions`
  src/modules/core/components/ActionsList/index.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/index.ts
Due: eslint --fix, stylelint --fix

Feat: update `ActionsListItem` to accommodate draft decision types
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix

Refactor: update DecisionDialog props & functionality
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

Feat: add draft decision support to ActionsListItem
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/utils/colonyMotions.ts
Due: eslint --fix

Feat: add close to `ConfirmDeleteDialog`
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
Due: eslint --fix

Feat: add full UI & functionality to DraftDecisionListItem
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix

Feat: open dialog conditionally in `ColonyNewDecision`
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
Due: eslint --fix

Feat: add `ConfirmDeleteDialog`
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.css
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.css.d.ts
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `ConfirmDeleteDialog` to `PreviewDialog`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix, stylelint --fix

Refactor: fix typo in `StakingValidationError`
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
Due: eslint --fix

Feat: update props in `RemoveDraftDecisionDialog` to fix context problem
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.tsx
Due: eslint --fix

Refactor: fix keys for remove dialogs
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/Dialogs/RemoveDraftDecisionDialog/RemoveDraftDecisionDialog.tsx
Due: eslint --fix

Feat: add draft to no decisions state
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix, stylelint --fix

Refactor: fix types in `createDecisionMotion`
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
Due: eslint --fix

Refactor: remove `isNewDecision` prop from `DecisionDialog`
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/Dialogs/ConfirmDeleteDialog/ConfirmDeleteDialog.tsx
  src/modules/dashboard/components/Dialogs/DecisionDialog/DecisionDialog.tsx
Due: eslint --fix

Feat: combine draft decision state for the item to be deleted in the UI
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisionsWrapper.tsx
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
  src/modules/dashboard/components/ColonyDecisions/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
  src/modules/dashboard/components/ColonyNewDecision/ColonyNewDecision.tsx
Due: eslint --fix

Styles: change delete/edit button styles on decision preview page
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix, stylelint --fix

Chore: update `ColonyDecisions` to fix rebase
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
Due: eslint --fix, stylelint --fix

feat:add types for colony event metadata
  src/utils/eventMetadataParser/eventMetadataParser.ts
  src/utils/eventMetadataParser/types.ts
Due: eslint --fix

feat:add colony event metadata converter routines & types
  src/utils/eventMetadataHandler/eventMetaDataConverter.md
  src/utils/eventMetadataHandler/helper.ts
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/types.ts
  src/utils/eventMetadataParser/eventMetadataParser.ts
  src/utils/eventMetadataParser/types.ts
Due: eslint --fix

Feat: change button positioning in `DraftDecisionItem`
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/DraftDecisionItem/DraftDecisionItem.tsx
Due: eslint --fix, stylelint --fix

feat:updates to support V1 & V2 of event metadata format with IPFS
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/utils/uploadIfsWithFallback.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

feat:add yup parsing & validation
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/metadataValidation.ts
Due: eslint --fix

Feat:q:using `@colony/colony-event-metadata-parser`
  package-lock.json
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
  src/utils/eventMetadataHandler/eventMetaDataConverter.md
  src/utils/eventMetadataHandler/helper.ts
  src/utils/eventMetadataHandler/index.ts
  src/utils/eventMetadataHandler/metadataValidation.ts
  src/utils/eventMetadataHandler/types.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

chore:add @colony/colony-event-metadata-parser
  package-lock.json
  package.json
Due: none

fix:clean up code
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
  src/utils/events/index.ts
  src/utils/hooks/useUserAvatarImageFromIPFS.ts
Due: eslint --fix

chore:update `@colony/colony-event-metadata-parser` version
  package-lock.json
  package.json
Due: none

feat:update IPFS (up/down load) to use `@colony/colony-event-metadata-parser` funcs
  src/modules/dashboard/sagas/actions/createDomain.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/actions/editDomain.ts
  src/modules/dashboard/sagas/actions/manageReputation.ts
  src/modules/dashboard/sagas/actions/unlockToken.ts
  src/modules/dashboard/sagas/motions/createEditDomainMotion.ts
  src/modules/dashboard/sagas/motions/editColonyMotion.ts
  src/modules/dashboard/sagas/motions/manageReputationMotion.ts
  src/modules/dashboard/sagas/motions/stakeMotion.ts
  src/modules/dashboard/sagas/whitelist/manageVerifiedRecipients.ts
  src/modules/users/sagas/user.ts
Due: eslint --fix

fix:minor code clean up
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/utils/events/index.ts
Due: eslint --fix

fix:clean up extra/missing lines around imports
  package-lock.json
  package.json
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeedItemWithIPFS/ActionsPageFeedItemWithIPFS.tsx
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
  src/modules/dashboard/sagas/actions/createDomain.ts
  src/modules/dashboard/sagas/actions/editColony.ts
  src/modules/dashboard/sagas/actions/unlockToken.ts
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/dashboard/sagas/motions/createEditDomainMotion.ts
  src/modules/dashboard/sagas/utils/uploadIfpsAnnotation.ts
Due: eslint --fix

Refactor: remove leftover code from `useColonyMetadataChecks`
  src/modules/dashboard/hooks/useColonyMetadataChecks.ts
Due: eslint --fix

fix:add support for V2 metadata for `colonyActions`
  src/utils/colonyActions.ts
  src/utils/events/index.ts
Due: eslint --fix

fix: check for hash when getting colony avatar
  src/modules/dashboard/components/HookedColonyAvatar/HookedColonyAvatar.ts
Due: eslint --fix
