Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

added streaming context
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/RateItem.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleFundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/StreamingContext.ts
Due: eslint --fix

fixed displaying amount error
  src/modules/dashboard/components/ExpenditurePage/Streaming/RateItem/RateItem.tsx
Due: eslint --fix

fixed status
  src/modules/dashboard/components/Dialogs/EditExpenditureDialog/ChangedSplit/ChangedRecipient/ChangedRecipient.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleFundingSource.tsx
Due: eslint --fix

added active stream with funds to claim
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/constants.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix

added saving expenditure type in local storage
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix

added active motion
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
Due: eslint --fix

added stages section in straming payment type (UI only)
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
Due: eslint --fix

removed changes from different branches
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

function name fix
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

added limit
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

added streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/FundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/FundingSource/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Streaming.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/constants.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/index.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/types.ts
Due: eslint --fix, stylelint --fix

fixed displaying tokens
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
Due: eslint --fix

fixed styles
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
Due: stylelint --fix

moved 'Streaming' folder to 'Expenditures', renamed fundingSource to fundingSources
  src/modules/pages/components/ExpenditurePage/ExpenditureForm.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

added locked funding source
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
Due: eslint --fix

removed unnecessary files
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/index.ts
Due: eslint --fix, stylelint --fix

feat: message info on claim funds button click
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
Due: eslint --fix, stylelint --fix

added multiple tokens in streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
Due: eslint --fix, stylelint --fix

added validation schema
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
Due: eslint --fix

added multiple tokens
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.tsx
Due: eslint --fix

fix: merge changes from 3846-locked-funding-source
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Limit/Limit.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
Due: eslint --fix, stylelint --fix

feat: empty settings form for streaming payment
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

feat: funding error dots
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/useErrorFundingSourceField.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
Due: eslint --fix

feat: error dots
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/SingleRecipient/useErrorRecipientField.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
Due: eslint --fix

fixed styles
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
Due: eslint --fix

feat: trash icon and error dot styles adjustment
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
Due: eslint --fix

feat: add mock functionality
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/constants.ts
Due: eslint --fix

added Limit component
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

feat: insufficient funds - error for rate and limit
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedStreaming.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleLockedFunding.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/hooks.ts
Due: eslint --fix, stylelint --fix

fix: errror based on formik hook
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/SingleRecipient/useErrorRecipientField.ts
  src/modules/dashboard/components/ExpenditurePage/Staged/Staged.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/useErrorFundingSourceField.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
Due: eslint --fix

fix: fix ids names
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleLockedFunding.tsx
Due: eslint --fix

fix: order
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
Due: eslint --fix

Connect DatePicker to ExpenditureStreamingForm
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
Due: eslint --fix

fixed imports and ids
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.tsx
Due: eslint --fix

removed duplicated class
  src/modules/dashboard/components/ExpenditurePage/Streaming/FundingSource/FundingSource.css
Due: stylelint --fix

fixed type errors
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureBaseForm.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureStreamingForm.tsx
  src/modules/dashboard/components/ExpenditurePage/Staged/Staged.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/FormStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.css
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/FieldError.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/FieldError/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedStreaming.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/Rate.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Rate/index.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleLockedFunding.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.css
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.css.d.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/LockedSidebar.tsx
  src/modules/pages/components/ExpenditurePage/utils.ts
Due: eslint --fix, stylelint --fix

removed unnecessary variables
  src/modules/dashboard/components/ExpenditurePage/Streaming/Streaming.tsx
Due: eslint --fix

changed logic to check if team has enough funds
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/hooks.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/utils.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleLockedFunding.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/hooks.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/types.ts
Due: eslint --fix

changed insufficient funds errror
  src/modules/dashboard/components/ExpenditurePage/Stages/LockedStages.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/StreamingStagesLocked.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/utils.ts
  src/modules/dashboard/components/ExpenditurePage/Streaming/LockedFundingSource/LockedFundingSource.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/SingleLockedFunding.tsx
  src/modules/dashboard/components/ExpenditurePage/Streaming/hooks.ts
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
  src/modules/pages/components/ExpenditurePage/constants.ts
Due: eslint --fix

removed unnecessary files
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/constants.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/StreamingStages/StreamingStagesLocked/utils.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
