Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Added bar and background theme to ProgressBar
  src/modules/core/components/ProgressBar/ProgressBar.css
  src/modules/core/components/ProgressBar/ProgressBar.css.d.ts
  src/modules/core/components/ProgressBar/ProgressBar.tsx
Due: eslint --fix, stylelint --fix

Added icons for yes and no votes
  src/img/icons/circle-thumbs-down.svg
  src/img/icons/circle-thumbs-up.svg
Due: none

Updated VoteResultsWidget with max props
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.tsx
Due: eslint --fix

Added vote results widget icons to icons JSON file
  src/img/icons.json
Due: none

Updated approve/disapprove svg icons
  src/img/icons/circle-thumbs-down.svg
  src/img/icons/circle-thumbs-up.svg
Due: none

Added VoteResultsWidget component
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.css
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.tsx
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/index.ts
Due: eslint --fix, stylelint --fix

Refactored vote results widget icons
  src/img/icons/circle-thumbs-down.svg
  src/img/icons/circle-thumbs-up.svg
Due: none

Added css var in border radius of VoteResultsWidget
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.css
Due: stylelint --fix

Removed unnecessary message descriptors from VoteResultsWidget
  src/modules/dashboard/components/ActionsPage/VoteResultsWidget/VoteResultsWidget.tsx
Due: eslint --fix

Renamed Comment component to CommentInput
  src/modules/core/components/Comment/index.tsx
  src/modules/core/components/CommentInput/CommentInput.css
  src/modules/core/components/CommentInput/CommentInput.css.d.ts
  src/modules/core/components/CommentInput/CommentInput.tsx
  src/modules/core/components/CommentInput/index.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Renamed FeedItem to Comment
  src/modules/core/components/Comment/Comment.css
  src/modules/core/components/Comment/Comment.css.d.ts
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/Comment/index.ts
  src/modules/core/components/FeedItem/index.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultAction.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/RecoveryAction.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageFeed.tsx
  src/modules/dashboard/components/CoinMachine/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Added WIP baseline for motion and objection displays
  src/modules/core/components/ArgumentDisplay/ArgumentDisplay.css
  src/modules/core/components/ArgumentDisplay/ArgumentDisplay.tsx
  src/modules/core/components/ArgumentDisplay/index.ts
Due: eslint --fix, stylelint --fix

Added small size to Tag component
  src/modules/core/components/Tag/Tag.css
  src/modules/core/components/Tag/Tag.css.d.ts
  src/modules/core/components/Tag/Tag.tsx
Due: eslint --fix, stylelint --fix

Added Tag component to ArgumentDisplay
  src/modules/core/components/ArgumentDisplay/ArgumentDisplay.tsx
Due: eslint --fix

Improved styles for ArgumentDisplay
  src/modules/core/components/ArgumentDisplay/ArgumentDisplay.css
  src/modules/core/components/ArgumentDisplay/ArgumentDisplay.css.d.ts
Due: eslint --fix, stylelint --fix

Add: `ColonyManager` get `VotingReputation` client
  src/lib/ColonyManager/ColonyManager.ts
Due: eslint --fix

Add: `VotingReputation` static data
  src/data/staticData/extensionData.ts
Due: eslint --fix

Fix: `colonyExtensionEnable` saga
  src/i18n/en.json
  src/modules/dashboard/sagas/extensions.ts
Due: eslint --fix

Update: colonyJS to the v4 beta release
  package-lock.json
  package.json
Due: none

Create useEnabledExtensions hook to remove code repetition
  src/modules/core/components/Dialog/DialogSection.css
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix, stylelint --fix

Update dialog section heading theme
  src/modules/core/components/Dialog/DialogSection.css
Due: stylelint --fix

Add bool isVotingExtensionEnabled to ColonyHomeActions
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Bass bool flag to TokenMintDialogForm
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Update Toggle core component to support translations
  src/modules/core/components/Fields/Toggle/Toggle.tsx
Due: eslint --fix

Display Toggler component in TokenMintForm
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Hide permissions text in ManageFundsDialog for Mint token flow
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/ManageFundsDialog/ManageFundsDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
Due: eslint --fix

Create Dump MintTokenMotion component
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Create mint token motion message descriptors
  src/i18n/en-motions.ts
Due: eslint --fix

Create ColonyMotion enum
  src/App.tsx
  src/types/colonyMotions.ts
  src/types/index.ts
Due: eslint --fix

Export MintTokenMotion component
  src/modules/dashboard/components/ActionsPage/ActionsComponents/index.ts
Due: eslint --fix

Create redux action types for mint token motion
  src/redux/actionTypes.ts
Due: eslint --fix

Add MintTokenMotion component to ActionPage
  src/i18n/en-motions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/types/colonyMotions.ts
Due: eslint --fix

Add getUserLock resolver on User
  src/data/resolvers/user.ts
Due: eslint --fix

Add UserBalanceWithLock query and types
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
Due: eslint --fix

Add token activation button to UserNavigation
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Fetch userlock data
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Add nativeToken to userLock query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Do not show decimals if numbers larger then 5 figures
  src/modules/core/components/Numeral/Numeral.tsx
Due: eslint --fix

Add dot to button
  src/modules/pages/components/RouteLayouts/UserNavigation.css
  src/modules/pages/components/RouteLayouts/UserNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix, stylelint --fix

Display user balance
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
