Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Added SmallTokenAmountMessage component
  src/modules/users/components/TokenActivation/TokenActivationContent/SmallTokenAmountMessage.css
  src/modules/users/components/TokenActivation/TokenActivationContent/SmallTokenAmountMessage.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/SmallTokenAmountMessage.tsx
Due: eslint --fix, stylelint --fix

Updated formatting for staking slider amount
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Fixed StakingSlider crashing due to decimal values on bigNumberify
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Aded small token formatting to InputComponent's max button
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Added getFormattedTokenValue func to TotalStake components
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/SingleTotalStake.tsx
Due: eslint --fix

Fixed RaisedObjectionDialog having an incorrect decimalAmount stake
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

Refactor: `estimateGasCost` send tx after estimation
  src/immutable/Transaction.ts
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/users/components/GasStation/GasStationControls/GasStationControls.tsx
Due: eslint --fix

Refactor: `estimateGasCost` fixed gas prices only on local
  src/modules/core/sagas/transactions/estimateGasCost.ts
Due: eslint --fix

Refactor: `fetchGasPrices` to support xdai
  src/modules/core/sagas/transactions/estimateGasCost.ts
  src/modules/core/sagas/utils/getGasPrices.ts
Due: eslint --fix

Refactor: fix avatar count of memebers
  src/utils/hooks/useAvatarDisplayCounter.ts
Due: eslint --fix

Feat: add isLastAvatar arg & logic to `useAvatarDisplayCounter`
  src/utils/hooks/useAvatarDisplayCounter.ts
Due: eslint --fix

Feat: add isLastAvatar to `useAvatarDisplayCounter` in `ColonyMembers`
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Refactor: colony upgrade checkes
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/ColonyHome/ColonyFinishDeployment/ColonyFinishDeployment.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUpgrade/ColonyUpgrade.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Add: `oneTxMustBeUpgraded` check
  src/modules/dashboard/checks.ts
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/ExtensionUpgrade.tsx
Due: eslint --fix

Add: `ExtensionUpgrade` colony home component
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/ExtensionUpgrade.css
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/ExtensionUpgrade.css.d.ts
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/ExtensionUpgrade.tsx
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/index.ts
Due: eslint --fix, stylelint --fix

Add: `ExtensionUpgrade` load extension data
  src/modules/dashboard/components/ColonyHome/ExtensionUpgrade/ExtensionUpgrade.tsx
Due: eslint --fix

Add: `ColonyDomainSelector` disable if onetx needs upgrade
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.tsx
Due: eslint --fix

Add: `ColonyMembers` disable if onetx needs upgrade
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Add: `ColonyFundingMenu` disable if onetx needs upgrade
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
Due: eslint --fix

Add: `ColonyHomeActions` disable if onetx needs upgrade
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
Due: eslint --fix

Fix: `NetworkContractUpgradeDialogForm` imports
  src/modules/dashboard/components/NetworkContractUpgradeDialog/NetworkContractUpgradeDialogForm.tsx
Due: eslint --fix

Update: `colonyJS` to the latest stable release
  package-lock.json
  package.json
Due: none

Remove: xdai hardcoded reputation miner endpoint
  src/modules/core/sagas/utils/getNetworkClient.ts
Due: eslint --fix

Updated filled-circle-person icon
  src/img/icons/filled-circle-person.svg
Due: none

Updated size related styles of SingleUserPicker
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
Due: stylelint --fix

Updated isNil import on InputComponent
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Updated CreatePayment and PermissionManagement form validation schema
  src/modules/dashboard/components/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.tsx
Due: eslint --fix

Updated Input error state logic checks
  src/modules/core/components/Fields/Input/Input.tsx
Due: eslint --fix

Fixed conditional for showing errors on InputStatus
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
Due: eslint --fix

Improved error logic check on Input component
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/InputStatus/InputStatus.tsx
Due: eslint --fix

Add type field to extension init params
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Add enabledExtensionBody field to extensionData
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/WhitelistExtensionBody.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/index.tsx
Due: eslint --fix

Add colonyjs version which support Whitelist Extension
  package-lock.json
  package.json
Due: none

Fix enabledExtensionBody type
  src/data/staticData/extensionData.ts
Due: eslint --fix

Display info text in extension details
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix, stylelint --fix

Add translations for whitelist extension
  src/data/staticData/extensionData.ts
Due: eslint --fix

Update headline
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Add whitelist to extensionData
  src/data/staticData/extensionData.ts
Due: eslint --fix

Fixed styles of ActionsListItem
  src/modules/core/components/ActionsList/ActionsListItem.css
Due: stylelint --fix

Update colonyjs
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
