Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: Change alias handling and timings
  cypress/e2e/8-motions.js
  cypress/e2e/9-tokenActivation.js
Due: none

Removed leftover testing code from TransactionStatus
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
Due: eslint --fix

Fxided alignment of CreateDomainButton icon
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/CreateDomainButton.css
Due: stylelint --fix

Fixed alignment of subdomain icon
  src/modules/core/components/DomainDropdown/DomainDropdownItem.css
Due: stylelint --fix

Fix: remove extra space in motion tx details
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix, stylelint --fix

Fix: little extra type-safety
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Fix: display ActionsPageEvent permission labels
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Fix: add/correct permissions description messages
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix

Add: IconTooltip sizing
  src/modules/core/components/MembersList/MembersListItem.tsx
Due: eslint --fix

feat:add simple snackbar message
  src/modules/users/components/UserProfileEdit/UserProfileEdit.css
  src/modules/users/components/UserProfileEdit/UserProfileEdit.css.d.ts
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix, stylelint --fix

feat:Snackbar use error from `useEditUserMutation`, add protection to form button
  src/modules/core/components/Snackbar/Snackbar.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix

feat:add `snackbar` component, animate fade in/out
  src/modules/core/components/Snackbar/Snackbar.css
  src/modules/core/components/Snackbar/Snackbar.css.d.ts
  src/modules/core/components/Snackbar/Snackbar.tsx
  src/modules/core/components/Snackbar/index.ts
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix, stylelint --fix

fix:revise snackbar messages
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix

Feat: add react-popper-tooltip library
  package-lock.json
  package.json
Due: none

Feat: refactor Tooltips using new library
  src/modules/core/components/DecisionHub/DecisionOption.css
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
  src/modules/core/components/Fields/Toggle/Toggle.tsx
  src/modules/core/components/FileUpload/UploadItem.tsx
  src/modules/core/components/IconTooltip/IconTooltip.tsx
  src/modules/core/components/IndexModal/IndexModalItem.tsx
  src/modules/core/components/InfoPopover/InfoPopover.tsx
  src/modules/core/components/InvisibleCopyableAddress/InvisibleCopyableAddress.tsx
  src/modules/core/components/PermissionRequiredInfo/PermissionRequiredInfo.tsx
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
  src/modules/core/components/Popover/Popover.tsx
  src/modules/core/components/Popover/PopoverWrapper.tsx
  src/modules/core/components/Popover/Tooltip.css
  src/modules/core/components/Popover/Tooltip.css.d.ts
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/core/components/Popover/getPopoverArrowClasses.ts
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
  src/modules/core/components/UserAvatar/UserAvatar.tsx
  src/modules/core/components/UserMention/UserMention.tsx
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
  src/modules/dashboard/components/ActionsPage/StakeRequiredBanner/StakeRequiredBanner.tsx
  src/modules/dashboard/components/ActionsPage/TransactionStatus/TransactionStatus.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/components/Whitelist/WhitelistAddresses/WhitelistMembersListExtraContent.tsx
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/GasStation/MessageCard/MessageCardStatus.tsx
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
  src/modules/users/components/TokenActivation/TokensTab/TokenTooltip.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, stylelint --fix

Fix: add arrows to previously unarrowed tooltips
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix

Chore: rename all popperProps to popperOptions
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/core/components/Comment/Actions/CommentActions.tsx
  src/modules/core/components/Comment/Comment.tsx
  src/modules/core/components/DetailsWidgetUser/DetailsWidgetUser.tsx
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
  src/modules/core/components/Fields/Toggle/Toggle.tsx
  src/modules/core/components/IconTooltip/IconTooltip.tsx
  src/modules/core/components/InfoPopover/InfoPopover.tsx
  src/modules/core/components/Popover/Popover.tsx
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
  src/modules/core/components/UserAvatar/UserAvatar.tsx
  src/modules/core/components/UserMention/UserMention.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/GroupedTotalStake.tsx
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteDetails.tsx
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyHome/ColonySubscription/ColonySubscriptionInfoPopover.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFundsPopover.tsx
  src/modules/dashboard/components/Dialogs/PermissionManagementDialog/PermissionManagementCheckbox.tsx
  src/modules/dashboard/components/Vesting/ClaimTokensPage.tsx
  src/modules/dashboard/components/Vesting/UnwrapTokensPage.tsx
  src/modules/users/components/AvatarDropdown/AvatarDropdown.tsx
  src/modules/users/components/ConnectWalletWizard/ConnectWalletPopover/ConnectWalletPopover.tsx
  src/modules/users/components/GasStation/GasStationPopover.tsx
  src/modules/users/components/Inbox/InboxPopover/InboxPopover.tsx
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
  src/modules/users/components/TokenActivation/TokensTab/SmallTokenAmountMessage.tsx
  src/modules/users/components/TokenActivation/TokensTab/TokenTooltip.tsx
Due: eslint --fix

Chore: correct link for popper options
  src/modules/core/components/Fields/Checkbox/Checkbox.tsx
  src/modules/core/components/Fields/Toggle/Toggle.tsx
  src/modules/core/components/IconTooltip/IconTooltip.tsx
  src/modules/core/components/Popover/Popover.tsx
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
Due: eslint --fix

Fix: make various PermissionsLabels UI correct
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css.d.ts
  src/modules/core/components/Popover/Tooltip.tsx
  src/modules/dashboard/components/Dialogs/RecoveryModeDialog/RecoveryModeDialogForm.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/UserPermissions/UserPermissions.css
Due: eslint --fix, stylelint --fix

Fix: remove padding from PermissionsLabel tooltips
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css.d.ts
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
Due: eslint --fix, stylelint --fix

Fix: correct Tooltip offset in IconTooltip
  src/modules/core/components/IconTooltip/IconTooltip.css
  src/modules/core/components/IconTooltip/IconTooltip.css.d.ts
  src/modules/core/components/IconTooltip/IconTooltip.tsx
  src/modules/core/components/Popover/Tooltip.css
Due: eslint --fix, stylelint --fix

Fix: better positioning of Tooltip
  src/modules/core/components/Popover/Tooltip.css
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, stylelint --fix

Fix: remove extra padding from various Tooltips
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.css
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/TotalStakeWidget/TotalStakeWidget.css
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.css
Due: eslint --fix, stylelint --fix

Fix: make tooltips in transactions log items sane
  src/modules/core/components/Popover/Tooltip.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix, stylelint --fix

Chore: remove redundant props from Tooltips
  src/modules/core/components/PermissionRequiredInfo/PermissionRequiredInfo.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
  src/modules/users/components/GasStation/MessageCard/MessageCardStatus.tsx
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.css
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.css.d.ts
  src/modules/users/components/GasStation/TransactionCard/GroupedTransactionCard.tsx
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix, stylelint --fix

Fix: clean QuestionMarkTooltip hack in CoinMachine
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidgets/RemainingDisplayWidget.css
Due: eslint --fix, stylelint --fix

Fix: match spec for PermissionsLabel Tooltip width
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css
  src/modules/core/components/PermissionsLabel/PermissionsLabel.css.d.ts
  src/modules/core/components/PermissionsLabel/PermissionsLabel.tsx
Due: eslint --fix, stylelint --fix

Fix: toolip fontsize in UserTokenActivationButton
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.css
Due: stylelint --fix

Fix: reduce tooltips font size and line-height
  src/modules/core/components/Popover/Tooltip.css
Due: stylelint --fix

Feat: modify Tooltip docs
  src/modules/core/components/Popover/Tooltip.md
  src/modules/core/components/Popover/Tooltip.tsx
Due: eslint --fix

Fix: correct fontsize in TransactionStatus Tooltip
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.css.d.ts
  src/modules/users/components/GasStation/TransactionCard/TransactionStatus.tsx
Due: eslint --fix, stylelint --fix

Fix: show tooltips in TransactionStatus components
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPageFeed/ActionsPageSystemMessage/ActionsPageSystemMessage.tsx
Due: eslint --fix

Update: colonyJS to latest v4 branch release candidate
  package-lock.json
  package.json
Due: none

Update: `colonyNetwork` submodule to the `flwss` release
  package-lock.json
Due: none

Update: `SubgraphEventsThatAreActions` subscription
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
Due: eslint --fix

Bump: version to next patch: 4.5.1
  package-lock.json
  package.json
Due: none

fix:clean up titles & descriptions
  src/modules/dashboard/components/Dialogs/ManageReputationDialog/ManageReputationDialog.tsx
Due: eslint --fix

feat:add entry for reputation & smite
  src/modules/externalUrls.ts
Due: eslint --fix
