Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Updated caret-down-small and caret-up-small icons
  src/img/icons/caret-down-small.svg
  src/img/icons/caret-up-small.svg
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.css.d.ts
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/core/components/SingleUserPicker/SingleUserPicker.css
  src/modules/dashboard/components/ColonyHome/ColonyDomainSelector/ColonyDomainSelector.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
Due: eslint --fix, stylelint --fix

Renamed role sorting methods to more appropiate names
  src/modules/core/components/MembersList/SortingRow/SortingRow.tsx
  src/modules/dashboard/hooks/useColonyMembersSorting.ts
Due: eslint --fix

Added user reputation to contributors data
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colony.ts
  src/data/resolvers/user.ts
Due: eslint --fix

Updated useColonyMembersSorting hook
  src/data/resolvers/colony.ts
  src/modules/dashboard/components/Members/MembersSection.tsx
  src/modules/dashboard/hooks/useColonyMembersSorting.ts
Due: eslint --fix

Adjusted caret icon size on select and alignment
  src/modules/core/components/Fields/Select/Select.css
  src/modules/dashboard/components/Dialogs/EditDomainDialog/EditDomainDialogForm.tsx
  src/modules/users/components/ConnectWalletWizard/StepGanache/StepGanache.css
Due: eslint --fix, stylelint --fix

Added dynamic native token decimals to MemberReputation
  src/modules/core/components/MemberReputation/MemberReputation.tsx
  src/modules/core/components/MembersList/MembersListItem.tsx
Due: eslint --fix

Updated caret-up and caret-down icons with lighter versions
  src/img/icons.json
  src/img/icons/caret-down-small.svg
  src/img/icons/caret-down.svg
  src/img/icons/caret-up-small.svg
  src/img/icons/caret-up.svg
Due: none

Removed unused props from caret SVGs
  src/img/icons/caret-down.svg
  src/img/icons/caret-up.svg
  src/modules/core/components/Fields/Select/Select.css
Due: stylelint --fix

Made an attempt of a solution to fix caret alignment on some Select
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
Due: stylelint --fix

Updated Select component test snapshot
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
Due: none

Added useColonyMembersSorting
  src/modules/dashboard/hooks/useColonyMembersSorting.ts
Due: eslint --fix

Updated places where the updated caret icons are used
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/__tests__/__snapshots__/Select.test.tsx.snap
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.tsx
  src/modules/core/components/SingleUserPicker/SingleUserPicker.tsx
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/dashboard/components/MotionDomainSelect/MotionDomainSelect.tsx
Due: eslint --fix, stylelint --fix

Refactor: update members page subdomain view
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersTitle.tsx
Due: eslint --fix

Fixed misalignment of caret icons in Selects
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/dashboard/components/ColonyActions/ColonyActions.css
  src/modules/users/components/ConnectWalletWizard/StepGanache/StepGanache.css
Due: stylelint --fix

Added toggling color to sorting row icons
  src/modules/core/components/MembersList/SortingRow/SortingRow.css
  src/modules/core/components/MembersList/SortingRow/SortingRow.css.d.ts
  src/modules/core/components/MembersList/SortingRow/SortingRow.tsx
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix, stylelint --fix

Changed role sorting to be by number of roles
  src/modules/dashboard/hooks/useColonyMembersSorting.ts
Due: eslint --fix

Feat: add filters as passed props across members page
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/index.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Refactor: remove `bannedUsers` from `Members` component
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: add `MembersFilters` ui & form
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/index.ts
Due: eslint --fix, stylelint --fix

Refactor: update `ColonyMembers` based on rebase
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Feat: make reset button conditional in MembersFilters
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
Due: eslint --fix, stylelint --fix

Feat: add `isRoot` prop to `MembersFilters`
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
Due: eslint --fix

Refactor: fis the jumping width on members page
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/dashboard/components/Members/MembersTitle.css
Due: stylelint --fix

Feat: show invite link only in root domain
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
Due: eslint --fix

Styles: fix the width of the watchers list item on memebers page
  src/modules/core/components/MembersList/MembersListItem.css
Due: stylelint --fix

Refactor: fix members filtering logic
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix

Feat: add subdomain view for the filters on members page
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
Due: eslint --fix

Refactor: fix filters & search combinaiton & no members value
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: add scrollIntoView to the last member filter select
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
Due: eslint --fix, stylelint --fix

Feat: change filters from checkboxes to select fields
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
  src/modules/dashboard/components/ColonyMembers/MembersFilter/index.ts
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix, stylelint --fix

Refactor: extract user controls to separate component
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MemberControls/MemberControls.tsx
  src/modules/dashboard/components/ColonyMembers/MemberControls/index.ts
Due: eslint --fix

Feat: add contributors & watchers filters to `Members`
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: add checkbox filters logic to `filterMembers` helper
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix

Refactor: update tooltip posiiton for `MembersListItem`
  src/modules/core/components/MembersList/MembersListItem.css
Due: stylelint --fix

Refactor: update html structure in `MemberFilters
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersFilter/MembersFilter.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `MembersListItem` tooltip css
  src/modules/core/components/MembersList/MembersListItem.css
Due: stylelint --fix

Update: `TRANSACTION_METHODS` enum
  src/immutable/Transaction.ts
Due: eslint --fix

Update: `isMetatransactionErrorFromColonyContract` method
  src/utils/web3/index.ts
Due: eslint --fix

Update: `ExtendedClientType` with light token client
  src/types/index.ts
Due: eslint --fix

WIP: EIP2612 "metatransactions" paths branching
  src/modules/core/sagas/transactions/sendTransaction.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
