Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Added RemainingDisplayWidget component
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
Due: eslint --fix, stylelint --fix

Fixed background color of table
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
Due: stylelint --fix

Fixed style of TokenSalesTable
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
Due: eslint --fix, stylelint --fix

Updated ids of RemainingDisplayWidget messages
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Added useSplitTime util hook
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Added copy for tokens remaining tooltip
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Updated RemainingDisplayWidget styles
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix, stylelint --fix

Fixed TimerValue crashing due to timer running out
  src/utils/components/TimerValue.tsx
Due: eslint --fix

Updated question-mark-inverted icon
  src/img/icons/question-mark-inverted.svg
Due: none

Moved widget texts from CoinMachine to the widget itself
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
Due: eslint --fix, stylelint --fix

Integrated TimerValue into CountDownTimer
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Fixed danger theme not getting all the background color of container
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
Due: stylelint --fix

Fixed brackground color of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
Due: stylelint --fix

Regenerate: graphql hooks after rebase
  src/data/generated.ts
Due: eslint --fix

Integrated useSplitTimer hook into RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix, stylelint --fix

Fixed displayName of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Integrated useSplitTime hook into SaleStateWidget
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Refactor: remove `BuyWidget` as contents moved to `BuyTokens`
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.tsx
  src/modules/dashboard/components/CoinMachine/BuyWidget/index.tsx
Due: eslint --fix, stylelint --fix

Feat: add `BuyWidget` html, css & contents
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.tsx
  src/modules/dashboard/components/CoinMachine/BuyWidget/index.tsx
Due: eslint --fix, stylelint --fix

Add whitelistAddress to initialValues if whitelist enabled
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Added CompleteKYCDialog component
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.css
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.css.d.ts
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.tsx
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/index.ts
Due: eslint --fix, stylelint --fix

Add isWhitelistExtensionEnabled flag to useEnabledExtensions hook
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix

Return whitelist address
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix

Feat: add the non-sale state to `BuyTokens` component
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix, stylelint --fix

Refactor: remove leftover code
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
Due: stylelint --fix

Add missing dependencies to useMemo
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Refactor: remove network-only policy from query, update isSignable prop
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.tsx
Due: eslint --fix

WIP: temporary test - add auto open of `AgreementModal` to `CoinMachine`
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Create whitelist policy resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/whitelist.ts
Due: eslint --fix

Wire in logic for displaying get whitelisted button
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Feat: extend `AgreementDialog` for signing functionality
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementContainer.tsx
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css.d.ts
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.tsx
Due: eslint --fix, stylelint --fix

Refetch queries whitelistPolicy queries after updating whitelist
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/sagas/extensions/updateWhitelist.ts
Due: eslint --fix

Added period refreshing on useSplitTime hook
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Added logic for valueWarning and danger styles of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Simplified conditional for value warning in RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Integrated CoinMachinePeriodTimeRemaining query with CoinMachine
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Updated fetch-policy of coin machine sale period query
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Added CoinMachinePeriodTimeRemaining local query
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Updated conditional for value warning in time remaining widget
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Add coin machine transaction query
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
Due: eslint --fix
