Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fixed conditional of early return in filterUserSelection
  src/modules/core/components/SingleUserPicker/utils.ts
Due: eslint --fix

Refactor: update motion i18n file
  cypress/e2e/8-motions.js
  src/i18n/en-motions.ts
Due: eslint --fix

Refactor: update `editTeam` command
  cypress/support/commands.js
Due: none

Feat: make transactions log look compact
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix, stylelint --fix

Feat: add actions link in transaction logs view
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
Due: eslint --fix, stylelint --fix

Fix: font sizes/weights in actions and events view
  src/modules/dashboard/components/ColonyActions/ColonyActions.css
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css
Due: stylelint --fix

Fix: center Select component correctly
  src/modules/core/components/Fields/Select/Select.css
Due: stylelint --fix

Feat: change Events page title to Transactions Log
  src/utils/hooks/useTitle.ts
Due: eslint --fix

Fix: remove Events page nav link from main view
  src/modules/dashboard/components/ColonyHome/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Refactor: update motions tests
  cypress/e2e/8-motions.js
Due: none

Refactor: update createColony & actions tests
  cypress/e2e/2-createColony.js
  cypress/e2e/3-actions.js
Due: none

Refactor: update makePayment cypress command
  cypress/support/commands.js
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Updated config.yml
  .circleci/config.yml
Due: none

Refactor: fix the UserCheckbox default values
  src/modules/core/components/UserCheckbox/UserCheckbox.tsx
Due: eslint --fix

fix:override some `Toastify` css
  src/modules/core/components/toast/toast.css
  src/modules/core/components/toast/toast.tsx
Due: eslint --fix, stylelint --fix

feat:add support for `SimpleMessageValues` to toast
  src/modules/core/components/toast/toast.tsx
  src/modules/users/sagas/user.ts
Due: eslint --fix

Fix: match spec for various UI components
  src/modules/dashboard/components/ColonyActions/ColonyActions.css
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.css
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix, stylelint --fix

fix:use/add generic css variables
  src/modules/core/components/toast/toast.css
  src/styles/variables.css
Due: stylelint --fix

feat:filter recipients to pay, show warning for unverified addresses
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.css
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix, stylelint --fix

fix:update warning message
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
Due: eslint --fix

fix:remove extra queries to get whitelist
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
Due: eslint --fix

Update UnclaimedTransfers components UI styles
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css.d.ts
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, stylelint --fix

Move incoming funds section from event list to funds page
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Add ManageWhitelist modal to UAC items
  src/img/icons.json
  src/img/icons/emoji-whitelist.svg
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/Dialogs/AdvancedDialog/AdvancedDialog.tsx
Due: eslint --fix

Feat: add verified icon to MembersListItem
  src/modules/core/components/MembersList/MembersListItem.css
  src/modules/core/components/MembersList/MembersListItem.css.d.ts
  src/modules/core/components/MembersList/MembersListItem.tsx
Due: eslint --fix, stylelint --fix

Add ManageWhitelist modal
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/index.ts
Due: eslint --fix, stylelint --fix

Add tabs to ManageWhitelist modal
  src/modules/dashboard/components/Dialogs/AdvancedDialog/AdvancedDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
Due: eslint --fix, stylelint --fix

Added ConfusableWarning component
  src/modules/core/components/ConfusableWarning/ConfusableWarning.css
  src/modules/core/components/ConfusableWarning/ConfusableWarning.css.d.ts
  src/modules/core/components/ConfusableWarning/ConfusableWarning.tsx
  src/modules/core/components/ConfusableWarning/index.ts
Due: eslint --fix, stylelint --fix

Added unicode-confusables package
  package-lock.json
  package.json
Due: none

Integrated ConfusableWarning with Payment dialog and UserProdileEdit
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialog.tsx
  src/modules/dashboard/components/Dialogs/CreatePaymentDialog/CreatePaymentDialogForm.tsx
  src/modules/users/components/UserProfileEdit/UserProfileEdit.tsx
Due: eslint --fix

Added ManageWhitelistActiveToggle component
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistActiveToggle.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
Due: eslint --fix, stylelint --fix

Added to Toggle tooltip classname prop and updated styles
  src/modules/core/components/Fields/Toggle/Toggle.css
  src/modules/core/components/Fields/Toggle/Toggle.css.d.ts
  src/modules/core/components/Fields/Toggle/Toggle.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialog.tsx
Due: eslint --fix, stylelint --fix

Removed margin bottom from reputation container of ConfusableWarning
  src/modules/core/components/ConfusableWarning/ConfusableWarning.css
Due: stylelint --fix

Added overflow enabled mode to Dialog component
  src/modules/core/components/Dialog/Dialog.css
  src/modules/core/components/Dialog/Dialog.css.d.ts
  src/modules/core/components/Dialog/Dialog.tsx
Due: eslint --fix, stylelint --fix

Added ConfusableWarning to StepUserName
  src/modules/dashboard/components/CreateColonyWizard/StepUserName.tsx
  src/modules/dashboard/components/CreateUserWizard/StepUserName.tsx
Due: eslint --fix

Added alternate copy for ConfusableWarning
  src/modules/core/components/ConfusableWarning/ConfusableWarning.tsx
Due: eslint --fix

Updated styles of tooltip in ManageWhitelistDialogForm
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.css
Due: stylelint --fix

Removed possible cause for mis-alignment of Icons across OS
  src/modules/core/components/Icon/Icon.css
Due: stylelint --fix

Renamed whitelistStatusValue to isWhitelistActivated
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistActiveToggle.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialog.tsx
  src/modules/dashboard/components/Dialogs/ManageWhitelistDialog/ManageWhitelistDialogForm.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
