Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactored: `transaction` resolver fetching of the tx
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
  src/utils/web3/index.ts
Due: eslint --fix

Remove: unused `web3` util
  src/utils/web3/index.ts
Due: eslint --fix

Add: `transaction` resolver get pending status
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Revert: erroneous `ColonyNavigation` changes
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
Due: eslint --fix

Fix: `TransactionHash` show proper status in meta
  src/modules/dashboard/components/ActionsPage/TransactionHash/TransactionHash.tsx
Due: eslint --fix

Fix: cleanup `naked-mole-rat` svgs
  src/img/naked-mole-404.svg
  src/img/naked-mole.svg
Due: none

Fix: `ActionsPage` display proper `TransactionHash`
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Fix: `TransactionMeta` don't show status for succeeded
  src/modules/dashboard/components/ActionsPage/TransactionMeta/TransactionMeta.tsx
Due: eslint --fix

Add: `transaction` resolver fetch block time
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/transactions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/TransactionHash/TransactionHash.tsx
  src/modules/dashboard/components/ActionsPage/TransactionMeta/TransactionMeta.tsx
Due: eslint --fix

Add `SubscribedColonies` and `ColonyNavigation` components
  src/modules/pages/components/RouteLayouts/ColonyNavigation.css
  src/modules/pages/components/RouteLayouts/ColonyNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/ColonyNavigation.tsx
  src/modules/pages/components/RouteLayouts/SubscribedColonies.css
  src/modules/pages/components/RouteLayouts/SubscribedColonies.css.d.ts
  src/modules/pages/components/RouteLayouts/SubscribedColonies.tsx
  src/modules/pages/components/RouteLayouts/index.ts
Due: eslint --fix, stylelint --fix

Add `ColonyFunding` component
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css.d.ts
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyFunding/index.ts
Due: eslint --fix, stylelint --fix

Improve layout
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/pages/components/RouteLayouts/SubscribedColonies.css
Due: stylelint --fix

Add new funding route, reorganize adjacent components
  src/modules/admin/components/Tokens/TokenMintDialog.tsx
  src/modules/admin/components/Tokens/TokenMintForm.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.css.d.ts
  src/modules/dashboard/components/ColonyTotalFunds/ColonyTotalFunds.tsx
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix, stylelint --fix

Reorganize token components
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
  src/modules/admin/components/Tokens/Tokens.css
  src/modules/admin/components/Tokens/Tokens.css.d.ts
  src/modules/admin/components/Tokens/Tokens.tsx
  src/modules/admin/components/Tokens/index.ts
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css.d.ts
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.css.d.ts
  src/modules/dashboard/components/ColonyFundingBanner/ColonyFundingBanner.tsx
  src/modules/dashboard/components/ColonyFundingBanner/index.ts
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.css
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.css.d.ts
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyFundingMenu/index.ts
  src/modules/dashboard/components/TokenCard/TokenCard.css
  src/modules/dashboard/components/TokenCard/TokenCard.css.d.ts
  src/modules/dashboard/components/TokenCard/TokenCard.tsx
  src/modules/dashboard/components/TokenCard/index.ts
  src/modules/dashboard/components/TokenCardList/TokenCardList.css
  src/modules/dashboard/components/TokenCardList/TokenCardList.css.d.ts
  src/modules/dashboard/components/TokenCardList/TokenCardList.tsx
  src/modules/dashboard/components/TokenCardList/index.ts
  src/modules/dashboard/components/Wallet/Wallet.tsx
Due: eslint --fix, stylelint --fix

Fix domain dropdown
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Rebase Fix: remove `SubscribedColonies` route layout
  src/modules/pages/components/RouteLayouts/SubscribedColonies.css
  src/modules/pages/components/RouteLayouts/SubscribedColonies.css.d.ts
  src/modules/pages/components/RouteLayouts/SubscribedColonies.tsx
  src/modules/pages/components/RouteLayouts/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Add `justification` to action types
  src/modules/admin/sagas/index.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

Rebase Fix: `TransferFundsDialog` import
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Rebase Fix: `ColonyHome` layout
  src/modules/admin/components/Tokens/index.ts
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css.d.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

Rebase Fix: move token dialogs to `dashboard` module
  src/modules/admin/components/Tokens/index.ts
  src/modules/dashboard/components/ColonyTokenEditDialog/ColonyTokenEditDialog.tsx
  src/modules/dashboard/components/ColonyTokenEditDialog/index.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.css
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.css.d.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintForm.tsx
  src/modules/dashboard/components/TokenMintDialog/index.ts
Due: eslint --fix, stylelint --fix

Fix: `TokenMintDialog` styles
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.css
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.css.d.ts
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
Due: eslint --fix, stylelint --fix

Rebase Fix: `ColonyFundingMenu` fix imports
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
Due: eslint --fix

Fix: `ColonyFunding` styles and alignment
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.css
  src/modules/dashboard/components/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix, stylelint --fix

Rebase Fix: `ColonyInitialFunding` imports
  src/modules/dashboard/components/ColonyHome/ColonyInitialFunding/ColonyInitialFunding.tsx
Due: eslint --fix

Remove: un-needed `ColonyNavigation` route layout
  src/modules/pages/components/RouteLayouts/ColonyNavigation.css
  src/modules/pages/components/RouteLayouts/ColonyNavigation.css.d.ts
  src/modules/pages/components/RouteLayouts/ColonyNavigation.tsx
Due: eslint --fix, stylelint --fix

Fix: `TokenCard` symbol styles
  src/modules/dashboard/components/TokenCard/TokenCard.css
Due: stylelint --fix

Fix: `TokenMintDialog` button text values
  src/modules/dashboard/components/TokenMintDialog/TokenMintDialog.tsx
Due: eslint --fix

Fix: `ColonyFundingMenu` show items as disabled
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
Due: eslint --fix

Create ActionPageEvent component
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/index.ts
Due: eslint --fix

Add ActionPageFeedItem component with styles
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageFeedItem/ActionsPageFeedItem.css
  src/modules/dashboard/components/ActionsPage/ActionsPageFeedItem/ActionsPageFeedItem.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionsPageFeedItem/ActionsPageFeedItem.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageFeedItem/index.ts
Due: eslint --fix, stylelint --fix

Added styles for ActionPageEvent with mocked data
  src/modules/admin/components/Permissions/UserPermissions.css
  src/modules/admin/components/Permissions/UserPermissions.css.d.ts
  src/modules/admin/components/Permissions/UserPermissions.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.tsx
Due: eslint --fix, stylelint --fix

Add PaymentDialog component
  src/modules/dashboard/components/PaymentDialog/PaymentDialog.tsx
  src/modules/dashboard/components/PaymentDialog/index.ts
Due: eslint --fix

Move UserPermissions component to dashboard
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/UserPermissions/UserPermissions.css
  src/modules/dashboard/components/UserPermissions/UserPermissions.css.d.ts
  src/modules/dashboard/components/UserPermissions/UserPermissions.tsx
  src/modules/dashboard/components/UserPermissions/index.ts
Due: eslint --fix, stylelint --fix

Remove fixed width
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Add margin to items
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.css
  src/modules/dashboard/components/ActionsPage/ActionsPageEvent/ActionsPageEvent.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPageFeedItem/ActionsPageFeedItem.css
Due: eslint --fix, stylelint --fix

Moved ColonyPermissionEditDialog to dashboard and renamed it to PermissionManagementDialog
  src/modules/admin/components/Permissions/ColonyPermissionsAddDialog.tsx
  src/modules/admin/components/Permissions/Permissions.tsx
  src/modules/admin/components/Permissions/index.ts
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.css
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.css.d.ts
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.css
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.css.d.ts
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementForm.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionsManagementDialog.css.d.ts
  src/modules/dashboard/components/PermissionManagementDialog/constants.ts
  src/modules/dashboard/components/PermissionManagementDialog/index.ts
Due: eslint --fix, stylelint --fix

Added css var to permissionChoice classname
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.css
Due: stylelint --fix

Added changes to permission management modal to improve code quality
  src/modules/admin/components/Permissions/Permissions.tsx
  src/modules/admin/components/Permissions/index.ts
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
  src/modules/dashboard/components/ColonyPermissionsAddDialog/ColonyPermissionsAddDialog.tsx
  src/modules/dashboard/components/ColonyPermissionsAddDialog/index.ts
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.css
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.css
  src/modules/dashboard/components/PermissionManagementDialog/index.ts
Due: eslint --fix, stylelint --fix

Fixed tooltip positions of permission management checkbox
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementCheckbox.tsx
Due: eslint --fix

Fixed lint errors due to subscribedUsers being undefined
  src/modules/dashboard/components/ColonyNavigation/ColonyNavigation.tsx
  src/modules/dashboard/components/PermissionManagementDialog/PermissionManagementDialog.tsx
Due: eslint --fix
