Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Fix some displayNames
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Fix required steps label mess
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Replace: all instances with `DEFAULT_TOKEN_DECIMALS`
  src/modules/admin/components/Tokens/TokenCard.tsx
  src/modules/admin/components/Tokens/TokenMintDialog.tsx
  src/modules/admin/components/Tokens/TokenMintForm.tsx
  src/modules/admin/components/Tokens/TokensMoveDialog.tsx
  src/modules/admin/components/Tokens/TokensMoveDialogForm.tsx
  src/modules/core/components/EthUsd/EthUsd.tsx
  src/modules/core/components/TransactionList/TransactionListItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyFunding/TokenItem.tsx
  src/modules/dashboard/components/ColonyHome/ColonyInitialFunding/ColonyInitialFunding.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedCompleteInfo.tsx
  src/modules/dashboard/components/TaskFeed/TaskFeedEvent.tsx
  src/modules/dashboard/components/TaskFinalize/TaskFinalize.tsx
  src/modules/dashboard/sagas/colonyCreate.ts
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix

Refactor: `InputComponent` useMemo on heavy key stringify
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix

Improve InfoPopover conditional rendering
  src/modules/core/components/InfoPopover/InfoPopover.tsx
  src/modules/core/components/InfoPopover/TokenInfoPopover.tsx
  src/modules/core/components/InfoPopover/UserInfoPopover.tsx
Due: eslint --fix

Add: `Inbox` handle remove task payout event types
  src/modules/users/components/Inbox/events.ts
  src/modules/users/components/Inbox/messages.ts
Due: eslint --fix

Fix: `InboxItem` properly handle token value amounts
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix

Add UserBadges query
  src/data/generated.ts
  src/data/queries.graphql
Due: eslint --fix

Add user badges to UserInfoPopover
  src/modules/core/components/InfoPopover/InfoPopover.css
  src/modules/core/components/InfoPopover/InfoPopover.css.d.ts
  src/modules/core/components/InfoPopover/UserInfoPopover.tsx
Due: eslint --fix, stylelint --fix

Add `createLevelTask` mutation
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Make `DottedAddButton` a core variation of `Button`
  src/modules/core/components/Button/DottedAddButton.css
  src/modules/core/components/Button/DottedAddButton.css.d.ts
  src/modules/core/components/Button/DottedAddButton.tsx
  src/modules/core/components/Button/index.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
Due: eslint --fix, stylelint --fix

Add additional level & persistent task queries
  src/data/generated.ts
  src/data/index.ts
  src/data/queries.graphql
Due: eslint --fix

Add create level task cache update fn
  src/data/cacheUpdates.ts
Due: eslint --fix

Sort imports
  src/data/cacheUpdates.ts
Due: eslint --fix

Add level tasks edit
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/index.ts
Due: eslint --fix, stylelint --fix

Add styles for grey `colorSchema`
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.css.d.ts
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.css.d.ts
  src/modules/core/components/Fields/Select/types.ts
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/core/components/Fields/Textarea/Textarea.css.d.ts
  src/modules/core/components/Fields/Textarea/Textarea.tsx
Due: eslint --fix, stylelint --fix

Remove `Input` style from `Button`
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Edit level tasks
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Remove level tasks
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Open newly created persistent task in edit state
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
Due: eslint --fix

Improve vertical margins
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
Due: eslint --fix, stylelint --fix

Handle less-wide sections
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Persistent task payouts
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css
  src/modules/core/components/Fields/AmountTokens/AmountTokens.css.d.ts
  src/modules/core/components/Fields/AmountTokens/AmountTokens.tsx
  src/modules/core/components/Fields/AmountTokens/index.ts
  src/modules/core/components/Fields/index.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Fix `ListGroup` targets for `li`s
  src/modules/core/components/ListGroup/ListGroup.css
Due: stylelint --fix

Disable specific `Select` options
  src/modules/core/components/Fields/Select/Select.tsx
  src/modules/core/components/Fields/Select/SelectListBox.tsx
  src/modules/core/components/Fields/Select/types.ts
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.tsx
Due: eslint --fix, stylelint --fix

Check funding permission in level domain
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Display task skill
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
Due: eslint --fix

Improve initial values / validation
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Indent child skill items
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Edit payouts in edit mutation, remove set & remove mutations
  src/data/generated.ts
  src/data/mutations.graphql
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Use callback for persistent task creation
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
Due: eslint --fix

Use `AmountToken` in `Payout` component
  src/modules/dashboard/components/Task/TaskInviteDialog.tsx
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.css.d.ts
  src/modules/dashboard/components/TaskEditDialog/Payout/Payout.tsx
Due: eslint --fix, stylelint --fix

Add `unlocked` to `Level` query
  src/data/generated.ts
  src/data/queries.graphql
Due: eslint --fix

Add displayName to OverviewList
  src/modules/core/components/OverviewList/OverviewList.tsx
Due: eslint --fix

Adjust displayNames
  src/modules/core/components/InfoPopover/TokenInfoPopover.tsx
  src/modules/core/components/InfoPopover/UserInfoPopover.tsx
Due: eslint --fix

Fix: defensive `showWelcomeMessage` access
  src/modules/dashboard/components/LevelDashboard/LevelDashboard.tsx
Due: eslint --fix

Add Tabs to ProgramDashboard
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css.d.ts
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
Due: eslint --fix, stylelint --fix

Finalize task in component instead of in saga
  src/modules/dashboard/components/Task/Task.tsx
  src/modules/dashboard/components/TaskFinalize/TaskFinalize.tsx
  src/modules/dashboard/sagas/task.ts
  src/redux/types/actions/task.ts
  src/utils/hooks/index.ts
Due: eslint --fix

Add hook to check domain funds
  src/modules/dashboard/components/TaskFinalize/TaskFinalize.tsx
  src/modules/dashboard/components/TaskFinalize/index.ts
  src/modules/dashboard/components/TaskFinalizeDialog/TaskFinalizeDialog.tsx
  src/modules/dashboard/components/TaskFinalizeDialog/index.ts
  src/modules/dashboard/components/TaskFinalizeDialog/useDomainFundsCheck.ts
Due: eslint --fix

Add ProgramReview component
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/index.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/core/components/UserAvatar/UserAvatar.css
  src/modules/core/components/UserAvatar/UserAvatar.css.d.ts
  src/modules/core/components/UserAvatar/UserAvatar.tsx
  src/modules/dashboard/components/LevelDashboard/LevelWelcomeDialog.tsx
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReview.tsx
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.css
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.css.d.ts
  src/modules/dashboard/components/ProgramReview/ProgramReviewItem.tsx
  src/modules/dashboard/components/ProgramReview/index.ts
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: cypress/**/*.ts)
  stylelint --fix: any of: src/**/*.css
