Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Feat: add `BuyWidget` html, css & contents
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.tsx
  src/modules/dashboard/components/CoinMachine/BuyWidget/index.tsx
Due: eslint --fix, stylelint --fix

Fixed brackground color of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
Due: stylelint --fix

Return whitelist address
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix

Add isWhitelistExtensionEnabled flag to useEnabledExtensions hook
  src/utils/hooks/useEnabledExtensions.tsx
Due: eslint --fix

Refactor: remove `BuyWidget` as contents moved to `BuyTokens`
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyTokens.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/BuyWidget/BuyWidget.tsx
  src/modules/dashboard/components/CoinMachine/BuyWidget/index.tsx
Due: eslint --fix, stylelint --fix

Add whitelistAddress to initialValues if whitelist enabled
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Added CompleteKYCDialog component
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.css
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.css.d.ts
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/CompleteKYCDialog.tsx
  src/modules/dashboard/components/CoinMachine/CompleteKYCDialog/index.ts
Due: eslint --fix, stylelint --fix

Wire in logic for displaying get whitelisted button
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Create whitelist policy resolver
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/whitelist.ts
Due: eslint --fix

Refactor: remove leftover code
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
Due: stylelint --fix

Add missing dependencies to useMemo
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Refactor: remove network-only policy from query, update isSignable prop
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.tsx
Due: eslint --fix

WIP: temporary test - add auto open of `AgreementModal` to `CoinMachine`
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Feat: extend `AgreementDialog` for signing functionality
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementContainer.tsx
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css.d.ts
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.tsx
Due: eslint --fix, stylelint --fix

Added logic for valueWarning and danger styles of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Integrated CoinMachinePeriodTimeRemaining query with CoinMachine
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Added CoinMachinePeriodTimeRemaining local query
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Simplified conditional for value warning in RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Updated conditional for value warning in time remaining widget
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Refetch queries whitelistPolicy queries after updating whitelist
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/sagas/extensions/updateWhitelist.ts
Due: eslint --fix

Added missing dependency in useSplitTime
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Added period refreshing on useSplitTime hook
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Updated fetch-policy of coin machine sale period query
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Add coinMachineBoughtTokens resolver and queries
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Feat: extend `AgreementDialog` for signing functionality
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
Due: stylelint --fix

Update query to take transaction hash instead of user wallet
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
Due: eslint --fix

Show post sale widget for url with tx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Add history to buy tokens payload
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
Due: eslint --fix

Redirect to transaction hash after sale
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
  src/redux/types/actions/coinMachine.ts
  src/routes/routeConstants.ts
Due: eslint --fix

Add coin machine transaction query
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
Due: eslint --fix

Calculate transaction cost
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Return last event based on transactionHash
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Add link to buy again
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Update query to return transaction status
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
Due: eslint --fix

Create logic which handle sale state
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Remove comment
  src/modules/dashboard/components/Whitelist/AgreementDialog/AgreementDialog.css
Due: stylelint --fix

Separate concepts of whitelistPolicy and user status
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/whitelist.ts
Due: eslint --fix

Update usage of userWhitelistStatus query
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/sagas/extensions/updateWhitelist.ts
Due: eslint --fix

Rename transactionStatus to transactionSucceed
  src/data/generated.ts
  src/data/graphql/queries/coinMachine.graphql
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
Due: eslint --fix

Fix linter issues
  src/data/graphql/typeDefs/coinMachine.ts
  src/data/resolvers/coinMachine.ts
  src/modules/dashboard/components/CoinMachine/BuyTokens/BuyTokens.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/modules/dashboard/sagas/coinMachine/buyTokens.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
