Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Removed leftover code from rebase in Members
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

Feat: change the error for tokens in `StakingError` & slider
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix, stylelint --fix

feat:reposition `Select`
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

feat:reposition UI
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix

feat:separate member filtering
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix

feat:add fancy placeholder to search `input`
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

feat:refactor title into separate component
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.css.d.ts
  src/modules/dashboard/components/Members/MembersTitle.tsx
  src/modules/dashboard/components/Members/index.ts
Due: eslint --fix, stylelint --fix

feat:incorp `MembersTitle`, `filtermembers` & update logic
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
  src/modules/dashboard/components/Members/Members.tsx
Due: eslint --fix, stylelint --fix

fix:prevent covering of icons with search text
  src/modules/dashboard/components/Members/MembersTitle.css
Due: stylelint --fix

fix:clean up the code
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.tsx
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix, stylelint --fix

fix:add types
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix

fix:reorder imports, add use of useCallback, add types to `filterMembers`
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersTitle.tsx
  src/modules/dashboard/components/Members/filterMembers.ts
Due: eslint --fix

Feat: add proper conditional styles to the staking slider
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix, stylelint --fix

Refactor: change div to button in `StakingValidationError`
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
Due: eslint --fix, stylelint --fix

Feat: add `TokenActivation` context & provider & use it in StakingWidget
  src/App.tsx
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
  src/modules/users/components/TokenActivationProvider/TokenActivationProvider.tsx
  src/modules/users/components/TokenActivationProvider/index.ts
Due: eslint --fix

Feat: add a different copy to amount in `StakingSlider`
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css.d.ts
Due: eslint --fix, stylelint --fix

feat:refactor to incorp updates from rebase
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.tsx
  src/modules/dashboard/components/Members/MembersSection.css
  src/modules/dashboard/components/Members/MembersSection.css.d.ts
  src/modules/dashboard/components/Members/MembersSection.tsx
Due: eslint --fix, stylelint --fix

Merge branch 'feature/3390-top-parameters' of github.com:JoinColony/colonyDapp into feature/3402-recipients
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/consts.ts
  src/types/expenditureActions.ts
  src/types/index.ts
Due: eslint --fix

Fix: match spec for invite link tooltip
  src/modules/dashboard/components/InviteLinkButton/InviteLinkButton.tsx
  src/modules/dashboard/components/InviteLinkButton/styles.css
  src/modules/dashboard/components/InviteLinkButton/styles.css.d.ts
Due: eslint --fix, stylelint --fix

style fixes
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.css
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.tsx
Due: eslint --fix, stylelint --fix

style fix
  src/i18n/en.json
  src/modules/dashboard/components/ExpenditurePage/Stages/DraftConfirmDialog.css
  src/modules/dashboard/components/ExpenditurePage/Stages/DraftConfirmDialog.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Stages/DraftConfirmDialog.tsx
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
Due: eslint --fix, stylelint --fix

fix
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
Due: eslint --fix

fix:remove duplicate css
  src/modules/dashboard/components/Members/Members.css
  src/modules/dashboard/components/Members/Members.css.d.ts
Due: eslint --fix, stylelint --fix

feat:update behaviour of search icon & input
  src/modules/dashboard/components/Members/MembersTitle.css
  src/modules/dashboard/components/Members/MembersTitle.tsx
Due: eslint --fix, stylelint --fix

style fixes
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css.d.ts
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.css
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

Refactor: fix banner tooltip, activate button, & types
  src/modules/dashboard/components/ActionsPage/StakeRequiredBanner/StakeRequiredBanner.tsx
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
  src/modules/users/components/TokenActivationProvider/TokenActivationProvider.tsx
  src/types/index.ts
Due: eslint --fix, stylelint --fix

Refactor: extract `MembersControls` from `ColonyMembers`
  src/modules/dashboard/components/ColonyMembers/ColonyMembers.tsx
  src/modules/dashboard/components/ColonyMembers/MembersControls/MembersControls.css
  src/modules/dashboard/components/ColonyMembers/MembersControls/MembersControls.css.d.ts
  src/modules/dashboard/components/ColonyMembers/MembersControls/MembersControls.tsx
  src/modules/dashboard/components/ColonyMembers/MembersControls/index.ts
Due: eslint --fix, stylelint --fix

Feat: move subgraph behind condition by 42 blocks
  src/modules/core/components/NetworkStatus/NetworkStatus.tsx
Due: eslint --fix

UserPickerWithSearch fix, style fixes
  src/modules/core/components/OmniPicker/AdditionalOmniPicker.tsx
  src/modules/core/components/OmniPicker/types.ts
  src/modules/core/components/OmniPicker/withAdditionalOmniPicker.ts
  src/modules/core/components/UserPickerWithSearch/Dropdown.tsx
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.css
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/consts.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
  src/modules/pages/components/ExpenditurePage/ExpenditurePage.tsx
Due: eslint --fix, stylelint --fix

styles fix
  src/img/icons/plus.svg
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Payments/Payments.tsx
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/Recipient/Recipient.tsx
Due: eslint --fix, stylelint --fix

fixes
  src/img/icons.json
  src/modules/core/components/OmniPicker/types.ts
  src/modules/core/components/OmniPicker/withAdditionalOmniPicker.ts
Due: eslint --fix

added changes
  src/i18n/en-expenditure.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.css
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/LogsSection.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/consts.ts
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
Due: eslint --fix, stylelint --fix

changed textarea size
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.tsx
Due: eslint --fix, stylelint --fix

styles fix
  src/modules/dashboard/components/ExpenditurePage/Stages/StageItem.css
  src/modules/dashboard/components/ExpenditurePage/Stages/Stages.tsx
Due: eslint --fix, stylelint --fix

navbar fix
  src/modules/core/components/UserPickerWithSearch/UserPickerWithSearch.tsx
  src/modules/pages/components/RouteLayouts/NavBar/NavBar.tsx
  src/modules/pages/components/RouteLayouts/NavBar/WrappedNavBar.css
  src/modules/pages/components/RouteLayouts/NavBar/WrappedNavBar.css.d.ts
  src/modules/pages/components/RouteLayouts/NavBar/WrappedNavBar.tsx
  src/modules/pages/components/RouteLayouts/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

fix
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.tsx
Due: eslint --fix

removed form from expenditure settings
  src/modules/dashboard/components/ExpenditurePage/ExpenditureSettings/ExpenditureSettings.tsx
Due: eslint --fix

code fixes
  src/App.tsx
  src/i18n/en-expenditure.ts
  src/i18n/en-system-messages.ts
  src/modules/dashboard/components/ActionsPageFeed/types.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.css
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.css.d.ts
  src/modules/dashboard/components/ExpenditurePage/LogsSection/Log.tsx
  src/modules/dashboard/components/ExpenditurePage/LogsSection/consts.ts
  src/modules/dashboard/components/ExpenditurePage/TitleDescriptionSection/TitleDescriptionSection.css
  src/types/expenditureActions.ts
  src/types/index.ts
Due: eslint --fix, stylelint --fix

Feat: move unclaimed funds aside
  src/modules/dashboard/components/ColonyHome/ColonyHomeLayout.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.css
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.css.d.ts
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/index.ts
Due: eslint --fix, stylelint --fix

Refactor: update `ColonyUnclaimedTransfer` logic & int strings
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.css
  src/modules/dashboard/components/ColonyHome/ColonyUnclaimedTransfers/ColonyUnclaimedTransfers.tsx
Due: eslint --fix, stylelint --fix
