Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Improve organization of program components
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.css
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/index.ts
  src/modules/dashboard/components/ProgramLevelsList/index.ts
Due: eslint --fix, stylelint --fix

Only show `publish` button for drafts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Upgrade draft-js
  package.json
  yarn.lock
Due: none

Upgrade `react-textarea-autosize`
  package.json
  yarn.lock
Due: none

Refactor to functional component with hooks
  src/modules/pages/components/VerticalNavigation/VerticalNavigation.tsx
Due: eslint --fix

Render droppable placeholder
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
Due: eslint --fix

Refactor list item into its own component
  src/data/index.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
Due: eslint --fix, stylelint --fix

Disable levels drag-and-drop if program is published
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
Due: eslint --fix

Program dashboard levels list
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/helpers.ts
  src/data/index.ts
  src/data/queries.graphql
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.css.d.ts
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsList/index.ts
Due: eslint --fix, stylelint --fix

Improve dashboard styles
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.css.d.ts
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
Due: eslint --fix, stylelint --fix

Enroll in a program
  src/data/generated.ts
  src/data/mutations.graphql
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
Due: eslint --fix

Move levels sort util
  src/data/helpers.ts
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsList/ProgramLevelsList.tsx
  src/modules/dashboard/components/shared/levelsSort.ts
Due: eslint --fix

Organize imports
  src/modules/dashboard/components/ProgramDashboard/ProgramDashboard.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsList.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/LevelsListItem.tsx
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
Due: eslint --fix

Disallow publishing program unless it has levels
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix

Make it possible to pass in components as backText
  src/modules/pages/components/RouteLayouts/HistoryNavigation.tsx
  src/modules/pages/components/RouteLayouts/index.ts
Due: eslint --fix

Add backTexts for dynamic back button texts
  src/modules/admin/components/AdminDashboard/AdminDashboard.tsx
  src/modules/pages/components/BackTexts/ColonyBackText.tsx
  src/modules/pages/components/BackTexts/ProgramBackText.tsx
  src/modules/pages/components/BackTexts/index.ts
  src/routes/Routes.tsx
Due: eslint --fix

CenteredTemplate adjustments
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.css
  src/modules/pages/components/CenteredTemplate/CenteredTemplate.tsx
Due: eslint --fix, stylelint --fix

Add LevelEdit route scaffold
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelEdit/index.tsx
  src/modules/pages/components/BackTexts/ProgramBackText.tsx
  src/routes/Routes.tsx
  src/routes/routeConstants.ts
Due: eslint --fix

Add LevelEdit base layout
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Move buttons around
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.css.d.ts
  src/modules/dashboard/components/ProgramEdit/ProgramEdit.tsx
Due: eslint --fix, stylelint --fix

Remove TokenIcon component, use Avatar directly
  src/modules/core/components/Avatar/Avatar.tsx
  src/modules/core/components/TokenIcon/TokenIcon.css
  src/modules/core/components/TokenIcon/TokenIcon.css.d.ts
  src/modules/core/components/TokenIcon/TokenIcon.md
  src/modules/core/components/TokenIcon/TokenIcon.tsx
  src/modules/core/components/TokenIcon/index.ts
  src/modules/dashboard/components/HookedTokenIcon/HookedTokenIcon.tsx
Due: eslint --fix, stylelint --fix

Add all LevelEdit input components
  src/data/generated.ts
  src/data/mutations.graphql
  src/data/queries.graphql
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/dashboard/components/LevelEdit/BadgePicker.css
  src/modules/dashboard/components/LevelEdit/BadgePicker.css.d.ts
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Add BadgePicker component
  package.json
  src/img/badges/alessandraAphid.svg
  src/img/badges/avaAnt.svg
  src/img/badges/bertholdBeetle.svg
  src/img/badges/bongJoonBee.svg
  src/img/badges/normanNakedMoleRat.svg
  src/img/badges/sanjeetShrimp.svg
  src/img/badges/terryTermite.svg
  src/img/badges/wernerWasp.svg
  src/img/icons.json
  src/modules/core/components/Avatar/Avatar.tsx
  src/modules/core/components/Fields/asField.ts
  src/modules/core/components/Icon/Icon.tsx
  src/modules/core/components/Icon/__tests__/Icon.test.tsx
  src/modules/dashboard/components/LevelEdit/BadgePicker.css
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  webpack.base.js
  yarn.lock
Due: eslint --fix, stylelint --fix

Update some test snapshot for an unknwon reason
  src/modules/core/components/DecisionHub/__tests__/__snapshots__/DecisionHub.test.tsx.snap
  src/modules/core/components/Fields/Radio/__tests__/__snapshots__/Radio.test.tsx.snap
  src/modules/core/components/FileUpload/__tests__/__snapshots__/FileUpload.test.tsx.snap
Due: none

Improve required tasks input
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Re-add unlocked to createLevel mutation
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Do not set up things that are not needed
  src/modules/core/components/Avatar/Avatar.tsx
Due: eslint --fix

Fix some displayNames
  src/modules/dashboard/components/LevelEdit/BadgePicker.tsx
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix

Add `createLevelTask` mutation
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
Due: eslint --fix

Fix required steps label mess
  src/modules/core/components/Fields/InputLabel/InputLabel.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css
  src/modules/dashboard/components/LevelEdit/LevelEdit.css.d.ts
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
Due: eslint --fix, stylelint --fix

Make `DottedAddButton` a core variation of `Button`
  src/modules/core/components/Button/DottedAddButton.css
  src/modules/core/components/Button/DottedAddButton.css.d.ts
  src/modules/core/components/Button/DottedAddButton.tsx
  src/modules/core/components/Button/index.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.css.d.ts
  src/modules/dashboard/components/ProgramLevelsEdit/ProgramLevelsEdit.tsx
Due: eslint --fix, stylelint --fix

Add additional level & persistent task queries
  src/data/generated.ts
  src/data/index.ts
  src/data/queries.graphql
Due: eslint --fix

Add create level task cache update fn
  src/data/cacheUpdates.ts
Due: eslint --fix

Sort imports
  src/data/cacheUpdates.ts
Due: eslint --fix

Add level tasks edit
  src/modules/dashboard/components/LevelEdit/LevelEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/index.ts
Due: eslint --fix, stylelint --fix

Remove `Input` style from `Button`
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Add styles for grey `colorSchema`
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Select/Select.css
  src/modules/core/components/Fields/Select/Select.css.d.ts
  src/modules/core/components/Fields/Select/SelectListBox.css
  src/modules/core/components/Fields/Select/SelectListBox.css.d.ts
  src/modules/core/components/Fields/Select/types.ts
  src/modules/core/components/Fields/Textarea/Textarea.css
  src/modules/core/components/Fields/Textarea/Textarea.css.d.ts
  src/modules/core/components/Fields/Textarea/Textarea.tsx
Due: eslint --fix, stylelint --fix

Edit level tasks
  src/data/fragments.graphql
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskDisplay.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix, stylelint --fix

Remove level tasks
  src/data/cacheUpdates.ts
  src/data/generated.ts
  src/data/mutations.graphql
  src/i18n/en.json
  src/modules/dashboard/components/LevelTasksEdit/LevelTaskListItem.tsx
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksList.tsx
  src/modules/dashboard/components/LevelTasksEdit/TaskEdit.tsx
Due: eslint --fix

Improve vertical margins
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.css.d.ts
  src/modules/dashboard/components/LevelTasksEdit/LevelTasksEdit.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: cypress/**/*.ts)
  stylelint --fix: any of: src/**/*.css
