Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Styles: add paragraph bottom margin to the description
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
Due: stylelint --fix

rebase:corrections feat:add Decision motion, store details in ipfs, save ipfs hash as annotation hash
  src/i18n/en-actions.ts
  src/modules/constants.ts
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/sagas/motions/createDecisionMotion.ts
  src/modules/dashboard/sagas/motions/index.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
  src/types/colonyMotions.ts
  src/types/index.ts
Due: eslint --fix, stylelint --fix

Refactor: add comment about moving clearing local storage
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix

fix:merge updates
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: add html parsing to `DecisionPreview`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
Due: eslint --fix

fix:rename `DecisionPreview`
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
Due: eslint --fix, stylelint --fix

rebase:corrections rebase:update Routes feat:add saga, add form to `DecisionPreview`, wire up
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/ColonyDecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
Due: eslint --fix, stylelint --fix

fix:add dependences when checking banner
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Feat: add `RichTextEditor` to `RaiseObjectionDialogForm`
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

fix:clean up rebase
  src/i18n/en-actions.ts
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.css.d.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreview.tsx
  src/modules/dashboard/components/DecisionPreview/index.ts
  src/routes/Routes.tsx
  src/types/colonyActions.ts
Due: eslint --fix, stylelint --fix

fix:rebase feat:add resolver, handle Decision staking
  src/data/resolvers/motions.ts
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.css.d.ts
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/index.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/utils/events/index.ts
Due: eslint --fix, stylelint --fix

fix:rebase feat:add Decision motion, store details in ipfs, save ipfs hash as annotation hash
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
Due: eslint --fix, stylelint --fix

feat:add parser to decision desciption
  src/modules/dashboard/components/ActionsPage/ActionPageDecisionWithIPFS/ActionPageDecisionWithIPFS.tsx
Due: eslint --fix

Refactor: add form field prop for RichTextEditor
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

rebase:corrections feat:treat Decisions like a Motion, without finalisation
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteWidget.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.tsx
  src/utils/colonyMotions.ts
  src/utils/events/index.ts
Due: eslint --fix

Refactor: move editor definition to staking widget
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

feat:add decision details into page feed
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css
  src/modules/dashboard/components/DecisionPreview/DecisionPreviewForm.css.d.ts
Due: eslint --fix, stylelint --fix

Refactor: add disabled prop to RichTextEditor
  src/modules/core/components/RichTextEditor/RichTextEditor.tsx
Due: eslint --fix

fix:removed but missed in rebase
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/DetailsWidget.tsx
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.css.d.ts
  src/modules/dashboard/components/ColonyDecisionPreview/DetailsWidget/UserWidget/UserWidget.tsx
Due: eslint --fix, stylelint --fix

Refactor: move editor definition to staking widget
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

Refactor: removed the annotation validation
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

feat:dont show banner for Decision
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
Due: eslint --fix

Feat: add tooltip for the `StakingSlider`
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: add `RichTextEditor` to `RaiseObjectionDialogForm`
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix

feat:remove decisions from `ActionsList`
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Refactor: fix cursor arrow pointer
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix, stylelint --fix

Refactor: move editor to RaiseObjectionDialog
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
Due: eslint --fix

Replace motions resolver action name strings with an enum
  src/data/resolvers/motions.ts
  src/types/colonyMotions.ts
Due: eslint --fix

fix:clean up interfaces
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
  src/types/colonyActions.ts
Due: eslint --fix

Refactor: fix StakingSlider ids and displayName
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingSlider.tsx
Due: eslint --fix

Refactor: add html react parser
  src/modules/core/components/Comment/Comment.tsx
Due: eslint --fix

Refactor: pass prop for isDecision
  src/modules/dashboard/components/ActionsPage/ActionsComponents/DefaultMotion.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidgetFlow.tsx
Due: eslint --fix

feat:display decision title in actionlistitems
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
  src/types/colonyActions.ts
Due: eslint --fix

Refactor: add divider and style adjustments
  src/modules/core/components/RichTextEditor/RichTextEditor.css
  src/modules/core/components/RichTextEditor/RichTextEditor.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.css
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.css.d.ts
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix, stylelint --fix

feat:`subscription` add where arg to find decisions from motions
  src/data/generated.ts
  src/data/graphql/subscriptions.graphql
Due: eslint --fix

Refactor: change limit variable
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix

Fix: Tidy up Install Governance Extension message
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.css.d.ts
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix, stylelint --fix

feat:add loading decisions spinner
  src/modules/dashboard/components/ColonyDecisions/ColonyDecisions.tsx
Due: eslint --fix

Feat: add `isDecision` prop & logic to raise objeciton dialog
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/components/Dialogs/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix
