Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Refactor: `CountDownTimer` refactor props
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Refactor: `CountDownTimer` timer logic
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Refactor: move motion redux types into motion file
  src/redux/types/actions/colonyActions.ts
  src/redux/types/actions/index.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Refactor: `splitTimePeriod` util
  src/utils/time/calculateTimeLeft.ts
  src/utils/time/index.ts
Due: eslint --fix

Add: motion state update redux types
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Remove: unused `colonyActions` resolver prop
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
  src/data/resolvers/colonyActions.ts
  src/utils/events/index.ts
Due: eslint --fix

Add: `Countdowntimer` account for time to process block
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Add: motion state update saga
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/sagas/motions/index.ts
  src/modules/dashboard/sagas/motions/updateState.ts
  src/redux/actionTypes.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Refactor: `ActionsPage` don't fetch motion data
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Regenerate: graphql hooks after rebase
  src/data/generated.ts
Due: eslint --fix

Fix: `CountDownTimer` don't compensate for faile motion
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Fix: `FinalizeMotionAndClaimWidget` styles
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.css
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix, stylelint --fix

Refactor: `updateMotionValues` saga helper
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
  src/modules/dashboard/components/ActionsPage/RevealWidget/RevealWidget.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidgetFlow.tsx
  src/modules/dashboard/components/ActionsPage/VoteWidget/VoteWidget.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialog.tsx
  src/modules/dashboard/sagas/motions/claimMotionRewards.ts
  src/modules/dashboard/sagas/motions/finalizeMotion.ts
  src/modules/dashboard/sagas/motions/revealVoteMotion.ts
  src/modules/dashboard/sagas/motions/stakeMotion.ts
  src/modules/dashboard/sagas/motions/voteMotion.ts
  src/modules/dashboard/sagas/utils/updateMotionValues.ts
  src/redux/types/actions/motion.ts
Due: eslint --fix

Refactor: `motionStateUpdate` saga
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
  src/modules/dashboard/sagas/motions/updateState.ts
Due: eslint --fix

Rename: `splitTimeLeft` time util
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
  src/utils/time/calculateTimeLeft.ts
  src/utils/time/index.ts
Due: eslint --fix

Fix: `CountdownTimer` period display width style
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.css
Due: stylelint --fix

Refactor: `MintTokenMotion` show state tag if available
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Create ExtensionUninstallConfirmDialog component
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.css
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.tsx
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/index.ts
Due: eslint --fix, stylelint --fix

Refactor Extensiondetails to use new dialog
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.css
  src/modules/dashboard/components/Extensions/ExtensionUninstallConfirmDialog/ExtensionUninstallConfirmDialog.tsx
  src/modules/dashboard/components/Extensions/extensionsMSG.ts
Due: eslint --fix, stylelint --fix

Added shared stake validation message and links to motion utils
  src/utils/colonyMotions.ts
Due: eslint --fix

Adapted stake amount and inactive tokens validations to Objection dialog
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css.d.ts
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
Due: eslint --fix, stylelint --fix

Added stake amount and inactive token validation to StakingWidget
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix, stylelint --fix

Added StakingValidationError component
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingValidationError/index.ts
Due: eslint --fix, stylelint --fix

Integrated StakingValidationError component in StakingWidget
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.css.d.ts
  src/modules/dashboard/components/RaiseObjectionDialog/RaiseObjectionDialogForm.tsx
  src/utils/colonyMotions.ts
Due: eslint --fix, stylelint --fix

Removed links from stake validation error messages
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
Due: eslint --fix, stylelint --fix

Updated staking validation conditional for when there's inactive tokens
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.css.d.ts
  src/modules/dashboard/components/ActionsPage/StakingValidationError/StakingValidationError.tsx
  src/modules/dashboard/components/ActionsPage/StakingWidget/StakingWidget.tsx
Due: eslint --fix

Fixed motion page banner and objection modal covering gas station
  src/modules/pages/components/RouteLayouts/NavBar/NavBar.css
Due: stylelint --fix

Added truncate for max 5 decimals in ClaimWidget
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Removed limits for negative values in ClaimWidget
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Replaced Numeral amounts convertion to moveDecimals
  src/modules/dashboard/components/ActionsPage/FinalizeMotionAndClaimWidget/FinalizeMotionAndClaimWidget.tsx
Due: eslint --fix

Added CreateDomainMotion type to ColonyMotions
  src/i18n/en-motions.ts
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
Due: eslint --fix

Added fromDomain event value to MintTokenMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
Due: eslint --fix

Added CreateDomainMotion handling to to getActionValues func
  src/utils/events/index.ts
Due: eslint --fix

Incorporated MoveFundsMotion types
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
  src/utils/events/index.ts
Due: eslint --fix

Incorporated SetUserRole type
  src/i18n/en-motions.ts
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/utils/events/index.ts
Due: eslint --fix

Incorporate EditDomainMotion type
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/utils/events/index.ts
Due: eslint --fix

Incorporated EditColonyMotion type
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
  src/utils/events/index.ts
Due: eslint --fix

Added all the motion type emojis to mapping
  src/modules/dashboard/components/ActionsPage/staticMaps.ts
Due: eslint --fix

Added SetUserRolesMotion type
  src/modules/dashboard/components/ActionsPage/ActionsPage.tsx
Due: eslint --fix

Added decoding of new domain in CreateDomainMotion
  src/modules/dashboard/components/ActionsPage/ActionsComponents/MintTokenMotion.tsx
  src/utils/events/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
