Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: add `address` & `verified` to `UserBalanceWithLock` query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/index.ts
Due: eslint --fix

Feat: change structure & styles for `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Refactor: update types of Anytokens
  src/data/index.ts
Due: eslint --fix

Refactor: update based on a rebase
  src/data/generated.ts
Due: eslint --fix

Added deposit and withdraw redux action types
  src/redux/actionTypes.ts
  src/redux/types/actions/user.ts
Due: eslint --fix

Feat: add `TokensTabForm` & refactor `TokensTab` & css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: change UserNavigation & TokenActivationButton to fit rebase
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Refactor: update `UserTokenActivationButton` to fit rebase
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Feat: add tooltips in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Refactor: update graphql queries due to rebase
  src/data/graphql/queries.graphql
Due: none

Feat: add final offsets to `TokenActivationPopover`
  src/modules/users/components/TokenActivation/TokenActivationPopover.css
  src/modules/users/components/TokenActivation/TokenActivationPopover.tsx
Due: eslint --fix, stylelint --fix

Feat: add white button theme variant
  src/modules/core/components/Button/Button.css
  src/modules/core/components/Button/Button.css.d.ts
  src/modules/core/components/Button/Button.tsx
Due: eslint --fix, stylelint --fix

Feat: finalise `TokenTabsForm` & its styles
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix, stylelint --fix

Feat: change button styles approach in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add final popups positioning in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add button styles in `TokensTab`
  src/modules/core/components/Button/Button.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Refactor: change css & markup of lines w/colored disc
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: update `ChangeTokenStateForm` with flexible actions
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Refactor: update `ChangeTokenStateForm` css
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
Due: eslint --fix, stylelint --fix

Refactor: move part of `TokensTab` into `Form` component
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTabForm.tsx
Due: eslint --fix

Refactor: restyle, restructure tabs in `TokenActivationContent`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
Due: eslint --fix, stylelint --fix

Refactor: temporarily remove the `ClaimsTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.tsx
Due: eslint --fix, stylelint --fix

Feat: add optional `className` prop to `Tab`, `TabList`
  src/modules/core/components/Tabs/Tab.tsx
  src/modules/core/components/Tabs/TabList.tsx
Due: eslint --fix

Refactor: update svg css in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
Due: stylelint --fix

Feat: update `emoji-padlock-closed` svg
  src/img/icons/emoji-padlock-closed.svg
Due: none

Refactor: extract `TokenTooltip` from `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenTooltip.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Refactor: add opacity to `white` button variant
  src/modules/core/components/Button/Button.css
Due: stylelint --fix

Feat: add `tokenAddress` as return key in token activation form
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Refactor: update css in token activation files
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.css
  src/utils/numbers/index.ts
Due: eslint --fix, stylelint --fix

Feat: add `colonyAddress` prop & return key in token activation form
  src/modules/pages/components/RouteLayouts/UserNavigation.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
  src/modules/users/components/UserTokenActivationButton/UserTokenActivationButton.tsx
Due: eslint --fix

Refactor: change `--golden` color & update files accordingly
  src/modules/core/components/IndexModal/IndexModalItem.css
  src/modules/core/components/IndexModal/IndexModalItem.css.d.ts
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css
  src/modules/dashboard/components/ActionsPage/MultisigWidget/MultisigWidget.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: implement new specs for `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add locked balance & tooltip to `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix

Feat: resize total tokens if too wide in `TokensTab`
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css.d.ts
  src/modules/users/components/TokenActivation/TokenActivationContent/TokensTab.tsx
Due: eslint --fix, stylelint --fix

Feat: add `tokenBalance` const to `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Refactor: correct the balance number in `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
Due: eslint --fix

Feat: add `max` button to `InputComponent`
  src/modules/core/components/Fields/Input/Input.tsx
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/Fields/Input/InputComponent.css.d.ts
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix, stylelint --fix

Feat: add `max` button to `ChangeTokenStateForm`
  src/modules/users/components/TokenActivation/TokenActivationContent/ChangeTokenStateForm.tsx
  src/modules/users/components/TokenActivation/TokenActivationContent/TokenActivationContent.css
Due: eslint --fix, stylelint --fix

Fix: add conditional to `handleCleaveChange` in `inputComponent`
  src/modules/core/components/Fields/Input/InputComponent.tsx
Due: eslint --fix
