Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Fix: `ColonyFunding` open transfer funds dialog
  src/modules/dashboard/components/ColonyHome/ColonyFunding/ColonyFunding.tsx
Due: eslint --fix

Refactor: `TransferFundsDialogForm` better error alignment
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css
Due: stylelint --fix

Fix: `TransferFundsDialog` transfer icon alignment
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css
Due: stylelint --fix

Refactor: `TransferFundsDialogForm` funds/error logic
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.css.d.ts
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: `TransferFundsDialog` moar validation!
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialogForm.tsx
Due: eslint --fix

Remove: actions saga commented out code
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Add updateTokens method
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
Due: eslint --fix

Add Checkbox to TokenItem component
  src/modules/core/components/TokenEditDialog/TokenItem/TokenItem.css
  src/modules/core/components/TokenEditDialog/TokenItem/TokenItem.css.d.ts
  src/modules/core/components/TokenEditDialog/TokenItem/TokenItem.tsx
Due: eslint --fix, stylelint --fix

Rename ColonyTokenEditDialog to ColonyTokenManagementDialog
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyTokenEditDialog/index.ts
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/index.ts
Due: eslint --fix

Colony as a props of ColonyTokenManagementDialog instead of colonyAddress
  src/modules/dashboard/components/ColonyFundingMenu/ColonyFundingMenu.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
Due: eslint --fix

Add format message as dependency
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Disable submit button if token is invalid
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
Due: eslint --fix

Add xdci and goerli token list; Get token list based on current network
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/getTokenList.ts
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokenlist.json
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokens/tokenList.goerli.json
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokens/tokenList.mainnet.json
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokens/tokenList.xdai.json
Due: eslint --fix

Make chainId required
  src/types/index.ts
Due: eslint --fix

Add font-weight bold to fat theme
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix, stylelint --fix

Remove userTokens from dependency array
  src/modules/dashboard/components/Wallet/UserTokenEditDialog.tsx
Due: eslint --fix

Restore error on contract address input
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Remove unnesecsery dependencies
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/core/components/TokenEditDialog/TokenItem/TokenItem.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
Due: eslint --fix

Remove chainId from list and FixedToken interface
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokens/tokenList.mainnet.json
  src/types/index.ts
Due: eslint --fix

Add FixedToken type
  src/data/index.ts
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/dashboard/components/Wallet/UserTokenEditDialog.tsx
  src/types/index.ts
Due: eslint --fix

Make chainId optional as xdai and goerli tokens doesn’t have this field
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/getTokenList.ts
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokens/tokenList.xdai.json
  src/types/index.ts
Due: eslint --fix, stylelint --fix

Remove duplication form address array
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Make decimals optional
  src/types/index.ts
Due: eslint --fix

Remove tokenSymbol from validation schema
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Merge token list; Disable checkboxes for native token and ether token
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
  src/modules/core/components/TokenEditDialog/TokenItem/TokenItem.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/ColonyTokenManagementDialog.tsx
  src/modules/dashboard/components/ColonyTokenManagementDialog/tokenlist.json
Due: eslint --fix

Run mutation with updated list of addresses
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Set validateOnChange to false for better performance
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Change tokenSelector font family to family-techie
  src/modules/core/components/Fields/Input/InputComponent.css
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.css
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.css.d.ts
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
Due: eslint --fix, stylelint --fix

Fix scrolling bug in tokens container
  src/modules/core/components/TokenEditDialog/TokenEditDialog.css
Due: stylelint --fix

Add missing onTokenSelectError dependency
  src/modules/dashboard/components/CreateColonyWizard/TokenSelector.tsx
Due: eslint --fix

Add: subgraph git submodule
  .gitmodules
Due: none

Add: provision script intergrate `subgraph`
  scripts/provision_submodules.sh
Due: none

Add: `graph-node` setup to the provision script
  scripts/provision_submodules.sh
Due: none

Fix: prevent TS from going into external libs
  .eslintignore
  jest.conf.json
  tsconfig.dev.json
  tsconfig.json
Due: none

Add: `graph-node` submodule
  .gitmodules
Due: none

Update: ganache start script to listen to all hosts
  scripts/start_ganache.js
Due: none

Add: subgraph setup script
  scripts/setup_subgraph.js
Due: none

Refactor: provision script for better output and logic
  scripts/provision_submodules.sh
Due: none

Update: subgraph setup script
  package-lock.json
  package.json
  scripts/setup_subgraph.js
Due: none

Remove: unused google auth script
  scripts/authGoogle.sh
  scripts/setup_subgraph.js
Due: none
