Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "src/**/*.css": [
    "stylelint --fix"
  ]
}

Refactor: `getEventsListData` to use reduce
  src/i18n/en-events.ts
  src/modules/dashboard/transformers.ts
Due: eslint --fix

Refactor: `ActionsList` to support custom list components
  src/modules/core/components/ActionsList/ActionsList.tsx
  src/modules/core/components/ActionsList/ActionsListItem.tsx
Due: eslint --fix

Refactor: `getEventsListData` transformer return data
  src/modules/dashboard/transformers.ts
  src/types/colonyActions.ts
Due: eslint --fix

Add: `ColonyEventsListItem` sub-component
  src/i18n/en-events.ts
  src/modules/core/components/ActionsList/ActionsListItem.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.css.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.d.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix, stylelint --fix

Fix: `ColonyTransfers` local query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/ColonyEvents/ColonyEventsListItem.tsx
Due: eslint --fix

Refactor: `UnclaimedTransfers` disable when appropriate
  src/data/cache.ts
  src/modules/dashboard/components/ColonyEvents/ColonyEvents.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfers.tsx
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.css
  src/modules/dashboard/components/UnclaimedTransfers/UnclaimedTransfersItem.tsx
Due: eslint --fix, stylelint --fix

Remove: unused colony events local resolver
  src/data/index.ts
  src/data/resolvers/colony.ts
  src/data/resolvers/transactions.ts
Due: eslint --fix

Fix: `getEventsListData` transformer reducer logic
  src/modules/dashboard/transformers.ts
Due: eslint --fix

Add ellipsis to DetailsWidget values
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetTeam/DetailsWidgetTeam.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetTeam/DetailsWidgetTeam.css.d.ts
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetTeam/DetailsWidgetTeam.tsx
Due: eslint --fix, stylelint --fix

Add ellipsis to Member dropdown
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/Fields/SelectOption/SelectOption.css.d.ts
  src/modules/core/components/Fields/SelectOption/SelectOption.tsx
Due: eslint --fix, stylelint --fix

Add ellipsis to Members Page heading
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/core/components/FriendlyName/FriendlyName.css
  src/modules/dashboard/components/ActionsPage/ActionsPage.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidget.css
  src/modules/dashboard/components/ActionsPage/DetailsWidget/DetailsWidgetTeam/DetailsWidgetTeam.css
  src/modules/dashboard/components/DomainDropdown/DomainSelectItem.css
  src/modules/dashboard/components/Members/Members.css
Due: stylelint --fix

Add nowrap property to Friendly name component
  src/modules/core/components/FriendlyName/FriendlyName.css
Due: stylelint --fix

Add ellipsis to action page title
  src/modules/dashboard/components/ActionsPage/ActionsPage.css
Due: stylelint --fix

Change max-height to 100vh(screen size) - 28px (top action bar size)
  src/modules/core/components/Dialog/Dialog.css
Due: stylelint --fix

Update typo in TokenEditDialog
  src/modules/core/components/TokenEditDialog/TokenEditDialog.tsx
Due: eslint --fix

Added ellipsis to domain name in DomainSelectItem component
  src/modules/dashboard/components/DomainDropdown/DomainSelectItem.css
  src/modules/dashboard/components/DomainDropdown/DomainSelectItem.css.d.ts
  src/modules/dashboard/components/DomainDropdown/DomainSelectItem.tsx
Due: eslint --fix, stylelint --fix

Use already define mixin
  src/modules/core/components/FriendlyName/FriendlyName.css
Due: stylelint --fix

Add ellipsis to FriendlyName component
  src/modules/core/components/FriendlyName/FriendlyName.css
Due: stylelint --fix

Update dropdown items
  src/modules/core/components/Fields/SelectOption/SelectOption.css
  src/modules/dashboard/components/DomainDropdown/DomainSelectItem.css
Due: stylelint --fix

Feat: add `FundsMoved` event to `SubgraphActions` query
  src/data/graphql/queries.graphql
Due: none

Feat: add filtering out repeated actions in `ColonyActions`
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Refactor: change `uniqueEvents` filtering for more performant version
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Feat: add hard limit to token symbol creation
  src/modules/dashboard/components/CreateColonyWizard/StepCreateToken.tsx
Due: eslint --fix

Refactor: update `createMoveFundsAction`
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Feat: add condition to `ColonyActions` useEffect - avoid infinite loop
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Feat: add formatting domains for `MoveFunds` in `ColonyActions`
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
  src/utils/events/index.ts
Due: eslint --fix

Feat: add `moveFunds` to qraphql queries & `colonyActions`
  src/data/generated.ts
  src/utils/colonyActions.ts
Due: eslint --fix

Refactor: fix the rebase problems in queries & generated
  src/data/generated.ts
  src/data/graphql/queries.graphql
Due: eslint --fix

Refactor: refactor `uniqueEvents` fn in `ColonyActions`
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Feat: add `UserTokenEditDialogForm` tsx & css structure
  src/modules/dashboard/components/Wallet/UserTokenEditDialog.tsx
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.css
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.css.d.ts
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.tsx
Due: eslint --fix, stylelint --fix

Feat: add balance query & field to getTokenData in token resolver
  src/data/resolvers/token.ts
Due: eslint --fix

Refactor: remove annotation & permissions from `UserTokenEditDialog`
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.tsx
Due: eslint --fix

Feat: change balance to Field & add walletAddress arg in Token(s)
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Feat: add walletAddress arg, missing async/await to user tokens resolver
  src/data/resolvers/user.ts
Due: eslint --fix

Refactor: change translation ids, add display name, remove comments
  src/modules/dashboard/components/Wallet/UserTokenEditDialog.tsx
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.tsx
Due: eslint --fix

Feat: add correct functionality & styles to `UserTokenEditDialogForm`
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.css
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.css.d.ts
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.tsx
Due: eslint --fix, stylelint --fix

Refactor: remove unnecessary props from `UserTokenEditDialog`
  src/modules/dashboard/components/Wallet/UserTokenEditDialogForm.tsx
Due: eslint --fix

Feat: add `tokens` to `User` cache
  src/data/cache.ts
Due: eslint --fix
