Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Removed submission fragments
  src/data/generated.ts
  src/data/graphql/fragments.graphql
  src/data/graphql/mutations.graphql
Due: eslint --fix

Fixed payouts prop of InboxItem
  src/modules/users/components/Inbox/InboxItem/InboxItem.tsx
Due: eslint --fix

Feat: add annotation logic to `TransferFundsDialog`
  src/modules/dashboard/components/TransferFundsDialog/TransferFundsDialog.tsx
Due: eslint --fix

Refactor: change batching in `payment` & `moveFunds` actions
  src/modules/dashboard/sagas/actions.ts
Due: eslint --fix

Feat: add translation strings for `Move Funds` in `en.json`
  src/i18n/en.json
Due: none

Feat: add annotation to `createMoveFundsAction`
  src/modules/dashboard/sagas/actions.ts
  src/redux/types/actions/colonyActions.ts
Due: eslint --fix

Feat: add `COLONY_EDIT_DETAILS` action types
  src/redux/actionTypes.ts
  src/redux/types/actions/colony.ts
Due: eslint --fix

WIP: add `AvatarUploader` to `EditColonyDetailsDialogForm`
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Feat: add `EditColonyDetailsDialog` to the flow
  src/modules/dashboard/components/AdvancedDialog/AdvancedDialog.tsx
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css.d.ts
  src/modules/dashboard/components/EditColonyDetailsDialog/index.ts
Due: eslint --fix

Feat: add `EditColonyDetails` dialog, form, css
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialog.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix, stylelint --fix

WIP: add logo placeholder to `EditColonyDetailsDialogForm`
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css.d.ts
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix, stylelint --fix

Feat: add `hasButtons` to `AvatarUploader`, update css based on it
  src/modules/admin/components/Profile/ColonyAvatarUploader.tsx
  src/modules/core/components/AvatarUploader/AvatarUploader.css
  src/modules/core/components/AvatarUploader/AvatarUploader.css.d.ts
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.tsx
Due: eslint --fix, stylelint --fix

Refactor: make `placeholder` prop optional in `AvatarUploader`
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Add: `EditColonyDetailsDialogForm` avatar preview
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Feat: add `dropzone` styles & focus state in `AvatarUploader`
  src/modules/core/components/AvatarUploader/AvatarUploader.css
Due: stylelint --fix

Feat: add `disabled` prop to `AvatarUploader` & remove button
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Fix: `UserAvatarUploader` show correct placeholder
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.tsx
Due: eslint --fix

Feat: add `diabled` & other states css to `AvatarUploader`
  src/modules/core/components/AvatarUploader/AvatarUploadItem.css
  src/modules/core/components/AvatarUploader/AvatarUploader.css
  src/modules/core/components/AvatarUploader/AvatarUploader.css.d.ts
  src/modules/core/components/FileUpload/FileUpload.tsx
  src/modules/core/components/FileUpload/index.ts
Due: eslint --fix, stylelint --fix

Feat: add css states & update paddings in `AvatarUploader`
  src/modules/core/components/AvatarUploader/AvatarUploader.css
Due: stylelint --fix

Feat: add logic to Remove & Drag&Drop to `EditColonyDetailsDialogForm`
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Refactor: update translation strings in `UserAvatarUploader`
  src/modules/users/components/UserProfileEdit/UserAvatarUploader.tsx
Due: eslint --fix

Refactor: chnage `MIME` types in `AvatarUloader`
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
Due: eslint --fix

Feat: add `disabled` to `DefaultPlaceholder` in `FileUpload`
  src/modules/core/components/FileUpload/DefaultPlaceholder.tsx
  src/modules/core/components/FileUpload/FileUpload.css
  src/modules/core/components/FileUpload/FileUpload.css.d.ts
Due: eslint --fix, stylelint --fix

Feat: add colony refetch in colony avatar action sagas
  src/modules/dashboard/sagas/colony.ts
Due: eslint --fix

Refactor: fix merge & delete unnecessary translation strings
  src/modules/dashboard/components/ColonyHomeActions/ColonyHomeActions.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
Due: eslint --fix

Refacor: update css for `AvatarUploader` & `DefaultPlaceholder`
  src/modules/core/components/AvatarUploader/AvatarUploader.css
  src/modules/core/components/FileUpload/DefaultPlaceholder.tsx
  src/modules/core/components/FileUpload/FileUpload.css
Due: eslint --fix, stylelint --fix

Refactor: add `labelAppearance` prop for `AvatarUploader`
  src/modules/core/components/AvatarUploader/AvatarUploader.tsx
  src/modules/core/components/FileUpload/FileUpload.tsx
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.tsx
  src/modules/dashboard/sagas/colony.ts
Due: eslint --fix

Refactor: minor styles update in `EditColonyDetailsDialog`
  src/modules/core/components/AvatarUploader/AvatarUploader.css
  src/modules/dashboard/components/EditColonyDetailsDialog/EditColonyDetailsDialogForm.css
Due: stylelint --fix

Feat: add filtering logic for root domain & transfer funds actions
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Refactor: remove sort by `activity` in `ColonyActions`
  src/modules/dashboard/components/shared/actionsSort.ts
Due: eslint --fix

Feat: pass domainId prop to `ColonyActions` & add its filter
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
  src/modules/dashboard/components/ColonyHome/ColonyHome.tsx
Due: eslint --fix

Added skip and first param to colony action query
  src/data/generated.ts
  src/data/graphql/queries.graphql
  src/data/graphql/typeDefs.ts
Due: eslint --fix

Added export for Button core props
  src/modules/core/components/Button/index.ts
Due: eslint --fix

Added LoadingMoreButton core component
  src/modules/core/components/LoadMoreButton/LoadMoreButton.css
  src/modules/core/components/LoadMoreButton/LoadMoreButton.css.d.ts
  src/modules/core/components/LoadMoreButton/LoadMoreButton.tsx
  src/modules/core/components/LoadMoreButton/index.ts
Due: eslint --fix, stylelint --fix

Added first and skip params to oneTxPayment
  src/data/graphql/queries.graphql
Due: none

Integrated pagination into Colony Actions list
  src/modules/dashboard/components/ColonyActions/ColonyActions.tsx
Due: eslint --fix

Update: `setupUserContent` get new network version
  src/modules/core/sagas/setupUserContext.ts
Due: eslint --fix

Fix: `metamaskWatch` event channel for new version
  src/modules/users/sagas/wallet.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
