Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Improve coin machine grid responsiveness
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/ColonyHome/ColonyHome.css
  src/modules/dashboard/components/ColonyHome/ColonyTasks/ColonyTasks.css
Due: stylelint --fix

Add TokensRemaining card
  package-lock.json
  package.json
  src/img/clapping.gif
  src/img/icons.json
  src/img/icons/triangle-down.svg
  src/img/icons/triangle-up.svg
  src/modules/core/components/Icon/Icon.css
  src/modules/core/components/Icon/Icon.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachineCard.css
  src/modules/dashboard/components/CoinMachine/CoinMachineCard.css.d.ts
  src/modules/dashboard/components/CoinMachine/TimeRemainingCard.css
  src/modules/dashboard/components/CoinMachine/TimeRemainingCard.tsx
  src/modules/dashboard/components/CoinMachine/TokensRemainingCard.tsx
Due: eslint --fix, stylelint --fix

Fix justSoldOut state
  src/modules/dashboard/components/CoinMachine/TokensRemainingCard.tsx
Due: eslint --fix

Add Confetti 🎊
  package-lock.json
  package.json
  src/modules/core/components/Confetti/Confetti.tsx
  src/modules/core/components/Confetti/index.ts
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/TokensRemainingCard.tsx
Due: eslint --fix

Fix chat size, add buttery smooth scrolling
  src/modules/core/components/Chat/Chat.css
  src/modules/core/components/Chat/Chat.tsx
Due: eslint --fix, stylelint --fix

Add Coin Machine chat card
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachineChat.css
  src/modules/dashboard/components/CoinMachine/CoinMachineChat.css.d.ts
  src/modules/dashboard/components/CoinMachine/CoinMachineChat.tsx
  src/modules/dashboard/components/CoinMachine/TokensRemainingCard.tsx
Due: eslint --fix, stylelint --fix

Add `PostPurchaseCard` to coin machine
  src/modules/core/components/GroupList/GroupList.css
  src/modules/core/components/GroupList/GroupList.css.d.ts
  src/modules/core/components/GroupList/GroupList.tsx
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/PostPurchaseCard.css
  src/modules/dashboard/components/CoinMachine/PostPurchaseCard.css.d.ts
  src/modules/dashboard/components/CoinMachine/PostPurchaseCard.tsx
  src/modules/dashboard/components/CoinMachine/types.ts
Due: eslint --fix, stylelint --fix

FullColony -> Colony
  src/modules/dashboard/components/ColonyHome/ColonyMeta/ColonyBuyTokens.tsx
Due: eslint --fix

Use ethers BigNumber
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/PreviousSalesCard.tsx
Due: eslint --fix

Fix wizard initial values
  src/modules/core/components/Wizard/withWizard.ts
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Add CoinMachineClient and CoinMachineFactoryClient
  src/i18n/en.json
  src/lib/ColonyManager/ColonyManager.ts
  src/modules/core/sagas/utils/getNetworkClient.ts
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Create new Colonies with using v5
  src/modules/dashboard/sagas/colonyCreate.ts
Due: eslint --fix

Upgrade colonyJS
  package-lock.json
  package.json
Due: none

Add Coin Machine initialization script
  scripts/init_coinmachine.js
Due: none

Deploying to gh-pages from @ 95c6fdce7ccf4222a53d6c062c08e42b32846964 🚀
  build/bundle.2d76ed0d.js
  index.html
Due: none

Refactor: `StepColonyName` disable confirm name button
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix, stylelint --fix

Refactor: `CreateColonyWizard` segment out the user flow
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Fix: `CreateColonyWizard` prevent line skipping the flow
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Fix: `CreateColonyWizard` correctly fetch user from props
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Update: `StepColonyName` copy
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Fix: `CreateColonyWizard` `stepFunction` args order
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Bump: app version to `3.0.2`
  package-lock.json
  package.json
Due: none

Update dependency @formatjs/intl-pluralrules to v3
  package-lock.json
  package.json
Due: none

Update dependency @formatjs/intl-relativetimeformat to v7
  package-lock.json
  package.json
Due: none

Update dependency css-loader to v4
  package-lock.json
  package.json
Due: none

Update dependency dotenv-webpack to v2
  package-lock.json
  package.json
Due: none

Update dependency jest to v26
  package-lock.json
  package.json
Due: none

Update dependency stylelint-config-standard to v20
  package-lock.json
  package.json
Due: none

Update typescript-eslint monorepo to v4
  package-lock.json
  package.json
Due: none

Add default for IPFS config
  src/lib/ipfs/IPFSNode.ts
Due: eslint --fix

Support xdai provider
  src/lib/ipfs/IPFSNode.ts
  src/modules/core/sagas/utils/getProvider.ts
Due: eslint --fix

Switch to colonyJS fork that supports xdai
  package-lock.json
  package.json
Due: none

Published colonyJS that supports xDai
  package-lock.json
  package.json
Due: none

Revert "Fix: `CreateColonyWizard` `stepFunction` args order"
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Revert "Update: `StepColonyName` copy"
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix

Revert "Fix: `CreateColonyWizard` correctly fetch user from props"
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Revert "Fix: `CreateColonyWizard` prevent line skipping the flow"
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Revert "Refactor: `StepColonyName` disable confirm name button"
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.css
  src/modules/dashboard/components/CreateColonyWizard/StepColonyName.tsx
Due: eslint --fix, stylelint --fix

Revert "Refactor: `CreateColonyWizard` segment out the user flow"
  src/modules/dashboard/components/CreateColonyWizard/CreateColonyWizard.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
