Repository JoinColony/colonyDapp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

Updated styles of TokenSalesTable according to latest rebase changes
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css
  src/modules/dashboard/components/CoinMachine/TokenSalesTable/TokenSalesTable.css.d.ts
Due: eslint --fix, stylelint --fix

Added RemainingDisplayWidget component
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
Due: eslint --fix, stylelint --fix

Added inverted question mark icon
  src/img/icons.json
  src/img/icons/question-mark-inverted.svg
  src/modules/core/components/QuestionMarkTooltip/QuestionMarkTooltip.tsx
Due: eslint --fix

Added copy for tokens remaining tooltip
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Updated question-mark-inverted icon
  src/img/icons/question-mark-inverted.svg
Due: none

Updated RemainingDisplayWidget styles
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix, stylelint --fix

Added RemainingDisplayWidget to CoinMachine
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
Due: eslint --fix

Fixed TimerValue crashing due to timer running out
  src/utils/components/TimerValue.tsx
Due: eslint --fix

Moved widget texts from CoinMachine to the widget itself
  src/modules/dashboard/components/CoinMachine/CoinMachine.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css.d.ts
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/index.ts
Due: eslint --fix, stylelint --fix

Updated ids of RemainingDisplayWidget messages
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Added useSplitTime util hook
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Integrated useSplitTimer hook into RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix, stylelint --fix

Integrated useSplitTime hook into SaleStateWidget
  src/modules/dashboard/components/CoinMachine/SaleStateWidget/SaleStateWidget.tsx
  src/utils/hooks/useSplitTime.ts
Due: eslint --fix

Integrated TimerValue into CountDownTimer
  src/modules/dashboard/components/ActionsPage/CountDownTimer/CountDownTimer.tsx
Due: eslint --fix

Fixed displayName of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.tsx
Due: eslint --fix

Fixed danger theme not getting all the background color of container
  src/modules/dashboard/components/CoinMachine/CoinMachine.css
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
Due: stylelint --fix

Fixed brackground color of RemainingDisplayWidget
  src/modules/dashboard/components/CoinMachine/RemainingDisplayWidget/RemainingDisplayWidget.css
Due: stylelint --fix

Add enabledExtensionBody field to extensionData
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/WhitelistExtensionBody.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/index.tsx
Due: eslint --fix

Add type field to extension init params
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix

Add whitelist to extensionData
  src/data/staticData/extensionData.ts
Due: eslint --fix

Add colonyjs version which support Whitelist Extension
  package-lock.json
  package.json
Due: none

Fix enabledExtensionBody type
  src/data/staticData/extensionData.ts
Due: eslint --fix

Display info text in extension details
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix, stylelint --fix

Update headline
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
Due: eslint --fix

Add translations for whitelist extension
  src/data/staticData/extensionData.ts
Due: eslint --fix

Update colonyjs
  package-lock.json
  package.json
Due: none

Remove not needed anymore comment and whitelist component from voting reputation data
  src/data/staticData/extensionData.ts
Due: eslint --fix

Rename WhitelistExtensionBody
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtension/WhitelistExtension.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtension/index.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/WhitelistExtensionBody.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/index.tsx
Due: eslint --fix

Linter fixes
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/ExtensionDetails.css
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtensionBody/WhitelistExtensionBody.tsx
Due: eslint --fix, stylelint --fix

Add redux types for uploading addresses
  src/redux/actionTypes.ts
Due: eslint --fix

Display correct label depend on state
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css.d.ts
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.tsx
Due: eslint --fix, stylelint --fix

Add UploadAddressesWidget and basic styles for input
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css.d.ts
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/index.ts
  src/modules/dashboard/components/Extensions/WhitelistExtension/WhitelistExtension.tsx
Due: eslint --fix, stylelint --fix

Update translations formatting
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.tsx
Due: eslint --fix

Remove not used components
  src/modules/dashboard/components/Extensions/ExtensionDetails.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.tsx
  src/modules/dashboard/components/Extensions/WhitelistExtension/WhitelistExtension.tsx
  src/redux/types/actions/colony.ts
Due: eslint --fix

Display fileUpload component
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.css.d.ts
  src/modules/dashboard/components/Extensions/WhitelistExtension/UploadAddressesWidget/UploadAddressesWidget.tsx
  src/redux/types/actions/colony.ts
Due: eslint --fix, stylelint --fix

Move WhitelistExtension to dashbord/Whitelist module
  src/data/staticData/extensionData.ts
  src/modules/dashboard/components/Extensions/WhitelistExtension/index.tsx
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/UploadAddressesWidget.css
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/UploadAddressesWidget.css.d.ts
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/UploadAddressesWidget.tsx
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/index.ts
  src/modules/dashboard/components/Whitelist/Whitelist.tsx
  src/modules/dashboard/components/Whitelist/index.tsx
Due: eslint --fix, stylelint --fix

Feat: add `TextArea` to `ExtensionDetails`
  src/modules/dashboard/components/Extensions/ExtensionSetup.css
  src/modules/dashboard/components/Extensions/ExtensionSetup.css.d.ts
  src/modules/dashboard/components/Extensions/ExtensionSetup.tsx
Due: eslint --fix, stylelint --fix

Add MIME_TYPES to file upload
  src/modules/dashboard/components/Whitelist/UploadAddressesWidget/UploadAddressesWidget.tsx
Due: eslint --fix

Feat: add `agreement` init param to `Whitelist` extension
  src/data/staticData/extensionData.ts
Due: eslint --fix

Added ColonyPolicySelector component
  src/modules/dashboard/components/Extensions/ColonyPolicySelector/ColonyPolicySelector.css
  src/modules/dashboard/components/Extensions/ColonyPolicySelector/ColonyPolicySelector.css.d.ts
  src/modules/dashboard/components/Extensions/ColonyPolicySelector/ColonyPolicySelector.tsx
  src/modules/dashboard/components/Extensions/ColonyPolicySelector/index.tsx
Due: eslint --fix, stylelint --fix

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.css
